[2016-05-02 20:47] cscherrer opened #2 "julia-config error on Ubuntu 16.04"
On Ubuntu 16.04, starting with a fresh Julia install, I'm getting the following error. Could there be an undocumented dependency?

[code]

[2016-05-02 21:00] adscib commented on #2
How did you install Julia? We rely on a directory layout used by precompiled distributions. If you build from source julia-config.jl ends up in a different place and our script for building dependencies can't find it.

If you want to build Julia from source, I believe there is an option to create a tarball, although I can't find it at the moment. If you use that then Turing should work. Another op

[2016-05-02 21:11] cscherrer commented on #2
I just did `sudo apt-get install julia`. Shouldn't be anything unusual.

[2016-05-02 21:16] adscib commented on #2
Can you show me the output of
``ls `julia -e 'print(joinpath(JULIA_HOME,Base.DATAROOTDIR,"julia"))'` ``

[2016-05-02 21:27] cscherrer commented on #2
[code]

[2016-05-02 21:45] adscib commented on #2
OK, thanks. Looks like we have portability issues with our dependencies. We'll fix that as soon as possible. I don't have access to an Ubuntu machine right now, so if you want a quick fix the best I can offer you at the moment is the following.

Find the julia-config.jl file. Should be somewhere in the directory where Julia is installed. Then go to ~/.julia/v0.4/Turing/deps/ and edit Makefile line

[2016-05-02 22:17] cscherrer commented on #2
After this it still complained about missing header files. I finally got it to build by uninstalling Julia and using [the PPA](https://launchpad.net/~staticfloat/+archive/ubuntu/juliareleases) instead.

[2016-05-03 08:50] adscib commented on #2
I'm glad to hear you eventually found a way to run it.

@yebai do you have any ideas what we could do about this problem?

[2016-05-03 13:00] yebai commented on #2
This issue seems to be related with Ubuntu's customised build of Julia. I don't know how to fix this without a Ubuntu machine, and I am not sure we should fix it. We could recommend all developers to install Julia from Julia's official [release website](http://julialang.org/downloads/).

[2016-05-11 16:04] yebai opened #5 "Enable automated test for Windows"
We've enabled automated test for Unix and Mac. It makes sense to also enable automated test for Windows. An example configuration file can be found at [link](https://github.com/ozanarkancan/ReinforcementLearning.jl/blob/master/appveyor.yml ).

[2016-05-11 16:05] yebai opened #6 "Standardised output for inference algorithms"
The current form for reporting results is a bit arbitrary.  It makes sense to standardise output and report results in the form of joint posterior.

FYI. The [Mamba.jl](http://mambajl.readthedocs.org/en/latest/) package has a format for reporting Monte Carlo results. It is also the default format for [Stan.jl](https://github.com/goedman/Stan.jl). But we might need to adapt this format to store sam

[2016-05-11 16:08] yebai opened #7 "Automated benchmarking for Gibbs, HMC"
We need to write some automated benchmarking scripts for Turing. These benchmarking scripts can include both running time and predictive performance comparisons. We can also compare to other systems like [Anglican](http://www.robots.ox.ac.uk/~fwood/anglican/), [LibBi](http://libbi.org/).

[2016-05-13 13:36] yebai opened #9 "Make a `readthedoc` website."
Create a readthedoc website, see e.g. [Distributions](https://github.com/JuliaStats/Distributions.jl/tree/master/doc)

[2016-05-16 11:37] xukai92 commented on #9
I just initialise the readthedoc here: https://github.com/xukai92/Turing.jl/tree/docs/docs.

[2016-05-16 16:03] yebai commented on #9
@xukai92 looks nice - thanks, Kai! Can you merge your repo with the main Turing repo, by e.g. putting everything inside your repo under `doc/`?

[2016-05-16 21:09] yebai commented on #5
Thanks to @evsmithx.
This is now working with `julia-w32`. To make the test work with `julia-32`, it seems that some additional work are needed: figure out a way to build 64bit binary on appveyor.

[2016-05-22 15:32] #9 closed

[2016-05-22 15:35] #5 closed

[2016-05-22 15:38] yebai commented on #2
We can con

[2016-05-22 15:38] #2 closed

[2016-05-24 15:56] yebai opened #13 "Summarise `Chain` in `io.jl`."
The current `Chain` type dump all fields to the console by default. A potential better way is to Summarise the results, e.g. print the `mean` and `variance`. This can be done by using the [weighted](http://statsbasejl.readthedocs.io/en/latest/means.html#mean) `mean` function etc in the [StatsBase](http://statsbasejl.readthedocs.io/en/latest/weightvec.html) package.

[2016-05-24 15:59] yebai opened #14 "MCMC convergence metrics"
It's helpful to implement some utility functions for the `Chain` type for inspecting samples from various MCMC samplers, e.g.:
- IAT: integrated autocorrelation time: http://search.r-project.org/library/LaplacesDemon/html/IAT.html
- ESS: effective sample size: http://search.r-project.org/library/LaplacesDemon/html/ESS.html
- MCSE: Monte Carlo standard error: http://search.r-project.org/library/Lap

[2016-06-06 10:47] evsmithx commented on #13
Resolved in #17

[2016-06-06 10:47] #13 closed

[2016-07-14 21:42] xukai92 opened #19 "Implementation of the HMC sampler"
I'm gonna put issues about implementing the HMC sampler here.

One of them is about the compiler. I wonder why we convert the `@observe x ~ Distribution(params)` to the `logpdf()` statement in the compiler level instead of doing this inside the sampler?

It makes me hard to pass `Dual` type to my custom distribution wrapper in order to get the gradient information.

Do you think I need the amend t

[2016-07-18 11:51] adscib commented on #19
I'm pretty sure it was not intentional to do things this way. The right thing to do is modify the compiler to call the sampler-specific `observe` method, much like for `assume`, and do all the actual work there.

[2016-07-19 17:11] xukai92 commented on #19
I agree with you. I will amend the compiler to make them consistent.

[2016-07-20 11:51] xukai92 commented on #19
@yebai The implementation to replay priors I showed you last time is too naive. It fails when there is loop like

[code]

as the dictionary would store key of `xs[i]` literally.

I may try to solve this issue by letting the program pass key like `xs[1]` but I wonder can the `TArray` data structure solve this problem?

[2016-07-22 13:04] adscib commented on #19
Thanks. Since it will probably take a while before HMC is incorporated into Turing, it would be great if you could submit a separate patch fixing the compiler that we can accept now.

[2016-08-06 17:05] adscib opened #21 "Remove predict"
This is a suggestion from Brooks, which I support, to remove `@predict` in favour of standard `return`. It accomplishes the same goal without introducing new syntax. Also the experience of Anglican team indicates that people often associate `@predict` with the posterior predictive distribution, which is clearly not what it is.

[2016-08-19 14:23] yebai opened #22 "Development branch is broken."
@xukai92 could you have a look at https://travis-ci.org/yebai/Turing.jl/builds/153336076 and see what breaks the development branch? Seems like merging HMC introduces some incompatibility issues.

[2016-08-19 14:24] yebai commented on #21
It is OK to rename it, any ideas?

[2016-08-19 15:21] xukai92 commented on #22
I found that the issue comes from `@assume` marco used in the file `src/distributions/bnp.jl`. Basically if you comment out Line 11 `@assume c ~ Categorical(weights)` in `src/distributions/bnp.jl`, all tests pass.

The reason this give error is that I added some `dprintln()` functions for each marco in `src/core/compiler.jl` to help debug the compiler, and the macro in the `bnp.jl` file is transla

[2016-08-19 15:27] xukai92 commented on #21
`@request` or `@output` sound more natural for the purpose of this macro.

[2016-08-19 18:20] adscib commented on #21
Renaming is certainly possible, but do we need this macro at all? Can't we
just use return?

Adam

[2016-08-19 20:26] yebai commented on #22
I've fixed this issue by moving the definition of `dprintln` before including `bnp.jl`, the reason should be self-evident - see f4602daade4d6a9f0f617cebc94d5b7e3bbb9be0 for details.

[2016-08-19 20:32] yebai commented on #22
CI for development is still broken (see https://travis-ci.org/yebai/Turing.jl/jobs/153668257). It seems some further issues still exist.

[2016-08-19 20:33] yebai opened #23 "Fix SMC2 sampler."

[2016-08-19 23:24] xukai92 commented on #22
Fix by adding `DualNumbers` to the dependency file `REQUIRE` (CI passed: https://travis-ci.org/yebai/Turing.jl/builds/153704082).

[2016-08-19 23:24] #22 closed

[2016-08-26 02:52] #19 closed

[2016-08-31 15:45] yebai opened #24 "ddistribution bug"
The HMC branch introduces a bug to the compiler, basically the `assume` macro converts all distributions to ddistribution type. This causes problems for distributions without corresponding distribution type.

[2016-08-31 17:28] yebai opened #25 "TBD: Sampler output interval."
We need to introduce an interval for outputting sampler status, and keep it consistent across all samplers.

[2016-08-31 20:10] xukai92 commented on #24
I use the same way you did in [Fix ddistribution issue](https://github.com/yebai/Turing.jl/commit/93d39209a2c8029c7933a02451463b52e9befb10) but also do the same for `@observe`.

I tested it by writing a model with a undefined dDistribution type, which works now.

[2016-09-02 14:25] #24 closed

[2016-09-02 16:41] xukai92 opened #27 "Merge notebooks into development"
@yebai When do you plan to merge the two branches?

[2016-09-02 16:44] yebai commented on #27
I will give a try tonight.

[2016-09-04 20:14] #27 closed

[2016-09-09 22:55] xukai92 opened #28 "Notebooks using codes from the development branch"
Hi @yebai , our notebooks actually uses the development version of Turing. Do you think we need to add codes to switch from master to development in the `01-Introduction.ipynb`?

[2016-09-11 21:30] yebai commented on #28
Sounds like a good idea! Can you modify `01-Introduction.ipynb` to reflect this?

[2016-09-12 18:25] xukai92 commented on #28
I will do it tonight.

[2016-09-12 20:11] xukai92 commented on #28
I also add instructions to do the building and testing.

[2016-09-12 20:11] #28 closed

[2016-09-22 08:14] xukai92 opened #29 "Plan for adding comments"
We really need better comment practice for our source code. I guess we can start to improve it by assigning those source code to who wrote it.
## Note on how to comment

Using `"""` to add comments before functions so that they can be captured by `Base.Docs.binding` (more practice see [documentation](http://docs.julialang.org/en/release-0.5/manual/documentation/))

This style of documentation can

[2016-09-22 10:31] xukai92 opened #30 "Improving the HMC sampler"
~~Here is my plan for the improvement of the HMC sampler (with priorities from high to low)~~

Progress:

- [x] Replace `dDistribution` with `Distribution`
~~- [ ] Replay detection for each prior variable~~
~~- [ ] Implement NUTS~~
~~- [ ] Implement the reverse mode of AD~~
- [x] Separate gradient computation from the actual HMC sampler. This makes it easier to use gradients for other purposes, e.

[2016-09-22 10:41] xukai92 commented on #30
Another question about the HMC is: shall we keep both normal HMC and NUTS in the same time?

By the way, the new [MHMC](http://arxiv.org/pdf/1607.02738v1.pdf) also looks cool. Maybe we can also implement it.

[2016-09-22 17:15] yebai commented on #30
@xukai92 Let's keep HMC and NUTS separate for now.

Agreed : )
cc'ing @nileshtrip

[2016-09-22 17:26] yebai commented on #29
Thanks for the suggestions. I agree that we should gradually add comments to previous code and keep this issue updated. @adscib @xukai92 @matejbalog

[2016-09-22 17:32] yebai commented on #30
Let's first re-implement AD without `dDistribution` within the next 1-2 weeks.

[2016-09-23 00:37] xukai92 opened #31 "Re-organise/re-structure the source code"
We need a plan for better organisation of the source code. We can collect issues regarding this here.

For example, code in `/src/core/intrinsic.jl` seems to be only relevant to samplers (and a bit messy). It would be easy to maintain if we move it to `/src/samplers/` (or sub-folder).

[2016-09-23 15:10] xukai92 commented on #30
@yebai I was working on it yesterday. Basically the replacement of `dDistribution` with `Distribution` was a very quick fix but there still so potential problems with the `Distribution` package.

Although all the distributions support `Dual` as parameter types now, some of them (like `Beta`) are dependent on external packages which only supports `Float64` (see this [issue](https://github.com/Julia

[2016-09-23 16:23] adscib commented on #31
I am unhappy about the frequent use of `include`. For me it is often the case that I look at a file, see that it uses some undefined functions, and then I don't know where to locate them. In order to find the definition not only do I need to search all the files included from this one, but also all files that include it, perhaps indirectly. In other words I need to traverse the hierarchy of source

[2016-09-24 12:35] xukai92 commented on #31
@adscib I have the same feeling as you.

For the problem you mentioned, I agree that modularisation is a good solution. Also, we could add "where this function is located" in the comment section, and in IDEs like Juno (Atom), we can check it quickly by using the documentation toggle feature.

[2016-09-26 10:11] adscib commented on #23
Here's a design sketch for SMC2 implementation.

We make the following assumptions on the model to which SMC2 is applied:
1. All calls to `param` are made at the beginning of the program, that is before any calls to `assume` or `observe`.
2. All parameters are continuous.
3. The dimension of the parameters vector is the same in all possible execution paths. We can later modify this assumption to a

[2016-09-27 14:01] yebai commented on #23
Making assumptions about `param` explicit is a good idea. I did not find anything missing in this list : )

I spent some time thinking about the implementation sometime ago, below are some notes:

Requirements:
- R1: Able to share theta's across x-particles belonging to the same theta-particle.
- R2: In the resampling step for theta particles, we need to duplicate theta-particles.
- R3: In the mut

[2016-09-27 14:25] yebai commented on #30
Thanks for the info - I will have a look at these tonight.

[2016-10-20 18:56] xukai92 commented on #7
My banchmarking script is located at: https://github.com/xukai92/TuringBenchmarking

[2016-10-29 01:11] xukai92 opened #32 "Tests not pass for Julia v0.5"
Tests do not pass for v0.5.

I looked into the errors and also did the test on my machine, finding that the `SMC` and `PG` engines seem to be broken. I guess it may be resulted from the update of `task.c` ?

[2016-11-03 16:58] yebai commented on #32
The issues are causes by

1. A bug for incorrect overriding previously defined functions in Julia 0.5: fixed by avoiding overriding function definitions in tests.
1. A bug in TArray: to be fixed

There are also various warning messages when loading Turing in Julia 0.5. It makes sense to keep a separate branch for Julia 0.5 until all issues are addressed.

[2016-11-07 22:45] xukai92 commented on #30
Hi Hong, just done the re-write for Beta and Gamma and it works fine in my local dirty `StatsFuns.jl`. But I don't know how to overload them *within* `Distributions.jl` - it seems that simply reloading them in `Turing.jl` will not make `Distributions.jl` use the new definitions. Any idea?

[2016-11-08 14:18] xukai92 commented on #30
My fork of `StatsFuns.jl`: https://github.com/xukai92/StatsFuns.jl

[2016-11-08 14:27] xukai92 commented on #30
Hi Hong I just pushed my new version which removes `dD` dependency with some new tests. I'm gonna clean up & add new test files this afternoon.

[2016-11-08 16:49] xukai92 opened #33 "Improve test coverage"
Out test coverage is 68% for the development branch at this issues is post, and I am aiming to improve it to over 90%. There are fews things need to be known for all.

- [x] Test coverage reaches 90%

**Keep `runtest.jl` structured**

Please check the new `runtest.jl` file. When adding new tests in the future, keep it structured using the current way so that we can tell which source file we are te

[2016-11-08 16:52] xukai92 commented on #29
I've done one for my `replay.jl`. Please check the file [replay.jl](https://github.com/yebai/Turing.jl/blob/development/src/samplers/support/replay.jl) as a reference of comments binding.

And any suggestions on the comments style is welcome!

[2016-11-08 20:56] xukai92 opened #34 "Move notebooks into a submodule"
I think it is better to keep examples in a single repository as a [submodule](https://git-scm.com/book/en/v2/Git-Tools-Submodules) in `Turing.jl`. How do you think?

[2016-11-08 21:27] xukai92 commented on #30
@yebai I managed to resolve the overload issue of `StatsFuns.jl` within `Turing.jl` so that you don't have to use my fork of `StatsFuns.jl` to run HMC now.

[2016-11-08 22:54] xukai92 commented on #33
I looked into the detail of test coverage and wonder if those functions that haven't been used are just abandoned.

[2016-11-09 16:27] yebai commented on #33
I can't remember what functions are not used; can we remove obviously obsolete functions, but keep potentially useful functions somewhere separately (ie. not affecting test coverage).

[2016-11-09 16:28] #23 closed

[2016-11-09 16:28] #21 closed

[2016-11-09 16:32] yebai commented on #33
It makes a lot sense to do it this way!

Yes, I will take a look!

[2016-11-09 16:34] yebai commented on #33
PS. can we create a separate branch (e.g. test-coverage) and keep all work related there?

[2016-11-09 16:35] #25 closed

[2016-11-09 18:12] yebai opened #35 "Temporary fix for package conficts"
This is a remainder that 076844df984555272eb5ba2fff28d40749c24eb6 contains some temp fix in

- appveyor
- travis

 in order to fix package conflicts when using the newest version of Distributions.jl.

We need to remove these stuff when there are new releases of relevant packages.

[2016-11-09 20:50] xukai92 commented on #33
I guess we can either

- Create a branch called old-development and come back when some functions are needed, or
- Create a folder called old-src or something in the root path of Turing

Which one do you think is better?

I wonder whether a separate branch for test coverage is a good idea as we need keep running these updated testes for our updated code.

[2016-11-10 11:51] yebai commented on #33
Let's do this.

In general we should avoid commit work in progress directly to development or master. Instead, we can keep a new branch for each new task, and create a PR towards to development/master when it is done.

[2016-11-10 17:58] xukai92 commented on #33
The coverage is 85% after removal these files.

Yeah! I'll stick to this as well.

BTW, do you keep the `old-development` locally?

[2016-11-10 18:45] xukai92 commented on #33
@yebai I wonder if `src/distributions/distributions.jl` should also be removed?

[2016-11-11 21:37] yebai commented on #32
Fixed by #38

[2016-11-11 21:37] #32 closed

[2016-11-11 22:29] xukai92 opened #39 "Multivariate distribution support broken in HMC for v0.5"

[2016-11-11 22:49] xukai92 opened #41 "Automatic generated doc using docstring"
We need to remove the current `doc` and use the automatic generate doc API to generate it.

[2016-11-12 21:55] xukai92 opened #42 "@assume with Binomial fails"
`@assume z ~ Binomial()` gives `LoadError: BoundsError: attempt to access 1-element Array{Any,1} at index [2]`

[2016-11-14 15:56] #42 closed

[2016-11-14 15:57] xukai92 commented on #42
Fixed by making compiler support optional parameter for distributions without parameter.

[2016-11-14 15:58] xukai92 opened #44 "Replace symbol with Symbol for Julia v0.5"
Keeps getting this deprecated WARNING msg.

[2016-11-14 20:47] yebai commented on #44
This has been fixed in the master branch. We should merge changes in the master branch back to development when possible.

[2016-11-14 20:59] yebai commented on #29
Docs building is currently broken for the development branch.

BTW, did you remove all previous docs? I think we might still need to keep them. Ideally we should write all docs with docstring, but this might be hard in some cases, e.g. documentation that does not belong to any source file.

[2016-11-14 21:06] yebai opened #47 "Prepare development branch for Julia 0.5"
There are some changes in the master branch that prepares Turing for Julia 0.5. Since we are shifting to Julia 0.5 gradually, it makes sense to merge changes in the master branch back to development branch.

[2016-11-14 21:07] yebai commented on #44
Closed in favour of #47.

[2016-11-14 21:07] #44 closed

[2016-11-14 22:10] yebai commented on #35
Closed by #48

[2016-11-14 22:10] #35 closed

[2016-11-14 22:16] yebai opened #49 "Create tests for passing dual types to Distribution constructor"
We should create a test for passing dual types to Distribution constructors, e.g.

[code]

The test can include most common distributions (gamma, beta, normal, mvnormal etc).

This parallels with the test for passing dual types to `logpdf` [function](https://github.com/yebai/Turing.jl/blob/master/test/pass_dual_to_dists.jl).

[2016-11-14 22:16] xukai92 commented on #41
The Julia theme is broken.

[2016-11-15 14:10] #41 closed

[2016-11-15 16:44] #29 closed

[2016-11-15 18:10] #39 closed

[2016-11-15 18:10] #33 closed

[2016-11-15 18:41] xukai92 commented on #31
I merged `sampler.jl` and `intrinsic.jl`. I guess that's the only obvious thing we can do now and we've already removed those unused files. Shall we close this issue?

[2016-11-15 21:09] xukai92 commented on #39
Fixed by 655800adca1f9eb05c384935f5b04b5044235a58

[2016-11-15 21:28] yebai commented on #31
Closed by #54

[2016-11-15 21:28] #31 closed

[2016-11-16 13:52] yebai opened #55 "New Interface Design"
We have some undecided interface issues since the introduction of the Hamiltonian Monte Carlo (HMC) sampler. More specifically, we need an interface to tell the HMC sampler which variable it should handle. In addition, we also need a way to compose samplers (e.g. Gibbs sampling subsets of variables with different samplers). To solve these issues altogether, I propose the following new interface.

[2016-11-16 14:41] yebai commented on #47
Closed by #48

[2016-11-16 14:41] #47 closed

[2016-11-16 14:44] yebai opened #56 "MCMC output"
The current form for reporting MCMC output is a bit arbitrary.  It makes sense to standardise the output and report results in the form of joint posterior.

It's also helpful to implement some utility functions for the Chain type for inspecting samples from various MCMC samplers, e.g.:

IAT: integrated autocorrelation time: http://search.r-project.org/library/LaplacesDemon/html/IAT.html
ESS: effec

[2016-11-16 14:45] yebai commented on #6
Closed in favour of #56

[2016-11-16 14:45] #6 closed

[2016-11-16 14:49] yebai commented on #14
Closed in favour of #56

[2016-11-16 14:49] #14 closed

[2016-11-16 16:48] yebai commented on #34
Closed by #57

[2016-11-16 16:48] #34 closed

[2016-11-17 12:39] yebai commented on #30
Further improvements

- Separate gradient computation from the HMC sampler. This makes it easier to use gradients for other purposes, e.g. sharing code between HMC and NUTS.

Some missing features of the HMC sampler:

- Support [matrix type](http://distributionsjl.readthedocs.io/en/latest/matrix.html) random variables
- Prepare HMC sampler for compositional inference interface, see #55

- Support

[2016-11-18 04:08] xukai92 commented on #56
In addition to these features, let's also add a verbose flag to control the intermediate sampling info (like [PG]: Iter ...), which can lead to clear test log by turning it off in tests.

[2016-11-18 14:08] xukai92 opened #62 "The hierarchy of samplers"
I wonder if we should create a better hierarchy for samplers. The current was seems a bit arbitrary: we use `ParticleSampler` in the default sample function and overload some in their own place (IS and HMC). Also, when I split AD from HMC, I put the type of sampler it can accept as `GradientSampler`, which could be meaningful for future work.

Shall we try to design something like this:

[code]

[2016-11-19 10:41] xukai92 commented on #30
@yebai I edited your comments into a checkbox format so we can check the progress easily.

[2016-11-21 11:11] xukai92 commented on #30
@yebai Regarding the matrix support, after running the HMC sampler for this model (below) for a few iterations, I get an error like this.

[code]

I feel it's not an error of my implementation of matrix support. I wonder maybe I need to do some tricks to ensure the symmetric nature of the matrix to use HMC for this distribution?

Model:

[code]

[2016-11-21 12:01] yebai commented on #30
We need to solve the constrained variable issue in order to make this example work.
This is because the Wishart distribution has a constrained support, proposals from an HMC sampler can violate such constraints, e.g. propose `p` that has zero probability.

A possible way to make your test pass is to overload the `logpdf` function of Wishart, and return zero for variables that is off support. We ca

[2016-11-21 16:40] xukai92 commented on #30
I see. Will try it tonight.

[2016-11-28 22:03] xukai92 opened #64 "Optimizer in Turing"

[2016-11-28 22:20] xukai92 commented on #30
@yebai Can you point me to the Stan paper where gives details on how to deal with constrained variables?

[2016-11-28 22:26] yebai commented on #30
It is part of Stan's [documentation](https://github.com/stan-dev/stan/releases/download/v2.12.0/stan-reference-2.12.0.pdf) (chap 58).

[2016-11-28 22:27] xukai92 commented on #30
Many thx!!

[2016-11-29 15:40] #49 closed

[2016-11-29 21:07] xukai92 commented on #7
I'm going to look into using `BenchmarkTools.jl` to do this.

[2016-11-29 21:41] yebai commented on #7
Looks good!

PS. another tool for benchmarking https://github.com/lindahua/BenchmarkLite.jl . This package might be simpler to use and is the benchmarking tool used by Distributions.jl

[2016-11-30 12:01] yebai opened #65 "Parallel Sequential Monte Carlo"
I looked into the newly released `Threads.@threading` construct in Julia 0.5. It seems that adding parallelization feature to SMC is simple - could be done in a few lines of code (see the `parallelsmc` branch).

However, the `threading` feature in Julia is still quite fragile (see [here](https://github.com/JuliaLang/julia/issues/14494)). I be also filed a [bug](https://github.com/JuliaLang/julia/i

[2016-11-30 12:08] yebai commented on #62
The main purpose of the sampler hierarchy is to correctly dispatch `assume` and `observe` calls. Since we are replacing these methods in #55, we might be able remove this hierarchy when #55 is done.

[2016-11-30 17:10] xukai92 commented on #62
I see. It makes sense. And for my problem we've already decomposed AD from samplers so it is also solved. I guess we can close this issue now.

[2016-11-30 17:10] #62 closed

[2016-12-02 15:32] yebai commented on #55
Here is a summary of the naming scheme we've discussed. One simple solution is to use the following scheme:

[code]

Here `varname` is the name of a variable, e.g.`x`, `m`, or `s`; moreover `idx1`, `idx2` etc are the indices for multiple dimensional variables. For scalar type variables, the name would simplify to `varname`.

There is one potential drawback with this naming scheme. To illustrate th

[2016-12-05 22:25] xukai92 commented on #30
I implemented more distributions I can do in `StatsFuns.jl` this afternoon. For now, all, other than discrete ones and noncentral ones, are done.

I guess we can't do more for `StatsFuns.jl` for now so wait for the PR (https://github.com/JuliaStats/StatsFuns.jl/pull/21) to be accepted.

[2016-12-06 21:57] xukai92 commented on #30
Some concerns about constrained support:

1. I feel that we don't actually need density transformation because all we need is an valid leap-frog step in HMC - so I just 1) transform variable from X to R, 2) move in R, 3) transform from R back to X. I think this is still correct. How do you think?
2. When constrained variable and unconstrained variables are in the same model. I found that the accep

[2016-12-13 10:02] yebai commented on #30
We do need these transformed densities. Simply transform X to R before the hamiltonian integration steps and transform R' back to X' won't produce correct samples. This is because the transform is non-linear, thus the hamiltonian energy needs to be corrected by the Jacobian matrix in order to compute MH accept ratio correctly. A possible good reference is Radform Neal's [HMC review paper](https://

[2016-12-15 17:56] xukai92 opened #67 "HMC: add pre-conditioning (mass) matrix"
For discussion of error caused by large step size  here: https://github.com/yebai/Turing.jl/pull/66#issuecomment-267395730

[2016-12-15 22:20] yebai commented on #30
Seems we can close this issue now?

[2016-12-15 23:04] xukai92 commented on #30
Yes! Let me close it.

[2016-12-15 23:04] #30 closed

[2016-12-16 04:08] xukai92 opened #68 "Stochastic Hamiltonian Monte Carlo"
The Stochastic HMC can use the current code with only making some changes to `observe()`:

1. Count the total number of observations in the first run of the model
2. For later iterations
  i. Choose a subset of observations for each iteration (according to `obs_frac` (observation fraction) set by user)
  ii. Only accumulate logpdf of those chosen observations (Note: the subset is fixed for each HM

[2016-12-16 04:09] xukai92 opened #69 "Coverage check fail"
I guess it's due to my new way to run tests. Need to fix it ASAP.

[2016-12-20 15:07] xukai92 commented on #55
Meeting summary:
1. Agree to option 1

Plan:
1.1 Support new naming scheme
1.2 Remove `@assume` `@observe` and `@predict` - just keep `~`

2.1 Implement the composition interface, i.e.

translate mumtiple sampler passed

[code]

to

[code]

[2016-12-20 16:36] xukai92 commented on #69
Fixed by b8f20388f3012e9d99181c2af4815afcae4af9d0

[2016-12-20 16:36] #69 closed

[2016-12-22 13:10] xukai92 commented on #55
Regarding the new naming scheme, will it be good if we just name them like below?

[code]

It looks more straightforward and can easily distinguish between array of array and matrix.

[2016-12-22 16:33] xukai92 commented on #55
Regarding the new interface, I feel we still need the `@model` macro because for the case below

[code]

We will need to add a statement in the beginning of the function saying

[code]

Otherwise the there will be no local `x` to use.

[2016-12-22 21:52] yebai commented on #55
I agree. It makes sense to keep it.

This makes sense. One minor question, can we use `x[1][1]` instead of `(x[1])[1]`?

[2016-12-23 02:11] xukai92 commented on #55
Yes sure, could use `x[1][1]`!

[2016-12-25 17:46] xukai92 commented on #55
When we compose two samplers, e.g. `HMC(...)` and `PG(...)`, is it true that we do Gibbs sampling by 1 HMC step, 1 PG step, iteratively?

[2016-12-27 03:39] datnamer opened #71 "Questions"
Hello,

Great package. I have some questions if anyone has a second.

1. Is there a posterior predictive check method?
2. Can the random variables be used in any arbitrary julia function?
3. Are there plans for variational inference?
4. Have you done any benchmarking vs stan?
5. How does stochastic control flow work from the user perspective?

Thanks!

[2016-12-27 09:52] xukai92 commented on #68
Wrong way to do this. Will re-do it after new interface.

[2016-12-27 09:52] #68 closed

[2016-12-27 10:27] xukai92 commented on #71
Hi,

Thanks for you questions.

1. Not now - but it will be available just in the next release.
2. Yes - you can plug arbitrary *pure* Julia function, i.e. function does not simply call some external Python/C++ libraries
3. Not now - we currently focus on sampling methods
@yebal Do you have plan for VI?
4. Not for the current version - the current implementation of gradient based method is not com

[2016-12-27 15:58] datnamer commented on #71
Very cool, thanks.  Maximum a posteriori would be of interest to simulate max likelihood methods.

[2016-12-27 20:12] yebai commented on #55
We can do that by default. It is also possible to add a optional parameter `iter` to allow the user to indicate the number of iterations inside a Gibbs scan:

[code]

[2016-12-27 20:15] yebai opened #72 "Maximum a posteriori (MAP) inference."

[2016-12-27 20:25] yebai commented on #71
It is a good suggestion. I've created a feature request #72 for this, check it back later.

So far we've been focusing on sampling methods for inference.  The work on VI has been discussed but we haven't got a concrete plan yet. It would be interesting to see some more detailed suggestions here.

[2016-12-31 14:57] xukai92 commented on #55
I nearly finish the Gibbs sampling feature, with few things unsure. One of them is about using HMC and PG together: when a HMC step is rejected, should I reject the whole Gibbs step, or just reject the HMC part?

I guess it will be better for me to make a PR first so that we can deal with existing issues together. I will make a PR this afternoon.

[2017-01-01 23:58] xukai92 commented on #56
I adapted the code from `Mamba.jl` for MCSE and ESS (#74). Do you have a reference for IAT in detail? (or maybe I don't really need it as we already have ess).

[2017-01-02 19:54] yebai commented on #56
I've merged this PR.

We don't really need IAT for now - I have a plan to use Mamba's `Chain` type to store Turing's MCMC output. It will allow us to share summary statistics functions and plotting utilities from the Mamba package systematically. We can talk more about this later and maybe implement it in the next release.

[2017-01-11 14:58] xukai92 opened #76 "Remove hacking codes for `StansFun.jl`"
The PR for `StatsFun.jl` is accepted. We can remove the hacking code now.

[2017-01-13 19:32] xukai92 commented on #76
@yebai Yes! https://github.com/JuliaStats/StatsFuns.jl/pull/21

[2017-01-23 14:15] yebai commented on #55
Some updates since PR #73. The new bit is:

- how we **pass in** data variables: The basic idea is to introduce a new data type `Data`, which implicitly constructs a data dictionary and stores all data variables in this internal dictionary. Moreover, passing in data variables through global variables should be depreciated later.
- add a new type `Gibbs`, which allows us to compose different sample

[2017-01-24 22:36] xukai92 opened #77 "Further work for the Gibbs PR"
### Discussion

- ~we need a consistent output of model (i.e. return) and storage of predicts~
- ~we need to discuss the consistent way of using task.storage~

### Enhancement

- [x] the naming issue of x[i,j,k] and x[i,j][k]
- [x] allow user to step how many steps each sampler in Gibbs sampling is run
- ~the current implementation has a bad performance (speed)~
- ~unify the way of storing and pro

[2017-01-25 10:44] yebai commented on #77
It seems the HMC sampler constructor is broken. Running the following code would throw an error

[code]

[2017-01-27 16:02] xukai92 commented on #77
Which version (commit) do you meet this error?

[2017-02-01 14:42] xukai92 commented on #77
Do you think it's better to keep both `VarInfo` and `Sample` and convert between them when necessary or use one data structure only?

[2017-02-01 19:37] yebai commented on #77
It is working now with the most recent `new-interface`. I might be using some intermediate commit.

It makes sense to unify these data structures. However, let's focus on bug fixing and make it a TODO item for the next release.

[2017-02-01 19:40] yebai commented on #76
Fixed by 445a23ea291aad613ff24774c0d44c07e4fc779f

[2017-02-01 19:40] #76 closed

[2017-02-01 19:46] yebai opened #78 "More tests for the Gibbs sampler"
Maybe we should implement some models from the [Stan examples](https://github.com/stan-dev/example-models) repo and compare Stan's result with Turing's result. This would allow us more systematically test our Gibbs sampler and provide some insights to the efficiency of current code.

For a start, we could implement some models in the `basic_estimator` folder and `misc` folder?

[2017-02-02 06:54] xukai92 commented on #78
Good suggestion! Will do it along with bug fixing.

[2017-02-06 13:02] xukai92 commented on #55
Regarding the introduction of the new `Data` type, I'm thinking of doing this job along with unifying the dictionary (used by `@predict`) and `VarInfo`, because basically what these 3 data structure do is to relate a symbol (variable) to a value (uni/multi/mat/array). Does it make sense?

[2017-02-11 23:48] arnim commented on #78
Hi,

great library!
While I'm rather new to it I stumbled upon a small issue

[code]

work. However

[code]

gives me

`
MethodError: no method matching mcmcstats(::Array{Array{Float64,1},1})
Closest candidates are:
  mcmcstats{T<:Real}(::Array{T<:Real,1}) at /home/juser/.julia/v0.5/Turing/src/core/io.jl:160
  mcmcstats{T<:Real}(::Array{T<:Real,2}) at /home/juser/.julia/v0.5/Turing/src/core/io.jl:

[2017-02-12 00:05] yebai commented on #78
Hi Arnim,

there is a small bug in the print function for `Chain`, which stores the samples from a sampling algorithm.  The following code with an extra semi-colon runs fine

[code]

We will fix this bug in the next release.

Thanks

[2017-02-12 00:09] yebai commented on #78
BTW, the current master branch contains some (major) ongoing  refactoring of the interface, the result should not be trusted too much for the moment. This should gets better in the next new release.

[2017-02-12 18:45] arnim commented on #78
Thanks @yebai for your quick response.
For now something like in [stan-models/naive_bayes.jl:25](https://github.com/yebai/Turing.jl/commit/3968f0cd8ea557bf5c908308d470163b8c0d58d6#diff-bb6a6dfe9ac099984378069b8e572a4dR25) should do the trick of inspecting.

Let me know when I can help.
Really like the intuitive way of defining programs.

Best
Arnim

[2017-02-23 15:48] yebai opened #80 "More tests for Gibbs constructor"
We should have a list of tests for the Gibbs constructor. The current implementation is a bit fragile and incomplete. For example, we should at least test the following cases:

1. Gibbs(HMC(..., :s, :m))
2. Gibbs(PG(...,:s, :m))
3. Gibbs(HMC(...,:s), PG(:s))
4. Gibbs(PG(:s), HMC(:m))

[2017-02-23 16:32] yebai commented on #80
Closed by 8935218d44b46fa241f13d05e1f131ba08186e09

[2017-02-23 16:32] #80 closed

[2017-02-23 16:46] yebai opened #81 "Fix `return` bug"
@xukai92 The current compiler does not handle models without explicit `return` statement. Could we return all variables by default when `return` is absent?

[2017-02-23 18:03] xukai92 commented on #78
@yebai For more examples in the future, we can have separate files for data, model and inference, which would also make tests for front-end/interface only easy. I adapted my previous 3 Stan models following this. Please check https://github.com/xukai92/Turing-exps/tree/master/stan-models.

[2017-02-23 20:57] yebai commented on #78
@xukai92 Thanks Kai. I have added some models myself. I suggest that we keep these example models under the `example-models` folder in the main repo for the moment. It will be easier for us to add and run these models within the main repo.

[2017-02-24 17:27] xukai92 commented on #78
@yebai Agreed. I've made the update to the main repo too.

[2017-02-26 22:34] yebai opened #82 "Updated model interface: add parameters support."
The current interface pass in variables through a dictionary. This design requires us implicitly copy all items in the data dictionary to model's scope, which is not the most consistent design with Julia's function interface. A possible better design would be:

[code]

The most important changes are:

1. Allow declaring parameters in model macro.
2. Support `=` in model declaration, e.g. `gdemo(x)

[2017-02-27 20:24] #81 closed

[2017-02-28 15:05] xukai92 commented on #82
@yebai What do you mean by "Note: we need to fetch x from gdemo(; data = Data(...))."?

[2017-02-28 15:17] yebai commented on #82
that comment is obsolete, sorry I forgot to delete it when copying the code.

[2017-02-28 15:53] xukai92 commented on #82
No worries.

There is a previous design decision which may affect the implementation of this update. Can you have a look at Gitter for discussion?

[2017-03-06 10:24] xukai92 opened #86 "Support sampling from model in model"
We should later support something like this.

[code]

[2017-03-06 11:41] yebai commented on #86
This is a really nice feature. I have been thinking about this; it may require some substantial work on the internals. Let's spend sometime think about how this might be designed.

[2017-03-06 15:19] yebai opened #87 "Support truncated distribution."
The current HMC sampler does not work with truncated distribution. For example, the following example would throw an error

[code]

ERROR MESSAGE:

[code]

[2017-03-06 16:23] xukai92 commented on #87
I've looked into `Distributions.jl`. This error is due to the fact that helper functions for `Truncated` still are not defined with generic types (e.g. they use `pdf(d::Truncated, x::Float64) = ...` for pdf. I will overload them in Turing and submit a PR soon.

[2017-03-07 13:24] xukai92 opened #88 "Removing isdefined"
We can remove `isdefined()` using the fact that users are only allowed to use `TArray` in `@model`.

[2017-03-07 13:31] xukai92 opened #89 "Allowing user to change the compiler between 'safe mode' and `fast mode'"

[2017-03-07 18:53] yebai opened #91 "Roadmap for v0.3"
- [x] NUTS implementation #188
- [x] HMC: Transforms of ϵ for each variable #67 (replace with introducing mass matrix)
- ~~Re-define `~`: macro => function #173~~ (postponed to 0.4)
- [x] Finish: Sampler (internal) interface design #107
- [x] Substantially improve performance of HMC and Gibbs #7
  - [x] benchmark based on NUTS only
  - [x] translate more Stan models into Turing (for NUTS): https:/

[2017-03-07 18:54] yebai commented on #89
Closed in favour of #91

[2017-03-07 18:54] #89 closed

[2017-03-07 19:05] yebai opened #92 "Bug: running gdemo (README example) produces error"
I met the following error when running the gdemo example in the README.md file.

[code]

[2017-03-07 19:19] yebai commented on #56
Closed by PR #90

[2017-03-07 19:19] #56 closed

[2017-03-07 19:21] yebai commented on #82
Closed by PR #85

[2017-03-07 19:21] #82 closed

[2017-03-07 20:21] xukai92 commented on #92
I tried that example (i.e. the code below) on our master branch which didn't give me this error. I believe this error only gives when you call `@sample` without calling `@model`.

[code]

[2017-03-07 21:12] yebai commented on #92
I see - thanks.

[2017-03-07 21:12] #92 closed

[2017-03-08 11:48] yebai opened #96 "Refactoring code: Unify VarInfo, Trace, TaskStorage, Chain."
At the moment, we have various data structures that stores intermediate (MCMC) sampling states. It probably makes sense to unify these data structures.

(I don't have a complete idea how to do this yet, but let's start thinking about this issue and post ideas here.)

[2017-03-08 11:51] yebai commented on #71
I'm going to close this issue now. Maybe we can a Q&A thread in the future.

[2017-03-08 11:51] #71 closed

[2017-03-08 12:00] yebai opened #97 "Better gradient interface"
It would be nice if we can have a user-friendly interface for automatic differentiation, e.g.

[code]

By default, the user does not need to pass in `varInfo` (i.e. differentiate through all parameters).

This would be very helpful for users who want to contribute new gradient-based inference methods.

[2017-03-08 15:59] xukai92 commented on #88
Solved by #94

[2017-03-08 15:59] #88 closed

[2017-03-08 17:16] xukai92 opened #98 "Code for dealing with non-return is buggy"
Need to fix that.

[2017-03-08 17:30] yebai opened #99 "Bug in Gibbs sampler"
[code]

Running this example produces the following error:

[code]

[2017-03-08 17:51] yebai commented on #99
UPDATE: after modifying the model to return `states`, I get the following error:

[code]

This error also occur in another mixture model example. It seems that the Gibbs sampler try to differentiate through a discrete variable.

[2017-03-08 17:53] xukai92 commented on #99
Yeah. I saw the same error as well. I'm working on fix this.

[2017-03-08 19:36] xukai92 opened #101 "@model cannot overwrite function definition"

[2017-03-08 20:10] xukai92 opened #102 "A bug in Gibbs sampler"
When copying the variables generated by PG to varInfo, the helper function doesn't deal with arrays correctly. It is because the output of PG stores array variables as keywords in a dictionary but HMC store the flatten version, i.e.

[code]

in varInfo are 3 entries `arr[1]`, `arr[2]`, and `arr[3]`.

[2017-03-08 20:16] xukai92 commented on #102
This is actually related to #96. Maybe we can have a meeting on these issues.

[2017-03-08 20:38] yebai commented on #102
Let's talk about this tomorrow.

[2017-03-09 16:17] xukai92 commented on #101
### Note 1

I've located this issue. It actually results from something about our mechanism to run the sampler.

My method to locate the issue is shown below:

[code]

I change the model each time I run a chain, and I observe that chains created by a new type of sampler is able to use the new model.

[2017-03-09 16:38] xukai92 commented on #101
### Cause of issue

See the snippet below for the cause

[code]

Passing the name of function call and using this function call seems to be somehow cached (or just an immutable object which lose its reference when it is redefined).

[2017-03-09 16:44] xukai92 commented on #101
### Update

I ask this problem to Julia team via Gitter and get this reply:

It's been fixed in 0.6
On 0.5, there really is no clean solution

[2017-03-09 17:05] yebai commented on #101
Here is a trick that can get around the problem

[code]

[2017-03-09 17:12] xukai92 commented on #101
@yebai That's awesome! Many thanks!

[2017-03-10 00:35] yebai commented on #99
Fixed by #103

[2017-03-14 16:06] yebai commented on #96
Here is a (preliminary) plan that we have discussed:

- Update VarInfo:  Remove Var, instead store MCMC state in a flatten data structure (similar to Mamba’s Chain type)
- Update internal variable naming scheme:
    - x[1,2,3] ==> x[i]   where i is linear index corresponding to [1,2,3] (e.g. sub2ind(dims, i, j, k...) -> index)
    - x[1][2][..]  ==> x[i][j][..]  (the nesting could continue N times

[2017-03-14 17:08] yebai opened #104 "Turing Interface Design"
This is an umbrella issue  about Turing's front-end syntax design.

- Language syntax #55
- Sampling syntax ##139 #82 #107

Some related issues about Turing's internal design

- MCMC sampling state: #96

[2017-03-14 17:10] yebai commented on #102
Fixed by PR #103

[2017-03-14 17:10] #102 closed

[2017-03-14 17:45] xukai92 commented on #96
Note: We tend to store variables in their original space.

[2017-03-15 15:33] yebai opened #105 "Gibbs sampler should report error if a variable is missing"
When a Gibbs sampler does not contain all variables in the target model, we should report an error.

[code]

[2017-03-15 15:40] yebai commented on #99
After updating the model with a prior over transition matrices, I run into another error

[code]

ERROR

[code]

[2017-03-15 17:30] #99 closed

[2017-03-16 15:32] yebai opened #106 "Performance issues about `ad.jl`"
The following two lines in `ad.jl` could potentially cause substantial memory allocation and subsequently deteriorate performance of the HMC sampler

 - Large matrix allocation: https://github.com/yebai/Turing.jl/blob/master/src/core/ad.jl#L50
 - (potentially) unnecessary use of Dual type: https://github.com/yebai/Turing.jl/blob/master/src/core/ad.jl#L83

For the first case, we can use a pre-alloc

[2017-03-16 15:55] yebai opened #107 "Sampler (internal) interface design"
This current sampler design is a bit out-of-date. Many functions interfaces are created without considering the compositional sampler interface (i.e. when used as a step in Gibbs). This leads to a slightly messy situation that we need to have separate functions for each sampler (e.g. PG, HMC), one for direct use as a sampler, one for use as a step in a Gibbs sampler. Therefore, it makes sense to r

[2017-03-17 14:25] xukai92 commented on #96
Note: I will next resolve the 2nd and 3rd points together by the following steps:
1. Change code to store untransformed variables in `VarInfo`
2. Remove `@predict` (with `@~` store variables into `VarInfo`)
3. Remove the use of `Sample` (as it's only copy things from `@predict`)

[2017-03-17 15:25] #77 closed

[2017-03-20 14:50] #106 closed

[2017-03-21 14:37] xukai92 commented on #96
It seems that it's impractical to remove the use of `Task.storage` because IS-based algorithms will need variable information tied to task level.

[2017-03-21 15:06] xukai92 commented on #96
@yebai Do you think it's better to move `predict()` into `@model` level instead of calling it in each `@~`?

[2017-03-21 19:18] yebai opened #110 "Generalise TArray"
The self-copying mechanism in `TArray` could be generalised, e.g. create a macro `@T`, that can automatically lift existing data structures to Turing-safe ones.

On a side note, `TArray`'s copying detection mechanism can be documented and improved, ie. `taskcopy` can set a flag (e.g. `flag=gensym()`) in `task.localstorage` to inform that a task has been copied.

[2017-03-21 19:22] yebai opened #111 "`unflatten` for Mamba Chain"
In order to support better access to Mamba Chain data structures, we can support the following interface

[code]

EDIT (22 Mar 2017): add `c[i, sim=1]`.

[2017-03-21 20:12] xukai92 commented on #111
Strictly saying, `c[:x]` should return all samples has a **heading symbol** equal to `x`. This distinguishs some variables who is a leading substring of others, e.g. if `x[*]` and `x1[*]` both exist, `c[:x]` only returns `x[*]`.

[2017-03-21 20:12] xukai92 commented on #110
This sounds very useful!

[2017-03-22 14:58] xukai92 opened #113 "Using values from predicts will cause bugs in Gibbs sampler"

[2017-03-23 15:11] xukai92 commented on #87
Submitted a PR for `Distributions.jl` https://github.com/JuliaStats/Distributions.jl/pull/586

This example below (same as above but changed β to the right support range) is passed on my local `Distribution.jl` fork (https://github.com/xukai92/Distributions.jl/tree/generic-support-to-truncated-dist).

[code]

[2017-03-23 15:23] xukai92 commented on #98
Fixed by https://github.com/yebai/Turing.jl/pull/115/commits/40db08f3763a9dd3d6197a244d411efa3c674314

[2017-03-23 15:23] #98 closed

[2017-03-24 14:11] yebai opened #117 "vectorising likelihood computations"
There are certain cases where the efficiency of HMC sampler can be substantially improved, such as the following example

[code]
(The full model can be found [here](https://github.com/yebai/Turing.jl/blob/master/example-models/naive-bayes/model.jl))

If we introduce a vectorising notation, the likelihood computation step can be re-written as

[code]

The reason that vectorising code can be more ef

[2017-03-24 16:31] yebai commented on #111
This has now been supported through storing samples in both `Turing` and `Mamba` format (PR #116).

[2017-03-24 16:31] #111 closed

[2017-03-24 16:33] yebai commented on #110
This could be done through introduce an abstract type (e.g. `TSafe`). All data structures that requires self-copying can be defined as subtypes of `TSafe`.

[2017-03-24 16:35] yebai commented on #7
Ref: #117

[2017-03-24 19:05] xukai92 opened #119 "Difficulty of using Task() in HMC"
This is due to the fact that the main loop of HMC cannot get the reference to the temporary created `Trace`

[2017-03-25 13:25] yebai commented on #119
In general, keeping two copies of `VarInfo` could cause bugs hard to catch. Let's finish PR #115 first and come back to this.

[2017-03-27 12:48] xukai92 opened #122 "The format of uid need to be enriched"
Agreed format:

`"x{##720:1}[1][1,2]..."`,

where `#720` is generated by `gensym()`, `1` after `:` is the counter.

[2017-03-27 16:50] xukai92 opened #123 "Unify the `rand()` interface"
The interface of `rand()` using different replaying mechanism needs to be unified to

[code]

[2017-03-27 16:51] xukai92 opened #124 "Merge `randomness` dan `vals` by introducing a new filed `group`"
Each inference algorithm should have a group id and `vi.groups[i]` is the variable `vi.vals[i]`'s group.

This should be done after #125

[2017-03-27 16:51] xukai92 opened #125 "Introduce a group field to `Algorithm`"

[2017-03-27 16:52] xukai92 opened #126 "Make initialisation of Gibbs sampler standalone"

[2017-03-27 19:19] xukai92 opened #127 "Move numerical check to benchmark script"

[2017-03-27 20:55] yebai commented on #127
Closed by PR #115

[2017-03-27 20:55] #127 closed

[2017-03-29 15:12] xukai92 commented on #122
### Discussion

Do you think it's better to re-arrange the format to be `"{##720,x[1][1,2]...}:1"`?

The reason I feel it's better is that it clearly shows that we are counting the unique set, {gensym(), flattened naming}.

[2017-03-29 15:29] yebai commented on #122
we can do that, but maybe have some utilities to easily parse it into a tuple (e.g. `(##720,1,x, [1][1,2]...)`).

[2017-03-29 15:38] xukai92 commented on #122
Make sense. I think tuples are faster than strings. Is this right?

[2017-03-29 15:39] yebai commented on #122
might be, since tuples are stored on the stack

[2017-03-30 11:03] xukai92 commented on #126
We've agreed that we can have a specific sampler who's responsible for sampling from prior.

[2017-03-30 14:04] xukai92 commented on #122
Closed by PR #128

[2017-03-30 14:04] #122 closed

[2017-03-30 14:14] yebai opened #129 "Depreciate the use of `task.storage[:turing_predicts]`"
Since we have now got an enhanced `VarInfo` type to store all MCMC states, we should consider depreciate using `task.storage[:turing_predicts]`. For example, the following lines need to be updated

- https://github.com/yebai/Turing.jl/blob/master/src/samplers/hmc.jl#L113

[2017-04-01 19:14] xukai92 commented on #123
The `rand()` interface should also have one more Boolean parameter which controls whether to

- replay and update the variables **this** sampler is responsible for, or
- replay the variables **other** samplers are responsible for.

This flag (call `inside` for example) should be set as `true` by default.

[2017-04-02 15:30] xukai92 opened #131 "Run models in Stan (or other PPLs) in benchmark script as well"
I feel it's good to run some models in other PPLs as well to see the difference in running time.

[2017-04-02 16:00] xukai92 commented on #129
Besides https://github.com/yebai/Turing.jl/blob/master/src/samplers/hmc.jl#L113, there are another two places we use `Task.storage`, which are

1. https://github.com/yebai/Turing.jl/blob/master/src/core/container.jl#L187L188
2. https://github.com/yebai/Turing.jl/blob/master/src/samplers/sampler.jl#L64L66

Although our new `VarInfo` store all MCMC states, it doesn't store the original Julia value,

[2017-04-02 19:42] yebai commented on #131
This sounds good; it should be relatively simple to add Stan models to `benchmark\benchmarks.jl`.

[2017-04-02 19:55] xukai92 opened #132 "Support explicit return statement"
[code]

i.e. didn't use `@~`

should still be supported.

[2017-04-02 19:58] yebai commented on #129
Let's just use the flatten type and drop `varInfo2samples` from the code.

[2017-04-02 20:12] yebai commented on #107
It is possible to remove the use of macro for `sample` by parsing each model into a function that returns a function. For example

[code]

Some other (advanced) use of this syntax are

[code]

[2017-04-03 12:50] xukai92 commented on #107
NOTE: https://github.com/yebai/Turing.jl/issues/101 could also be solved by this PR.

[2017-04-03 12:53] xukai92 opened #133 "`Chain` interface needs be to updated after Julia's original type is depreciated"

[2017-04-03 12:55] yebai commented on #133
Actually, I like the old way of indexing variables (e.g. `chain[:x]`). I think it is still possible to support it, but maybe not now.

[2017-04-03 13:10] #123 closed

[2017-04-03 13:56] yebai opened #135 "Depreciate `Void` in `observe`"
The following line uses a `Void` type to handle cases where sampler is `null`

https://github.com/yebai/Turing.jl/blob/master/src/samplers/hmc.jl#L141

It is better to have a more principled mechanism to handle such cases.

[2017-04-03 13:58] yebai commented on #129
Closed by PR #123
Ref: #133

[2017-04-03 13:58] #129 closed

[2017-04-03 14:05] xukai92 commented on #133
Yes I agree. That's what I mean by update the interface.

[2017-04-03 14:06] xukai92 commented on #135
It this related to https://github.com/yebai/Turing.jl/issues/126?

[2017-04-03 14:09] yebai commented on #135
Yes, they are related. But `observe` needs some additional treatment since it controls automatic differentiation.

[2017-04-03 14:14] xukai92 commented on #135
What do you mean by "it controls automatic differentiation"?

[2017-04-03 14:16] xukai92 opened #136 "Clean gibbs_helper.jl and hmc_helper.jl"
I thinks we can merge this two files to `samplers/support/helper.jl` since a lot of functions are actually used not only in HMC and Gibbs.

[2017-04-03 14:18] yebai commented on #135
I mean this `observe` function is needed by `gradient`, since inside `observe` we need to turn some variables into `Dual` types. Strictly speaking, we don't need to do this when sampling from the prior, but it is needed if we want to compute gradients.

[2017-04-03 15:09] xukai92 commented on #101
Closed by https://github.com/yebai/Turing.jl/pull/134

[2017-04-03 15:09] #101 closed

[2017-04-03 15:09] xukai92 commented on #107
Closed by https://github.com/yebai/Turing.jl/pull/134

[2017-04-03 15:37] yebai commented on #107
There is a bit un-finished work in this PR, so I'm re-opening it. Briefly, I plan to add the following interface

[code]

[2017-04-03 15:47] xukai92 opened #137 "model in ParticleSampler"
`ParticleSampler` still has a field named model. I guess we can remove it now?

[2017-04-03 15:49] yebai commented on #137
yes, we can do that (if it doesn't have dependencies)

[2017-04-03 15:50] yebai commented on #137
BTW: it is probably a good practise to start referencing issue IDs in commit comments.

[2017-04-03 16:06] xukai92 commented on #137
I see. Good suggestion!

[2017-04-05 10:27] xukai92 commented on #105
We can do this by

1. Recording all symbols for `assume()` in compiler
2. Do sanity check in Gibbs constructor

[2017-04-05 10:45] xukai92 commented on #105
https://github.com/yebai/Turing.jl/commit/5bd814911d1bd3fff77412caea98b47689e948df resolves this issue. Use the model you post as an example

[code]

[code]

and

[code]

[2017-04-05 16:14] yebai opened #139 "Generalised compositional sampling interface"
The current Gibbs sampler allows us to compose elementary sampling algorithms (e.g. PG, HMC). We may want to generalise this compositional sampling interface. One possible extension is that

[code]

[2017-04-06 17:48] yebai commented on #104
Our current modelling and inference syntax allows the user to specify observations through the `model` macro; the actual data is passed to the model when calling the `sample` function, eg.

[code]

Some limitations with this design

- we need to modify the model when data is changed (eg. we want to turn `m` into data).
- lack of support for functions such as
  - `gradient(gdemo(s = 1, m= 0, x =[1.

[2017-04-07 09:16] #124 closed

[2017-04-07 11:54] xukai92 commented on #137
Implemented in #137

[2017-04-07 11:54] #137 closed

[2017-04-07 11:55] xukai92 commented on #136
Done in #136

[2017-04-07 11:55] #136 closed

[2017-04-07 11:56] xukai92 commented on #125
Done in #138

[2017-04-07 11:56] #125 closed

[2017-04-07 12:01] xukai92 commented on #139
I think we need to update the current way of generating `group_id` to achieve this. Currently the `gid` is created inside `Gibbs` constructor, which will cause problem in this cause as 'base samplers' will have same IDs. We need somehow generate unique IDs for each sampler. Possible ways are
- use `gensym()`
- use some global counting on sampler constructors

[2017-04-07 12:10] xukai92 commented on #113
`@predict` is moved into `@~` in #73 and the use of `Task.storage` is removed in https://github.com/yebai/Turing.jl/pull/130/commits/7da37491b3c0d6e8436b465df77879b0eb88bb5c, therefore this issue doesn't exits any more.

[2017-04-07 12:10] #113 closed

[2017-04-07 12:13] xukai92 commented on #104
Great design!

BTW. Shall we close the old design #55?

[2017-04-07 16:33] #133 closed

[2017-04-07 17:54] xukai92 commented on #105
Done in https://github.com/yebai/Turing.jl/commit/5bd814911d1bd3fff77412caea98b47689e948df (in PR #138)

[2017-04-07 17:54] #105 closed

[2017-04-07 20:58] xukai92 opened #142 "Store all variables in the original space and remove trans in VarInfo"
I feel this is urgent because now use `Gibbs(HMC, HMC, PG)` will cause problem due to one sampler doesn't know other samplers use original space or not.

[2017-04-07 21:01] yebai commented on #55
Close in favour of #104

[2017-04-07 21:01] #55 closed

[2017-04-08 09:12] yebai commented on #96
Ref #142;

[2017-04-10 12:40] yebai commented on #131
Maybe we can start by adding Stan versions of the `bernoulli` and `simplegauss`?

It is possible to add Stan version of the `simplemixture` model, but we will need to modify the model in a way such that cluster indicators are analytically marginalised out.

[2017-04-10 12:45] yebai commented on #7
Closed by #121; more benchmarking is in #131

[2017-04-10 12:45] #7 closed

[2017-04-10 12:46] xukai92 commented on #131
Sure. The `simplemixture` one is actually adapted from a Stan code. I guess the Stan one did that by https://github.com/stan-dev/example-models/blob/master/basic_estimators/normal_mixture.stan#L24#L27?

BTW what's the correct way to install CmdStan on Travis?

[2017-04-10 13:50] yebai commented on #131
There might be already an `apt-get` package; also the following script might be helpfull

https://gist.github.com/lindemann09/5bead1ce0320974ac4f6

[2017-04-10 16:48] DarkSnail opened #144 "README.md not updated"
README.md uses "@sample" but the correct function seems to be "sample".

[2017-04-10 19:47] xukai92 commented on #144
Yes, you are right. We forget to change it after removing the `@sample` macro. I've updated the `README.md` now. Many thanks for pointing this!

[2017-04-10 19:53] DarkSnail commented on #144
I hope you will add more user-friendly examples soon. Keep on with the good work ! ;-)

[2017-04-10 19:53] #144 closed

[2017-04-10 22:25] xukai92 opened #146 "Forbid variables with same name"
This is a unsolved point mentioned in https://github.com/yebai/Turing.jl/issues/96

Forbid variables with same name, with the following exceptions
- Loops, e.g. for i=1:N, x ~ Normal(0,1); end
- Recursions, e.g. f(x) = if x > 1, f(x-1); else x ~ Normal(0,1); end
- If statements, e.g. if t, x ~ Normal(0,1); else x ~ Normal(0,4); end
- N.B.: the following case is forbidden: f() = begin x ~ Normal(0,

[2017-04-10 22:26] xukai92 commented on #96
I created an individual issue (https://github.com/yebai/Turing.jl/issues/146) for the naming stuff. Do you think we can close this one now?

[2017-04-10 22:41] xukai92 commented on #67
The transformation we found last time that causes numerical overflow is exp()/log() for positive numbers. When we move in R towards a larger value, and call exp() to convert back to X, the numerical overflow occurs.

Do you think it is feasible we just use another transform for positive numbers? Say:

- x -> x, for x >= 1
- x -> log(x), for x < 1

This function is still continuous as both log(x) a

[2017-04-11 13:35] yebai opened #148 "Discussion on `dprintln` levelling"
It's probably time to start organising debug print information, something like the following

- level 0: sampler progress information & warning messages.
- level 1: compiler information (and level 0 information)
- level 2: sampler runtime debugging information, e.g. variable allocation in each `step`
- level 3: ...

The basic idea is that the higher the level is, the more verbose/detailed informat

[2017-04-11 13:48] yebai opened #149 "create and generalise `is_inside` test"
(NOT URGENT)

The current `inside` code (see [here](https://github.com/yebai/Turing.jl/blob/3ac05a4e19ead1e48a4e003fed68b39cecc46234/src/samplers/hmc.jl#L142
) for example) tests whether a symbol exist in `spl.space`, this won't work for elaborate cases. For example

[code]

Such complicated cases may arise when a user uses an array to store many parameters, and associate this array's elements to

[2017-04-11 14:16] xukai92 commented on #148
I feel like compiler should be the lowest level.

[2017-04-11 14:38] #142 closed

[2017-04-11 14:39] xukai92 commented on #97
I think this interface is actually done by the closure way of creating model. Like what we did in test file for AD, we can now use

[code]

to get the gradient dictionary.

I guess user have to pass an `VarInfo` to it otherwise we don't know the derivative at which points we want to compute?

[2017-04-11 14:46] xukai92 commented on #149
Another thing related to this is that writing `Symbol("x[1]")` is very annoying. Maybe we can also just support calling things using strings? Like `chian["x"]` will do the same thing as `chain[:x]`, and the same for defining space.

[2017-04-11 14:49] yebai commented on #149
It is possible to support `:(x[1])`. We need to check `:(x[1])==ref` though.

[2017-04-11 15:01] xukai92 commented on #97
Cool.

[2017-04-11 15:01] #97 closed

[2017-04-11 20:13] xukai92 commented on #78
Goal for this isuee: make Naive Bayes and LDA work

[2017-04-11 20:42] xukai92 opened #151 "Improving the benchmark log"
After discussion, the key points we want to log in the benchmark are

- [x] Accuracy
  - Analytic solution v.s. Turing
  - Stan v.s. Turing
- [x] Running time
- [x] Memory allocation
- [x] Statistics
  - lp
  - time for leapfrog integration
  - NOTE: this can be done in `Varinfo2Sample()`
  - NOTE 2: when implementing this, rename `Varinfo2Sample()` -> `Sample()`

[2017-04-11 20:44] yebai commented on #96
Fixed by #114, #108, #103.

[2017-04-11 20:44] #96 closed

[2017-04-11 20:48] yebai opened #152 "support resume MCMC sampling, e.g. `resume(s::Chain, num_iter)`"
Migrated from #96.

TODOs:
- [x] Add `Sampler` as a field of `Chain`
- [x] Add model as a field of `Chain`
- [x] Add last vi as a field of `Chain`
- [x] Support resume for HMC
- [x] Support resume for PG
- [x] Support resume for Gibbs
- [x] Add a `resume(s::Chain, num_iter)` wrapper

[2017-04-11 20:50] yebai opened #153 "Remove global variable `Turing.sampler` and `Turing.TURING`"
Migrated from #96

[2017-04-11 20:56] yebai commented on #131
Closed by PR #150;
Other tasks are now in #151

[2017-04-11 20:56] #131 closed

[2017-04-11 20:58] yebai commented on #64
duplicate of #72

[2017-04-11 20:58] #64 closed

[2017-04-11 20:59] yebai opened #154 "Parallel ForwardDiff"
Since chunk-mode forward diff run the program multiple times independently, it is probably possible to exploit multi-threads to improve efficiency.

[2017-04-11 21:24] DarkSnail opened #155 "Turing exports "plot" ?"
Not critical, but a bit annoying in the long run: it seems that Turing exports a "plot" function that conflicts with other plot packages. In my case...
[code]
I get
[code]
and I can plot only using ``` Plots.plot```

[2017-04-12 10:16] yebai opened #156 "remove obsolete `randoc`, `randc`?"
It is probably OK to remove the following references to `randc`

https://github.com/yebai/Turing.jl/search?q=randoc&type=Code&utf8=%E2%9C%93

The main reason for having `randc` is to reduce memory allocation in particle filtering. However, storing all random variables doesn't seem to be a huge problem (?).

[2017-04-12 12:24] xukai92 commented on #155
Thank you for pointing this. I believe it's unnecessary for Turing to export `plot`. We will remove it soon.

[2017-04-12 13:05] DarkSnail commented on #155
Thank you very much. Does Turin have a Gadfly dependency, too? I think it is superfluous.  Can I ask another thing? I have found something that maybe is a bug, maybe it is just due to my inexperience with probabilistic programming... I am not confident enough to open an issue here. Is there a mailing list or something along these lines?

[2017-04-12 13:21] xukai92 commented on #155
I don't think Turing has Gadfly dependency but we might use it somewhere in our benchmark script. Please feel free to report bugs in issues as Turing is still in its early stage so bugs are quite possible. Or alternatively you can ask things in Gitter (https://gitter.im/Turing-jl/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge).

[2017-04-12 13:47] yebai commented on #155
Yes Turing does depend on `Gadly`. This dependency on `Gadfly` is inherited from Mamba, which is used by `Turing` to summaries MCMC results.

Actually, the `plot` export is also from `Mamba`, which allows user to plot trace plots for chains (e.g. `plot(chain)`).

[2017-04-12 13:52] yebai commented on #155
Yes, we maintain a mailing list for developers and users: turing-project@eng.cam.ac.uk

[2017-04-12 14:07] DarkSnail commented on #155
Thanks! I will message you over there with a bare-bone example of the issue I have.

[2017-04-12 15:41] xukai92 commented on #155
@yebai For the `plot` thing, is it necessary for us to export `plot` in Turing (https://github.com/yebai/Turing.jl/blob/master/src/Turing.jl#L28) as well?

[2017-04-12 15:47] xukai92 commented on #151
For the log-posterior, actually only HMC can report this. Maybe we can report log-p when using HMC and report log-evidence when using PG? Then what to do when using Gibbs?

[2017-04-12 16:40] yebai commented on #155
It won't cause issue, but we would need to write `Turing.plot(chain)`.
maybe we can remove it for now? We can add it back if necessary later.

[2017-04-12 16:44] yebai commented on #151
Yes, `log-evidence` could work for PG.
Let's store log-posterior from the HMC step for Gibbs now, and change to something more sensible later.

[2017-04-13 10:35] yebai commented on #148
That makes sense.

In addition, remembering numbers are difficult. Perhaps we can define some constants, e.g.

[code]

[2017-04-13 14:22] xukai92 opened #159 "Export samples within each Gibbs step"
We may want to export samples within each Gibbs step instead of doing thinning for the users.

[2017-04-13 14:39] xukai92 opened #160 "ForwardDiff.Dual doesn't support operations between "ambigous" Dual numbers"
E.g. blow will give error.

[code]
from
[code]

NOTE: ForwardDiff write rules to forbid this in promotion and operation (e.g. + here) level.

[2017-04-13 16:03] yebai opened #161 "remove `Turing.predict`"
@xukai92 It doesn't seem we need `predict` anymore. Can we safely remove `predict` from Turing now?

[2017-04-13 16:11] xukai92 commented on #161
Yes we can. The predict function now are simply all equal to `nothing`. We can just remove them.

[2017-04-13 16:13] #161 closed

[2017-04-13 21:18] #151 closed

[2017-04-14 14:03] xukai92 commented on #160
The reason I post this issue is that I meet error when using 2 HMC in Gibbs steps, with each of them sampling in a different dimentionality. But I guess I can also solve the problem in another way in stead of updating this.

[2017-04-14 16:49] xukai92 commented on #154
I think we can use `Thread.@thread` for the main loop for AD. The only problem I could see is that after each pass, AD needs to reset `logjoint` to `Dual(0)`. Will some threads reset it before other finishes?

[2017-04-14 16:51] xukai92 commented on #154
I think duplicate `VarInfo` for each thread would solve the problem in this case.

[2017-04-14 19:04] xukai92 commented on #78
Closed by PR #162

[2017-04-14 19:04] #78 closed

[2017-04-14 19:07] xukai92 opened #163 "Make isprobvec(p) loose"
Also add a check for `NaN` in simpelx and positive transformations.

[2017-04-14 20:44] #160 closed

[2017-04-14 20:50] yebai opened #165 "Add a tutorial in readme file"
- illustrate how to write a model
- how to run inference
- how to summarize and visualise MCMC samples

[2017-04-14 20:55] yebai commented on #67
There are two variables that determines how far HMC travels in each dimension, namely the `momentum` variable and `n_step*ϵ`. It is probably better to first try introducing a pre-conditioning mass matrix and see whether it helps resolving the large step size issue.

[2017-04-14 22:23] xukai92 opened #166 "Time waste for constructing distributions in Distributions.jl"
We've discussed that the time used to constructed distributions in Distributions.jl is one of the bottleneck for Turing. To be more specific, even the same distribution object (same type of ditribtions with same parameters) is created for multiple times.

[2017-04-14 22:26] xukai92 commented on #166
Some quick experiments:

[code]

[code]

[2017-04-14 22:26] xukai92 commented on #166
I guess that's the reason why Turing runs so slow when the number of data point increases

[2017-04-14 23:19] xukai92 commented on #166
Possible solutions are
- translate distributions to our own code of logpdf
- cache distributions
  - We've actually already "cached" distributions in VarInfo. Maybe we can improve VarInfo to do that?

[2017-04-16 14:44] xukai92 opened #167 "Add Dual Averaging for HMC"

[2017-04-17 09:32] yebai opened #168 "Particle filter samplers need to deepcopy `VarInfo` for each particle."

[2017-04-17 10:04] xukai92 commented on #168
Can you explain it more? I think we do use `deepcopy` in `forkr` and `forkc`.

[2017-04-17 10:08] yebai commented on #168
Yes, but  `VarInfo` are only deep copied when`resample` is called. Hence, all particles are sharing `VarInfo` until the first `observe` statement. Is that true in the current code?

[2017-04-17 10:33] xukai92 commented on #168
I see. In the start of each PG step, the `push` function will use the constructor of `TraceR` or `TraceC`, in which we also use `deepcopy`. But I notice there is a bug in the constructor (https://github.com/yebai/Turing.jl/blob/master/src/trace/trace.jl#L66), in which I pass the wrong `vi` to the model closure. I think this should be the cause of the issue.

[2017-04-17 10:37] yebai commented on #168
Cool - I fixed this in my working PR.

[2017-04-17 10:39] yebai commented on #168
I think this is why our `posterior` trick for `simplemixture` and `LDA` produces incorrect results.

[2017-04-17 10:43] xukai92 commented on #168
Cool.

Yes, that makes a lot of sense!

[2017-04-17 12:17] yebai opened #169 "Change `csym` generation mechanism"
The current `VarName` generate a unique symbol at compile time. This is currently done through calling `gensym`.

In the new compiler implementation (PR #157), each model is parsed into several different function definitions. This leads to multiple calls to `gensym` for each random variable, one for each function definition, which becomes problematic when sharing `VarInfo` across these different v

[2017-04-17 12:35] yebai opened #170 "`IS` sampler is out-of-date"
The current `IS` sampler does not support `VarInfo`, we need to modify importance sampler to enable  `VarInfo`.

[2017-04-17 12:46] yebai opened #171 "ProgressMeter is not compatible with Jupyter notebook"
The new progress bar will cause Jupyter notebook halt (e.g. `BayesHmm`).

[2017-04-17 13:05] #169 closed

[2017-04-17 15:06] yebai opened #172 "Gibbs `space` assertion is fragile"
The following lines in Gibbs sampler depends on the assumption that `model` is generated immediately before constructing the Gibbs sampler, so that `Turing._compiler_` is still holding the correct information for the target model.

https://github.com/yebai/Turing.jl/blob/master/src/samplers/gibbs.jl#L35

https://github.com/yebai/Turing.jl/blob/master/src/samplers/gibbs.jl#L37

It is perhaps better

[2017-04-17 18:50] yebai opened #173 "Re-define `~`: macro => function"
Julia 0.6 stopped supporting parsing `~` as a macro by default. We might need to perform this parsing in the `model` macro on our own and redefine `~` as a function.

[2017-04-18 10:07] yebai opened #174 "Merge `ParticleSampler` and `HMCSampler` into `Sampler`?"
After introducing `VarInfo` and the new compiler interface, it seems possible to merge some sampler classes into a single one, e.g.

[code]

In addition, to query sampler specific information (e.g. gradient sampler, particle sampler), we might consider introduce the following generic APIs for sampler

[code]

[2017-04-18 12:58] xukai92 commented on #174
This makes sense. I'm also thinking the new sampler should somehow make it easier for different samplers to share some basic functions like `assume()`, `rand()`, etc. instead of using `Union{}`

[2017-04-18 13:33] yebai commented on #170
Fixed by 6fe81e8.

@xukai92 BTW, let's try to mention issue ID in commit comments.

[2017-04-18 13:58] yebai opened #176 "Remove `ParticleContainer.logWs`"
`VarInfo.logw` seems a more appropriate place to store log weight than `ParticleContainer.logWs` , since `VarInfo.logw` is sampler independent.

[2017-04-18 14:53] xukai92 commented on #174
This `data` dict would also be helpful for adaptive samplers as we need to pass/store adaptive parameters somehow.

[2017-04-18 15:47] #170 closed

[2017-04-18 15:51] #135 closed

[2017-04-18 15:55] yebai commented on #132
Maybe we can

- restrict the user to write only `return x::Symbol`, but not `return x+1`.
- construct a special `VarInfo` that also stores variables referenced in the `return` statement.
- later in `Sample(vi::VarInfo)`, only extract variables referenced in the `return` statement.

[2017-04-18 16:11] yebai opened #177 "Make a new release Turing 0.2"
- Need to update RELEASES.md
- Register a new release in METADATA.jl

[2017-04-18 16:20] yebai commented on #107
- [ ] Modify samplers: `vi_new = step(model, vi = vi_old, sampler = spl)`

[2017-04-18 16:32] yebai opened #178 "Remove `Trace.spl`?"
It seems that we are not using `Trace.spl` anymore. Can we safely remove it from the current code?

[2017-04-18 16:32] xukai92 commented on #177
Let's do https://github.com/yebai/Turing.jl/issues/165 as well before releasing 0.2

[2017-04-18 16:35] xukai92 commented on #178
I think we still need `spl.gid` for task copying so that a particle only copy the variables associated with the sampler using it.

[2017-04-18 18:01] xukai92 commented on #165
I think we can extend&update the http://turingjl.readthedocs.io/getstarted.html#a-short-tutorial and put it in the README.md

[2017-04-18 18:10] yebai commented on #165
Actually, we've already have 1 and 2. We introduced some new features (e.g. `Mamba.Chains`) in 0.2. We wan to illustrate these features, in particular `describe(chain` and `plot(chain)`.

[2017-04-18 18:10] xukai92 commented on #126
- [ ] fix this inside HMC step

[2017-04-18 22:09] xukai92 opened #180 "More automatic geweke test"
It still requires manual check for the quantile in the geweke test. Does it make sense that we fit a `y = ax + b` for the quantile plot and check if `a` is around 1?

[2017-04-19 10:26] yebai commented on #168
Fixed now.

[2017-04-19 10:26] #168 closed

[2017-04-19 10:32] #153 closed

[2017-04-19 10:36] yebai commented on #180
That could work, but a regression slope can't tell us much about tail behavior in the qq plot.

[2017-04-19 10:36] yebai commented on #178
I see.

[2017-04-19 10:36] #178 closed

[2017-04-19 10:38] yebai commented on #174
We should consider store run time information in `sampler.info` as well, e.g. acceptance ratio, time per MCMC iteration, time per leapfrog iteration etc.

[2017-04-19 15:56] xukai92 opened #182 "Dual Averaging (with default setting suggested by NUTS paper) doesn't work well in transformed space"
The default setting for HMC with Dual Averaging method seems not work well with constraints. https://github.com/yebai/Turing.jl/pull/179/commits/49b90e9b417c7fb420b9e740ad68cd6787b1d2fe adds a file to reproduce the situation in `test/hmcda_nb.jl`.

To see the situation, it's simple way is to changed the Line 110 of `samplers/hmcda.jl` to a normal print function `println("leapfrog for $τ steps with

[2017-04-19 16:04] xukai92 opened #183 "Initial step size before heuristically search"
Another thing about the NUTS paper is that the initial step size before heuristically search is set to 1.0, which may already big enough to move too far in some constraint space to cause NaN. My current solution for this is to halve the initial 1.0 until there is no NaN, after which apply the heuristically search.

I see this idea in https://github.com/mfouesneau/NUTS/blob/master/nuts.py#L111 but

[2017-04-19 16:51] xukai92 commented on #177
PR for METADATA: https://github.com/JuliaLang/METADATA.jl/pull/8920

[2017-04-19 16:52] yebai opened #184 "Copy `VarInfo` before mutations"
The `step` and `gradient` function currently modify passed in `VarInfo` in place, e.g.

- https://github.com/yebai/Turing.jl/blob/80cdae51668ed7ee662f5e62e0e675be67264947/src/samplers/hmc.jl#L56

-
 https://github.com/yebai/Turing.jl/blob/80cdae51668ed7ee662f5e62e0e675be67264947/src/samplers/pgibbs.jl

- https://github.com/yebai/Turing.jl/blob/80cdae51668ed7ee662f5e62e0e675be67264947/src/core/ad.j

[2017-04-19 17:02] #180 closed

[2017-04-19 17:29] #167 closed

[2017-04-19 17:29] #126 closed

[2017-04-19 17:29] #119 closed

[2017-04-19 17:30] yebai commented on #119
Ref #184 #168

[2017-04-19 17:56] yebai commented on #177
The list of PRs that we created in this release

https://github.com/yebai/Turing.jl/milestone/2?closed=1

Well done!

(I've also added some major PRs to [RELEASE.md](https://github.com/yebai/Turing.jl/blob/master/RELEASE.md))

[2017-04-19 17:57] #165 closed

[2017-04-20 11:48] yebai commented on #182
@xukai92 Is it possible to isolate the numerical issue for transformed variables first? This would allow us to first fix the transform (ie. `simplex` transform here). I imagine this can be done by finding a value `r2` such that

[code]

[2017-04-20 12:54] xukai92 commented on #182
Yes. I guess if we solve the numerical problem here then we are fine at the moment.

I further looked into the issue and found that the numerical issue only happens to the dual part of dual numbers.

The below is the `invlink` for the simplex variables.

[code]

My guess is that  `invlogit(y[k] + log(1 / (K - k)))` is not very safe and lose precision, when calculating the dual parts, the chain rul

[2017-04-20 13:40] xukai92 commented on #182
I further locate the problem should origin from `gradient()`. It seems that `gradient()` returns `NaN` when numbers go extreme, which later used to update variables.

[2017-04-20 15:08] xukai92 commented on #182
The original cause of this issue is due to the fact that between link and invlink the constrained variable lose some precision, which then make the probability vector to be something like [1, 0, 0, 0], which is actually invalid to Dirichlet because there shouldn't be 0s in the probability vector of Dirichlet. When we call `logpdf` using this vector, we got `NaN` then (both in the real part and the

[2017-04-20 16:50] xukai92 opened #185 "Better leapfrog interface"
Current leapfrog needs to pass-in a gradient dict, which is actually not necessary but due to the fact that re-use the previous gradient dict can save computational cost. However, this makes the code not coherent.

It would be better to pass the number of leapfrog steps as well and move the leapfrog loop into the function.

[2017-04-20 16:50] xukai92 commented on #185
I will do this along with https://github.com/yebai/Turing.jl/issues/184

[2017-04-20 17:59] yebai commented on #182
[code]

[2017-04-20 18:17] #185 closed

[2017-04-20 18:31] #184 closed

[2017-04-20 21:38] xukai92 commented on #182
Looks great! But we still need to `exp` the result and throw the result (which sitll Inf) to `logpdf` of Direchlet, right?

[2017-04-20 21:41] xukai92 commented on #86
I guess the internal are good enough for us the work on this now?

[2017-04-20 21:49] xukai92 opened #188 "NUTS implementation"
Before implementing the NUTS sampler I think it's better for us to clear up the following issues:

- [x] #174 Merge `ParticleSampler` and `HMCSampler` into `Sampler`?
- [x] #183 Initial step size before heuristically search
- [x] #182 Numerical problem for Dirichelet

Also it may be good to implement the Algorithm 3 in the NUTS paper first before (the one without Dual Averaging), just in purpose o

[2017-04-20 21:51] xukai92 commented on #182
**NOTE**

The logpdf of the Dirichlet distribution from the Distributions package

[code]

[2017-04-21 11:45] yebai commented on #182
It's OK to take the `exp` after `loginvlink`, the returned value will be `0` since `-Inf< x <=0` here. Similarly the gradient through `loginvlink` will be `0` too. This prevents the underflow issue when taking gradients.

We might also need a special version of the `logpdf` function, in order to prevent the underflow or overflow issue. We can discuss when we meet.

[2017-04-21 12:35] xukai92 commented on #182
I see. I guess another reason here we have the `NaN` is because that we use `Dirichlet([1, 1, 1, 1])` in the Naive Bayes model.

If there is a `0` in the probability vector, during the 5th line of the `logpdf` of `Dirichlet`, i.e.

[code]

We will have `(1 - 1.0) * log(exp(-1000))` => `0 * -Inf` => `NaN`.

[2017-04-21 14:07] yebai opened #189 "Compositional MCMC: partial refreshment of the momentum variable (lightNUTS)"

[2017-04-21 14:12] #159 closed

[2017-04-21 14:18] yebai commented on #163
Closed in favor of #182

[2017-04-21 14:18] #163 closed

[2017-04-21 15:54] yebai opened #191 "`VarInfo`: dist ==> typeof{dist}"
The current `VarInfo` stores `dist` for each R.V. This is not necessary and could potentially cause subtle bugs. The reason is that `dist` could change when its parameters (depending on other random variables) change, but its type will never change. For example

[code]

Perhaps it's better to store `typeof(dist)` (e.g. `Normal`) instead of `dist` in `VarInfo`?

UPDATE: `Truncated` might be hard to

[2017-04-21 15:59] xukai92 commented on #191
I think we need to store more information than type because the dimension information of the variable also depends on the parameters of the distribution, which will be used for reconstructing vectorised variables.

[2017-04-21 16:03] xukai92 commented on #174
I think it's bit weird that all samplers should have a filed of `particles   ::  ParticleContainer`. I think we should treat it same as `VarInfo`. Do you think we can remove this field? I briefly looked into PG and SMC codes and feel it should be OK.

[2017-04-21 20:16] xukai92 commented on #174
@yebai I'm sorry that I pushed my commits (for this issue) directly to the master by mistake. Can you have a look at them?

[2017-04-21 20:55] #174 closed

[2017-04-23 21:37] xukai92 opened #192 "Improve the file `Turing.jl`"
The main file `Turing.jl` gets a bit messy. Need to be cleaned up.

[2017-04-23 22:33] xukai92 opened #193 "NUTS without Dual Averaging (Algorithm 3 of the NUTS paper)"
I will implement this first and make sure this part of code is correct.

[2017-04-24 11:02] xukai92 opened #195 "Unify algorithm field names"
PG uses `n_iterations` for total number of MCMC runs but HMC uses `n_samples". Might be better to unify them so that the Gibbs sampler will be much easier.

[2017-04-24 11:13] yebai commented on #195
Seems that `n_iterations ` is more informative here, since each `iteration` could lead to multiple MCMC samples (e.g. Gibbs). Maybe use `n_iterations` for all algorithms?

[2017-04-24 11:17] xukai92 commented on #195
Yeah, `n_iterations` makes more sense.

[2017-04-24 14:30] xukai92 opened #196 "Remove type promotion and conversion of Dual"
We are suggested to remove type promotion and conversion of Dual from the ForwardDiff package.

[2017-04-24 14:33] xukai92 opened #198 "Improve the structure of the test directory"
As we have many more test files, the directory looks a bit messy. Need to improve the structure.

[2017-04-25 12:08] xukai92 commented on #196
Closed by #197

[2017-04-25 12:08] #196 closed

[2017-04-25 13:12] xukai92 opened #201 "Stochastic Gradient Hamiltonian Monte Carlo"
Maybe good to do it after NUTS. Also I guess we can combine it with https://github.com/yebai/Turing.jl/issues/189?

[2017-04-25 14:51] yebai opened #202 "HMC: better `leapfrog` function - partial hamiltonian trajectory"
The HMC family samplers occasionally runs into regions with `0` density. It is helpful to be able to `reject` and restart the current Hamiltonian simulation when this happens.

[2017-04-25 14:54] yebai opened #203 "HMC: transform variables on demand."
The `link` and `invlink` functions will lose precision when called often. Perhaps it is better to implement an interface for `VarInfo` that will transform variable (back to constrained space) only on demand.

[2017-04-25 15:37] xukai92 commented on #203
I think the current `link(vi::VarInfo)` and `invlink(vi::VarInfo)` (in the `helper.jl` file) do this job. But the problem is that in order to use the variable in the model (i.e. run the model), the variable has to be transformed back, so `rand()` is designed to return values in the original domain.

[2017-04-25 15:58] yebai opened #204 "HMC: check gradient in leapfrog integrator."

[2017-04-26 17:21] #204 closed

[2017-04-27 14:04] yebai opened #205 "Remove `find_logjoint`"
It seems that we can remove the function `find_logjoint` below since `VarInfo.logjoint` always keep the logjoint?

https://github.com/yebai/Turing.jl/blob/b69b79912840a50f9fe3e046f3db574f7b21ffff/src/samplers/support/hmc_core.jl#L69

[2017-04-27 15:14] yebai opened #206 "Save parameter adaption trajectory for HMCDA, NUTS"
It's helpful to save parameter adaption history in `Sampler.info` for later inspection, e.g. inspecting dual averaging divergence.

For example
- epsilon,
- simulated Hamiltonian length: L'*epsilon, where L' is the actual number of leapfrog steps before rejection.

[2017-04-27 15:20] xukai92 opened #207 "Poor support of using column in IO"
Model using `:` below is poorly supported to fetch variables from `Chain`.

[code]

Have to write variables in type of nest arrays at this moment.

[2017-04-27 15:21] xukai92 commented on #205
`find_logjoint` is also reponsible to run the model once so that we can get the updated `logjoint`. But this function is only used in `find_H`. It makes sense that we merge them?

[2017-04-27 15:54] xukai92 opened #208 "Turing amends global data variables"
[code]

will not work as expected because `x` is changed globally, and a new `1` is kept getting pushed into `x`.

[2017-04-27 16:19] yebai commented on #205
OK, let's merge them.

[2017-04-27 16:19] yebai commented on #202
@xukai92 can you add the `reject` step for `NUTS` and `eNUTS`?

[2017-04-27 16:20] xukai92 commented on #202
Sure. Do you want me to do that in the current PR?

[2017-04-27 16:21] yebai commented on #202
Yes, let's push to the same PR.

[2017-04-27 16:53] yebai commented on #208
That's true, I don't want to `deepcopy` data variables particularly for large datasets. Maybe we should warn the user not to modify `x` here.

[2017-04-27 16:57] #193 closed

[2017-04-27 16:57] #183 closed

[2017-04-27 16:58] yebai commented on #183
Closed by #202

[2017-04-27 16:58] yebai commented on #191
That makes sense.

[2017-04-27 17:04] yebai commented on #207
I thought this before, but didn't manage to find a good solution. Another possible use case:

[code]

[2017-04-27 17:06] #188 closed

[2017-04-28 00:16] lstagner opened #209 "Solving the Lighthouse Problem"
I'm trying to solve the [lighthouse problem](http://web.gps.caltech.edu/classes/ge193.old/practicals/practical3/Lighthouse.pdf) and I have encountered an error on master

[code]
[code]

Am I doing something wrong or does Turing not yet support this type of problem?

[2017-04-28 01:25] xukai92 commented on #209
Nice question.

The error occurs because the right hand side of the `~` notation should always be a distribution, which tells Turing a variable is distributed from a distribution. In you problem, you should write your likelihood, P(x|α, β), there (i.e. point 4 in your sheet), which should be

[code]

(Ref: http://astro.ic.ac.uk/sites/default/files/CLT%20and%20Lighthouse%20Problem.pdf)

Also notice

[2017-04-28 01:40] lstagner commented on #209
Thanks for the quick response.

Is it not possible to compose different distributions to create a new distribution object e.g. `α + β*tan(θ)`
Is it planned?

[2017-04-28 13:50] xukai92 opened #210 "Change the name of Naive Bayes to Mixture of Categorical"
According to Zoubin the Naive Bayes model is wrongly named by Stan team. We should call it Mixture of Categorical and maybe also put a reference of the 4F13 slides (http://mlg.eng.cam.ac.uk/teaching/4f13/1617/document%20models.pdf)

[2017-04-28 15:48] #203 closed

[2017-04-28 15:48] yebai commented on #202
- [ ] Merge eNUTS and NUTS
- [ ] Implement `reject` for NUTS.

[2017-04-28 15:55] yebai commented on #148
Perhaps a better way of managing debugging information is to use `label` instead of `level`

- ldefault: sampler progress information & warning messages.
- lcompiler: compiler information (and level 0 information)
- lruntime: sampler runtime debugging information, e.g. variable allocation in each `step`
- lgrad: ...
- lhmc: ...
- ldualaveraging: ..
- lgrad

dprintln(ldefault, )

(use capital var n

[2017-04-28 16:26] xukai92 opened #211 "Refactoring VarInfo"
Key points of this refactorization:

1. [x] **Reduce the number of functions that can mutate `VarInfo`**
    - Make `VarInfo.vals` ~~and `VarInfo.logp` to arrays~~
2. [x] Reduce the number of times that `VarInfo` is deep-copied
3. [x] Reduce the number of times to re-run the model for the same `VarInfo` (#205)
4. [x] Completely flatten `VarInfo.vals`
5. [x] Separate `rand` into two functions
    -

[2017-04-28 16:44] yebai commented on #209
Hi Turing uses distribution object from the [`Distributions.jl`](https://github.com/JuliaStats/Distributions.jl) package, so new distribution object should be added to the `Distributions.jl` package. Alternatively, if you don't mind adding a small Gaussian noise, the model can be written as

[code]

[2017-04-28 16:56] xukai92 opened #212 "Remove eNUTS"
eNUTS is duplicated as it's just no adaptation NUTS

[2017-04-28 17:35] #212 closed

[2017-04-28 17:35] yebai commented on #182
Closed by PR #199

[2017-04-28 17:35] #182 closed

[2017-04-29 00:03] lstagner commented on #209
Thanks @yebai

Unfortunately, using a Normal distribution makes the problem intractable. Not even Stan could get a reasonable solution.

[2017-04-29 10:48] yebai opened #213 "Gibbs sampler is broken"
It seems PR #199 is causing the Gibbs sampler producing inaccurate results.

[2017-04-29 17:49] xukai92 opened #214 "Flatten momentum variables"
It's actually unnecessary to keep the `VarName => momentum` relation now. We can just use a flatten vector.

[2017-04-29 18:01] xukai92 commented on #214
Maybe we can flatten/vectorize everything during the HMC step.

[2017-04-29 18:13] xukai92 commented on #213
Do you mean the error in the Gibbs constructor or other?

[2017-04-29 18:13] yebai commented on #214
Perhaps we can flatten gradients too. I think this vectorised storage will substantially improve the efficiency of HMC.

[2017-04-29 18:14] yebai commented on #213
Yes, I am refering to the gibbs constructor.

[2017-04-30 12:17] xukai92 opened #215 "Use generic type constants instead of manually written"
We should gradually change things like `1.0` to `one(T)`.

[2017-04-30 12:19] xukai92 opened #216 "Make sure `Base.show` work as expected"

[2017-04-30 13:52] xukai92 opened #217 "Unify numerical tests"
Better to unify numerical tests using a function like

[code]

and use it by

[code]

If `strict` is set to `true` `@test` will be used and throw error when test fails.

[2017-04-30 15:04] xukai92 commented on #156
I removed `randoc` when re-factoring `VarInfo`.

[2017-04-30 16:01] xukai92 commented on #213
It seems that it just because I changed the number of iterations of the Gibbs sampler to only 50 because I thought that was bit slow. I changed it back to 500 in this commit: https://github.com/yebai/Turing.jl/commit/fd6e3e6cf135928ebff9fe23ca767c69cbec71bb.

I looked into some other Gibbs result (with long run), which seems to be fine (e.g. `gibbs.jl`).

However, this test file is supposed to tes

[2017-04-30 16:56] xukai92 opened #218 "Make accumulating of log weight more roboust"
Our simple normal mixture below is broken

[code]

simply because here we set ` mu = tzeros(Dual, 2)`: then `logp` is `Dual{Float64, 0}` and we call `Float64(logp)` in container, of which the conversion is not supported (and the customed conversion is removed from Turing).

Of course users can define the same vairbale as `mu = tzeros(Real, 2)`, which will also work. But I guess we should also supp

[2017-04-30 16:57] xukai92 commented on #218
I now manually check if `logp` is `Dual` and convert it back to `Real` (commit https://github.com/yebai/Turing.jl/commit/3c2e2b5545f3a76554000edaa3533580e2fd3ad8). Do you think it's good enough or it's better to use `Real` for accumulating of log weight?

[2017-04-30 17:06] xukai92 opened #219 "Better initialization"
3 runs with the same code for `sample(gdemo(x), Gibbs(1000, PG(30, 3, :s), HMC(1, 0.2, 3, :m)))`

[code]

Why Gibbs is so sensitive to initialization?

[2017-05-01 11:09] yebai commented on #191
Perhaps we can store the following in `VarInfo.dist`

[code]

The allows us to keep essential information about distribution objects but don't need to update `VarInfo.dist` during inference (ie remove `setdist!(VarInfo)`.

[2017-05-01 11:54] xukai92 opened #221 "Hashing custom types"
I still haven't sorted out the hashing problem. It seems that when there is a string inside the type Julia treats that differently.

[code]

but

[code]

doesn't work.

[2017-05-01 12:04] #221 closed

[2017-05-01 12:09] xukai92 commented on #221
I think I was mislead by

Actually implementing `Base.hash(b::B, h::UInt)` doesn't work but should just implement `Base.hash(b::B)`.

[2017-05-01 13:19] yebai commented on #217
That makes sense. We can also do something similar to benchmark, e.g. create a special build on travis that perform numerical tests. This would allow us to separate numerical tests from common unit tests.

[2017-05-01 13:19] yebai commented on #215
Good suggestion!

[2017-05-01 15:17] xukai92 opened #222 "Merge SMC and PG?"
Is it possible to somehow merge the code of SMC and PG and let SMC run as PG with iteration num = 1

[2017-05-01 15:20] yebai commented on #222
Yes, that sounds possible. We used to have two different replaying mechanisms (TraceR, TraceC) for SMC and PG, but this does not seem necessary anymore.

[2017-05-03 09:03] yebai opened #223 "Add `UnicodePlots.jl` backend for `plot(c::Chain)`"

[2017-05-03 09:55] yebai opened #224 "Merge `HMC` and `HMCDA`"
Since `HMC` is a special case of `HMCDA` (i.e. `n_adapt = 0`), perhaps we should merge this 2 samplers, e.g. into the following interface

[code]

where `L` is the (max) total hamiltonian simulation length (i.e. n_leapfrog*epsilon). Then

- if epsilon is not given, we would default to `HMCDA` and use dual averaging to pick a value
- if both L and epsilon are given, we run the normal `HMC` sampler,

[2017-05-03 09:57] #213 closed

[2017-05-03 09:58] #205 closed

[2017-05-03 09:58] yebai commented on #205
Addressed by #221.

[2017-05-03 09:59] yebai commented on #216
Closed by f54371a

[2017-05-03 09:59] #216 closed

[2017-05-03 10:04] yebai commented on #202
The current `leapfrog` code either returns a new simulation with total trajectory length (`τ * ϵ`), or reject the whole simulation.

[code]

Instead of simply rejecting a (whole) simulation, perhaps we should improve the `leapfrog` function, so that `partial` valid simulation (e.g. `trajectory_length <=  τ * ϵ`can be returned.

[2017-05-03 10:12] yebai opened #225 "Improve `gradient(vi, model, spl)`"
Our current `gradient` code perform chunk-mode auto-diff in vivo. Perhaps we can simplify our own code through defining the following function

[code]

Then

[code]

This would allow us to reuse the `gradient` function from `ForwardDiff` and remove our own code for managing dual chunks.

Reference: https://github.com/JuliaDiff/ForwardDiff.jl

[2017-05-03 10:32] xukai92 opened #226 "Remove exports of VarName, VarInfo and Sampler"
There are some codes in `compilter.jl` call these three types directly (without a prefix `Turing.`) so current Turing exports `VarName`, `VarInfo` and `Sampler`. It's better to remove them.

[2017-05-03 10:47] xukai92 commented on #225
Sounds good! Let's do this!

[2017-05-03 13:07] xukai92 opened #227 "Remove direction() from hmc_core"
As we now support `vi[spl]` we can remove this function.

[2017-05-03 13:54] #227 closed

[2017-05-03 13:54] yebai commented on #218
Yes, that works.

[2017-05-03 13:54] #218 closed

[2017-05-03 13:55] #214 closed

[2017-05-03 13:55] #211 closed

[2017-05-03 13:55] #192 closed

[2017-05-03 13:56] #156 closed

[2017-05-03 14:40] xukai92 commented on #226
Closed by #228

[2017-05-03 14:40] #226 closed

[2017-05-03 17:21] yebai opened #229 "Add models fron the NUTS sampler paper."

[2017-05-03 21:57] yebai opened #230 "Change default Stan sampler to `HMC` for fair comparison."
- LDA
- Naive Bayes
- Bernoulli

[2017-05-04 13:30] xukai92 opened #232 "Improve typing in transforms.jl"
Some link/invlink don't deal with typing in a good manner. There are two things to improve

1. Replace constants `1` and `0` using `one(T)` and `zero(T)` (https://github.com/yebai/Turing.jl/issues/215)
2. make sure the return values has at least a type of `Real` not `Any`

[2017-05-04 15:36] #225 closed

[2017-05-04 16:41] yebai opened #234 "`ForwardDiff.gradient` is slow"
It seems the new `gradient` function based on `ForwardDiff.gradient` is very slow, e.g. on the model `Turing/benchmarks/naive.bayes.run.jl`.

[2017-05-04 19:24] #202 closed

[2017-05-04 20:51] xukai92 commented on #177
@yebai You mentioned you've put the license stuff for Mamba right? Shall we chase the release then?

[2017-05-04 21:23] yebai commented on #224
Closed by #236

[2017-05-04 21:23] #224 closed

[2017-05-04 21:24] #232 closed

[2017-05-04 21:24] #198 closed

[2017-05-05 07:46] yebai opened #237 "Reduce `deepcopy` for `VarInfo`"
The current implementation of HMC/NUTS contains many calls to `deepcopy` for `VarInfo`. This substantially increases memory allocation and may deteriorate performance. Perhaps we can share the same `VarInfo` between `leapfrog` iterations that belong to a single HMC/NUTS proposal (or sample).

[2017-05-05 07:51] #229 closed

[2017-05-05 12:16] xukai92 opened #238 "Old notebooks"
Shall we also move old notebooks (https://github.com/yebai/Turing.jl/tree/master/doc/source/notebooks) to https://github.com/yebai/Turing.jl/tree/master/example-models/notebooks?

[2017-05-05 12:24] xukai92 opened #239 "Better error information from compiler"
Regarding #209, it might be better that Turing will tell the user the right hand side of `~` should be a distribution object instead of giving a non-informative error.

[2017-05-05 12:28] xukai92 opened #240 "Simplify Gibbs code"
As the fields of HMC and PG (`n_iters`) is the same, the code in Gibbs sampler can be unified.

[2017-05-05 14:20] xukai92 commented on #67
Zoubin said it's probably better to run 10 chains of 100 samples instead of 1 chain of 1000 samples to compute the pre-conditioning matrix.

[2017-05-05 16:15] xukai92 commented on #240
Closed by #240

[2017-05-05 16:15] #240 closed

[2017-05-05 16:35] xukai92 commented on #166
Zoubin proposed today that we'd better somehow "overwrite" the common distributions using our own code first, with other distributions still able to call the `Distributions.jl` package ones.

[2017-05-05 16:42] xukai92 commented on #67
@yebai Are you working on this? If not I'd like to pick it up and work on it.

[2017-05-05 21:58] yebai commented on #238
That makes sense. We can also remove some obsolete models.

[2017-05-05 22:48] #217 closed

[2017-05-08 13:31] yebai commented on #237
TODOs

- [ ] Create separate builds for `LDA` and `MoC`, so that we can record performance changes for every commit.

[2017-05-08 14:19] xukai92 commented on #237
What does "create separate builds" mean?

[2017-05-08 14:22] yebai commented on #237
At the moment, we have `benchmark.jl` and `runtests.jl` on Travis. Perhaps we should separate `lda.run.jl` and `moc.run.jl` into separate builds so that we don't exceed the build time limits imposed by Travis.

[2017-05-08 14:22] xukai92 commented on #237
I see!

[2017-05-08 14:29] #107 closed

[2017-05-08 16:11] #210 closed

[2017-05-08 16:15] xukai92 commented on #215
Record: this commit https://github.com/yebai/Turing.jl/pull/233/commits/ce94f195df69a6ed9ab2484e6a9b9601b1d37333 improves generic typing for `transforms.jl` and `utli.jl`

[2017-05-08 21:11] xukai92 opened #245 "Found a typo in NUTS constructor"
https://github.com/yebai/Turing.jl/blob/master/src/samplers/nuts.jl#L35

[2017-05-08 22:07] xukai92 opened #246 "Why does PG sometimes break and have to re-build Turing to resolve?"

[2017-05-08 22:34] xukai92 opened #247 "Gibbs seems to be broken after b8302f79c67f155ca1014584902665e77512ea43"
I was re-running the BayesHMM demo but the result seems to be broken; I checked-out to b8302f79c67f155ca1014584902665e77512ea43, where the result seems to be fine.

[2017-05-09 08:14] yebai commented on #246
I haven't seem this problem before. Maybe this is caused by #247? Do you have a reproducible example?

[2017-05-09 08:19] yebai opened #249 "Merge `Trace.vi` and `vi`?"
We currently maintain two copies of `vi`, one stored in `Trace`, another is passed to model through keyword arguments. Perhaps we should merge this `vi`'s to reduce confusion.

Ref: #247, #246, #248

[2017-05-09 09:41] xukai92 commented on #246
I have seen this problem before that PR, from time to time. I will show you next time I get into that again.

[2017-05-09 09:43] xukai92 commented on #249
How can we bind randomness to `Trace` then?

[2017-05-09 10:14] xukai92 commented on #246
NOTE:

[code]

[2017-05-10 11:13] #247 closed

[2017-05-11 09:35] yebai opened #250 "Add ancestor resampling option for PG"
The PG sampler can be improved by adding the ancestor resampling step. It is challenging to implement this for the general case, but perhaps we can consider adding it a a option, e.g.

[code]

Here when `as` equals true, we support only one variable (e.g. `:s`) to be sampled by PG.

References:
- http://jmlr.org/papers/volume15/lindsten14a/lindsten14a.pdf
- https://papers.nips.cc/paper/5968-partic

[2017-05-11 12:06] xukai92 opened #251 "More organized visualization"
Guess we need more more organized visualization scripts for each type of dataset.

TODOs
- [x] Clean and move scripts from https://github.com/xukai92/Turing-exps/tree/master/amazon-talk

[2017-05-12 10:15] tkelman opened #252 "Do not extend functions from Base or other packages on types not from this package"
Ref https://github.com/yebai/Turing.jl/pull/66#discussion_r112798061 and https://github.com/yebai/Turing.jl/pull/112#discussion_r112798149 and https://github.com/yebai/Turing.jl/pull/85#discussion_r112797746 - this is known as type piracy and has global side effects, and can change the behavior of completely unrelated code. Method extension is safe when either the function or at least one of the i

[2017-05-12 13:35] yebai commented on #252
Many thanks for pointing these issues out, we will fix this issues in the next release (v0.2.1). Will be coming soon!

[2017-05-12 13:54] xukai92 opened #253 "Separate the change of sampling space (θ) from VarInfo"
The target of this proposal is to reduce the memory used for storing the theta history as less as possible. Let's say θ is the variables which are associated with the sampler.

Key points:

1. Sampler only changes and keep a track of the θ but not VarInfo.
  - VarInfo is only treated as a layer that sampler uses to interact with model.
2. Each time sampler want to apply θ to the model, it firstly

[2017-05-12 22:29] xukai92 opened #255 "Vectorization of assume"
The most easy one is to vectorize `observe` where the distributions are all the same. `observe` for distributions which are different and `assume` are challenging. I will do the easiest one first.

-- update on 30 May --

**TODOs**
- [x] support Vector-variate (interface)
- ~support Matrix-variate (interface)~
- [x] always change things in-place for vectorised `assume()`

Left todos are moved to P

[2017-05-12 22:45] yebai commented on #117
Ref: #255

[2017-05-12 22:54] xukai92 commented on #255
I did a simple check:

[code]

with `x=randn(1000)`.

With the loop way, it will take 1m26s but with vectorize version (bb25da04233f2f5267a21c596e638a833a82cc15) only 2.25 seconds.

If we can also do that for at lease iid distributions priors, we can certainly speed up the `model()` quite a lot.

[2017-05-12 22:55] xukai92 commented on #255
Cont'd run by `NUTS(2500, 500, 0.65)`

[2017-05-12 23:01] yebai commented on #255
That's exciting! We can slowly add more vectorisation support.

[2017-05-12 23:11] xukai92 commented on #255
One possible and simple way to vectorize i.i.d priors is to create some customized distributions like `MvDirichlet` and `MvCategorical`, with original parameter and number of variables provided, then we can then call the original with `rand(d, n)` to assign them to the left. I guess `VarInfo` can just treat them as normal variables?

[2017-05-12 23:51] xukai92 commented on #255
`Vec***` would be a better name without overriding any thing in the distribution package. We can simply generate `Vec***` for all distributions and have `rand` and `logpdf` for them by calling the corresponding ones by `rand(d, n)` and `logpdf(d, n)`.

[2017-05-13 11:07] #246 closed

[2017-05-13 16:35] xukai92 commented on #255
I've done the vectorization for assume with univarite distributions. Here are some experiment results

[code]

Time for each
- loop: 18.15s
- vec: 14.32s (current implementation of af2b6c648e1b29e215597f9e730a55c94e168e85)
- MvNormal: 10.12s

I believe the gap between vec and Mv means there is still space to improve Turing in terms of vectorization.

[2017-05-14 19:34] #245 closed

[2017-05-15 08:31] AIAdventures opened #256 "errors in examples."
![image](https://cloud.githubusercontent.com/assets/26102503/26048968/a97a1a6c-399c-11e7-908b-2fe1b146cb3e.png)

[2017-05-15 08:32] AIAdventures commented on #256
hi great package!
Trying some examples and getting errors.
Best,
Andrew

[2017-05-15 09:16] yebai commented on #256
Hi, the `@sample` macro has been re-implemented as a function. Try

[code]

Also, Turing is now using [ProgressMeter](https://github.com/timholy/ProgressMeter.jl) to display progress information. ProgressMeter does not seem to interact with Jupyter notebook very well. I would recommend running the example from terminal for the moment. However, if you know how to make ProgressMeter work with Jupyte

[2017-05-15 09:27] AIAdventures commented on #256
ah so should i redo my git clone?

[2017-05-15 09:27] AIAdventures commented on #256
and re download the package :)

[2017-05-15 09:28] AIAdventures commented on #256
amazing package btw really awesome!
is the parallel sequential monte carlo implemented?
Best,
Andrew

[2017-05-15 09:33] yebai commented on #256
Thanks. I tried implementing SMC using Threads, but it seems Threads is not very stable yet.

Ref: #65

[2017-05-15 09:36] AIAdventures commented on #256
![image](https://cloud.githubusercontent.com/assets/26102503/26051536/cacbe0fc-39a5-11e7-92d3-896d1737d509.png)

[2017-05-15 09:37] AIAdventures commented on #256
getting a few issues with another example

[2017-05-15 09:37] AIAdventures commented on #256
gdemo.ipynb

[2017-05-15 09:38] yebai commented on #256
We stoped exporting `plot` from Turing (#155). Try `Turing.plot` instead of `plot`.

[2017-05-15 09:40] AIAdventures commented on #256
no error...but no plot either.
Is this correct?
Best,
Andrew

[2017-05-15 09:42] yebai commented on #256
You need to save the plot as a file to view it:

[code]

[2017-05-15 09:47] AIAdventures commented on #256
ah ok

[2017-05-15 09:47] AIAdventures commented on #256
cheers!

[2017-05-17 09:50] antoine-soubret opened #258 "Error compiling task.c on Windows 7"
Hi,

I am trying to run Turing on a Windows 7 machine with Julia 0.5.2.
Here is my configuration as returned by the versioninfo julia command:

Commit f4c6c9d (2017-05-06 16:34 UTC)
Platform Info:
  OS: Windows (x86_64-w64-mingw32)
  CPU: Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz
  WORD_SIZE: 64
  BLAS: libopenblas (USE64BITINT DYNAMIC_ARCH NO_AFFINITY Haswell)
  LAPACK: libopenblas64_
  LIBM: libo

[2017-05-17 10:39] yebai commented on #258
Hi Antoine,

Turing does work on Windows machines. The compiling script for `task.c` depends on both `MinGW` and `msys2`. Try install `msys2` from the following link and make sure the `msys2\bin` added to `PATH`.

http://www.msys2.org/

[2017-05-17 10:45] xukai92 opened #259 "Modularize DA and pre-cond"
Duplicated code are in HMCDA and NUTS. Need to be modularized/merged.

[2017-05-17 19:05] awellis opened #260 "building Turing fails on MacOS (Julia Version 0.5.2)"
building Turing fails. I then attempted to run `Pkg.test("Turing")` and got the following error message:

[Turing]:  Observe - `x` is an observation
  in @~(::Any, ::Any) at compiler.jl:28
[Gibbs] Sampling...  0%  ETA: 0:25:45
  ϵ:  0.2
  α:  0.9994173943105447ERROR: LoadError: LoadError: error compiling forkc: error compiling copy: could not load library "libtask"
dlopen(libtask.dylib, 1): image

[2017-05-17 19:56] yebai commented on #260
Hi can you post the error message for running Pkg.build("Turing").

[2017-05-17 20:23] awellis commented on #260
sure, here it is:

julia> Pkg.build("Turing")
INFO: Building Homebrew
Updated 1 tap (homebrew/core).
==> Updated Formulae
minicom
INFO: Building Cairo
WARNING: BinDeps.shlib_ext is deprecated.
  likely near /Users/andrew/.julia/v0.5/Cairo/deps/build.jl:112
INFO: Building Rmath
INFO: Building Turing
gcc -DJULIA_ENABLE_THREADING=1 -fPIC -DJULIA_INIT_DIR=\"/Applications/Julia-0.5.app/Contents/Resourc

[2017-05-17 21:49] yebai commented on #260
The makefile has been improved, try re-build by running

Pkg.checkout("Turing", "master");
Pkg.build("Turing");

[2017-05-17 22:13] awellis commented on #260
thanks, that works

[2017-05-17 22:13] #260 closed

[2017-05-18 16:52] yebai commented on #222
- [ ] Make `Trace` produce `vi` instead of weights.

[2017-05-19 20:03] xukai92 opened #261 "Improve the numerical stability of positive transforms"

[2017-05-24 22:35] xukai92 opened #263 "Online calculation of co-variance may result in negative (infinitesimal) values"
This will lead to `sqrt(cov)` to have domain error because of the values are negative. I temporary stop the update of `std` when there are negative values. Is there better/more principled solution for it?

[2017-05-25 14:53] xukai92 commented on #253
Done in https://github.com/yebai/Turing.jl/pull/254

[2017-05-25 14:53] #253 closed

[2017-05-25 14:53] xukai92 commented on #237
Resolved in https://github.com/yebai/Turing.jl/pull/254

[2017-05-25 14:53] #237 closed

[2017-05-25 19:11] yebai opened #264 "Fix warning for re-defining model"
The current `@model` implementation will generate warning messages overtime when a model function is called (e.g. `gdemo(y)`). This is a bit annoying since we frequently make use of the syntax

[code]

[2017-05-25 19:31] yebai opened #265 "Split NUTS warmup into several windows"

[2017-05-25 19:53] yebai commented on #255
- Univariate
- Vector-variate
- Matrix-variate

[2017-05-25 20:12] #223 closed

[2017-05-25 21:14] xukai92 opened #266 "Generic support for GMM type in Distributions.jl"
GMM implemented in notebook (https://github.com/yebai/Turing.jl/pull/262/commits/498b6ea1fde2f48f9c26eccc26ccd3413c321566) use the UnivariateGMM which has bad generic support yet. Need to make a PR for that.

[2017-05-26 11:20] #263 closed

[2017-05-26 13:42] xukai92 commented on #191
Another reason in favor of this (instead of storing distribution objects) is that if we want to store `x` as a variable instead of `x[1]`, `x[2]` ... for vectorization, we would need something to record the **true** dimension. This is because if we simply store `x` when calling `x ~ [Normal(...)]`, then the dimentionality indicated by the distribution object is no longer true.

[2017-05-26 14:20] yebai commented on #191
One counter example

[code]

Here the second distribution object has to be stored to correctly perform `link`/`invlink` functions. Everytime when the value of `x` changes, we will need to update the distribution object stored in `VarInfo`, whether it is a `Distributions.Distribution` type or some other type we define by ourselfves (e.g. `T` above).

[2017-05-26 14:55] yebai commented on #87
@xukai92
Is there anything that we can do to speed up the merging by Distributions package developers?

[2017-05-26 15:19] xukai92 commented on #87
Let me chase them on the PR

[2017-05-26 15:39] xukai92 opened #268 "Adding noise to step size?"

[2017-05-26 16:49] xukai92 commented on #206
I started to do this in #267 (e.g. commit 34819c30e94248ea797766b0a539a21070b23165). I finally add a more-riched interface to generate sampler, saying `Sample(vi, spl)`, which combines both info from `VarInfo` and `spl.info`. This is pretty neat for HMC(DA) and NUTS but seems Gibbs is still bit messy because for samplers like PG the `spl.info` doesn't have information like `epsilon` - so in order

[2017-05-26 19:15] xukai92 commented on #87
Closed because PR is merged.

[2017-05-26 19:15] #87 closed

[2017-05-26 22:08] xukai92 commented on #259
Closed by #267

[2017-05-26 22:08] #259 closed

[2017-05-26 22:13] xukai92 opened #269 "Save model and sampler as fields of Chain"

[2017-05-26 22:14] xukai92 commented on #206
Closed by PR #267 and in favor of issue https://github.com/yebai/Turing.jl/issues/269

[2017-05-26 22:14] #206 closed

[2017-05-26 22:23] xukai92 opened #270 "Jupter notebook is incompatible with Gibbs?"
Ref: the FHMM notebook (https://github.com/yebai/Turing.jl/blob/master/notebooks/FHMM.ipynb) running problem

[2017-05-27 14:42] xukai92 commented on #266
PR: https://github.com/JuliaStats/Distributions.jl/pull/615

[2017-05-29 12:12] xukai92 commented on #67
@yebai Page 47 of the CmdStan handbook refers the three mode of pre-cond in Stan as "unit", "diag" and "dense". I guess "unit" just means without pre-cond, "diag" is diagonal of the co-variance and "dense" is probably using full co-variance. Is my understanding correct?

[2017-05-29 12:37] yebai commented on #67
yes, that's correct.

[2017-05-29 16:04] xukai92 commented on #149
I would propose that we converted user's input (e.g. `:(x[1])` in sampler algorithm definition like `HMC(..., :(x[1])`) into a `VarName`, so that we can use `vn.sym` to get `:x` easily.

However in this case, it's might be hard to determine if all variables are covered: users might only declare to sample some sub-dimensions of a variable?

[2017-05-29 16:10] xukai92 commented on #261
I don't know how to reproduce the error. Would leave it for now and add more notes on it later if I meet this situation again.

[2017-05-29 16:10] yebai commented on #149
Maybe we can start by separating the code into a function, then we can make the function more general.

[2017-05-29 19:06] xukai92 commented on #251
Closed by PR #271.

[2017-05-29 19:06] #251 closed

[2017-05-30 13:12] xukai92 commented on #265
How should we deal with the maximum number of iterations set by the user then? Shrink the windows or cut it?

[2017-05-30 13:29] yebai commented on #265
Shall we assume the minimal number of samples per chain for NUTS is 2k, similar to Stan? Then always use the first 1k to warmup.

[2017-05-30 13:31] xukai92 commented on #265
Yes we can. Then in this case do we want to disable the interface of setting adaption number in sampler algorithm?

[2017-05-30 13:37] yebai commented on #265
For debugging purposes, let's keep it but throw a warning when it is mis-specified.

[2017-05-30 15:36] xukai92 opened #274 "Automating benchmark summary"
Automatically merging benchmark summaries into a single file to view.

[2017-05-30 15:39] xukai92 commented on #274
Package for sending JSON from Julia: https://github.com/JuliaWeb/Requests.jl

[2017-05-30 15:42] yebai commented on #274
This looks cool!

[2017-05-30 15:44] yebai commented on #274
Note we have a project website on the departmental server

http://turing.eng.cam.ac.uk/

we can make this of this to slowly build a website.

[2017-05-30 15:55] xukai92 commented on #274
How can I get access to the sever of this website?

[2017-05-30 15:59] yebai commented on #274
I've emailed CUED computer officers. Let's see what they can offer!

[2017-05-30 16:07] xukai92 commented on #274
Cool. It will be good if we can build upon it directly.

[2017-05-30 20:31] #219 closed

[2017-05-30 20:33] yebai commented on #67
Let's do the `dense` preconditioning matrix in the future.

[2017-05-30 21:23] xukai92 opened #275 "Fair comparison between Stan and Turing"
We should add settings via `Stan.jl` to make sure that the comparisons are between `Stan.HMC` vs `Turing.HMC` or `Stan.NUTS` vs `Turing.NUTS`.

[2017-05-30 21:27] xukai92 commented on #255
**NOTE**
- We can recover dimension by `length_of_vec_in_vi / length_of_dist`
- Always change things in-place for vectorised `assume()`
- TODOs are added to the top so that GitHub can track it

[2017-05-31 10:45] yebai opened #276 "Vectorising `link` and `invlink`"
As part of vectorisation for IID distributions( #117, #255), we need to also vectorise the pair of transform functions (e.g. `link` and `invlink`) for bounded parameters.

[2017-05-31 10:45] yebai commented on #230
Closed in favour of #275

[2017-05-31 10:45] #230 closed

[2017-05-31 12:58] xukai92 commented on #274
@yebai Maybe we can use the GitHub Page (https://pages.github.com/) to host the homepage of the website. Can you try to create one for the Turing repo?

[2017-05-31 13:40] yebai commented on #274
Done! See
http://yebai.github.io/Turing.jl/

[2017-05-31 15:56] xukai92 commented on #274
Great!

[2017-05-31 20:48] xukai92 commented on #266
@yebai I may leave it for a while because finishing the PR would cost a lot of time to fixing things other than `logpdf` (e.g. their `cdf` and stuff are all the way not support generic, which already cost me lot of time to figure out which piece of code to fix). I would gradually work on this issue from time to time.

[2017-06-02 16:31] xukai92 commented on #265
Closed by #273

[2017-06-02 16:32] #265 closed

[2017-06-03 22:25] xukai92 commented on #152
After thinking possible implementations of this feature, I ended up believing the following interface is the most preferable

[code]

The good point about this is that we can reuse most of the code in `sample()`. For the enriched-chain type, we just need to additionally store sampler (for adaptive sampler we need it because of the adaptive parameters), model and last vi; in `sample()`, we check if

[2017-06-03 22:28] yebai commented on #152
Looks sensible to me!

If we resume running one chain (e.g. continuing from previous `VarInfo`) then we should store all samples in one chain. Otherwise, we should return a new chain.

[2017-06-03 22:39] xukai92 commented on #152
Cool. Make sense to me. Let me implement to this design

[2017-06-04 14:51] xukai92 opened #277 "Better design of storing lp and le"
We currently store lp in each sample of HMC, while not from PG. This causes several problems:

1. We did a lot of manual record of lp in Gibbs for each HMC step.
2. Resume a HMC chain by PG faces problem of dimension mismatch of samples because PG samples doesn't have lp.

Maybe we can store lp in another way instead of inside sample? Or we can somehow store a dummy lp (but i dont know how)?

[2017-06-04 14:55] xukai92 commented on #261
**Note 1**
![turing-postive-trans-bug](https://cloud.githubusercontent.com/assets/5985769/26762681/2872b71a-493e-11e7-9c17-a60485e25183.png)

Clearly the bug happens after finding a (large) initial epsilon.

[2017-06-04 16:52] xukai92 opened #279 "Support pre-cond with full covariance"

[2017-06-04 16:52] xukai92 commented on #67
Closed in favour of https://github.com/yebai/Turing.jl/issues/279

[2017-06-04 16:52] #67 closed

[2017-06-04 21:13] xukai92 opened #280 "Better documentations, especially get-started"

[2017-06-04 21:14] xukai92 commented on #280
Pre-compiled version for Windows ref: https://juliacomputing.com/products/juliapro.html

[2017-06-05 21:25] xukai92 opened #282 "Submit a PR to fix the typo of matrixvariate.jl of Distributions.jl"

[2017-06-05 21:30] xukai92 commented on #282
PR: https://github.com/JuliaStats/Distributions.jl/pull/618

[2017-06-05 22:10] xukai92 commented on #264
Is it possible to add cache for `gdemo()` so that it will cache the generated function by `hash(y) => modelf`

[2017-06-06 09:45] yebai commented on #264
Yes, it is feasible. I'll give it a try.

[2017-06-06 11:07] xukai92 commented on #282
Closed because PR is accepted.

[2017-06-06 11:07] #282 closed

[2017-06-06 11:46] xukai92 opened #283 "Beyond vectorisation?"
Seems that BLAS will give the best performance optimisation (especially for matrix ops), though it might not support AD (i guess)? Might be a future work if we need it.

Ref: JuliaCon 2016 | Introduction to Writing High Performance Julia (Workshop)
![image](https://cloud.githubusercontent.com/assets/5985769/26827607/f303c8ac-4ab5-11e7-9ed9-99ca6cddd9a0.png)

[2017-06-06 13:26] xukai92 commented on #255
May worth have a look at if `@simd` can speed the fake vec of matrix variate implemeatnion in Distributions.jl
Ref:
![image](https://cloud.githubusercontent.com/assets/5985769/26831345/f851f406-4ac3-11e7-8598-fd0f68d44ddb.png)

[2017-06-07 14:19] xukai92 commented on #152
Closed by https://github.com/yebai/Turing.jl/pull/278

[2017-06-07 14:19] #152 closed

[2017-06-07 15:39] xukai92 opened #284 "Pre-cond seems unstable/buggy"
Sometimes when the sampler start to using pre-cond matrix, it constantly gives numerical errors.

[2017-06-07 15:41] xukai92 commented on #284
See https://travis-ci.org/yebai/Turing.jl/jobs/239948016: HMCDA has the issue but NUTS seems all fine.

[2017-06-07 19:54] xukai92 commented on #171
May be there is something wrong inside Turing.jl which indeed runs for long?

[2017-06-08 15:09] yebai commented on #275
[code]

[2017-06-08 15:11] yebai commented on #275
@xukai92  This should be a diagonal matrix for HMC. Seems HMC is still adapting parameters when `n_adapt` is set to 0. Any idea why?

[2017-06-08 18:36] xukai92 opened #285 "Submit a PR to Distributions.jl for probability validation for Categorical distribution."

[2017-06-08 18:41] xukai92 commented on #275
I think I apply pre-condition globally, i.e. to all HMC algorithms.

[2017-06-12 16:35] xukai92 commented on #117
Do we also want to support observations of multivariate distributions for data with nested-arrays?

[2017-06-13 13:46] xukai92 commented on #274
We now have a simple homepage at http://yebai.github.io/Turing.jl/ and a log repository at http://80.85.86.210:1111/. Shall we close this issue now?

[2017-06-13 14:56] yebai commented on #274
Yes we can probably close this issue now.

[2017-06-13 14:56] #274 closed

[2017-06-13 14:58] yebai opened #286 "Merge doc, website, and benchmark log page"
we have 3 different web pages for Turing now,

-  http://yebai.github.io/Turing.jl/
- and a log repository at http://80.85.86.210:1111
- and http://turingjl.readthedocs.io/

we might want to merge these pages at some time.

[2017-06-13 21:12] xukai92 opened #287 "Adapative MH"

[2017-06-13 21:13] xukai92 commented on #269
Closed by #206

[2017-06-13 21:13] #269 closed

[2017-06-13 21:14] #209 closed

[2017-06-14 08:18] yebai commented on #275
New running time
[code]

[2017-06-14 08:20] yebai commented on #275
[code]

[2017-06-14 08:22] yebai commented on #275
I believe now we can make Turing programs much faster by writing better Julia code in the `@model` block.

[2017-06-19 20:03] xukai92 commented on #255
Closed by https://github.com/yebai/Turing.jl/pull/281

[2017-06-19 20:06] #255 closed

[2017-06-20 17:02] xukai92 opened #288 "Make better use of view"
`arr[2:3]` actually makes a copy of subset of array but `view(arr, 2:3)` refer to the same memory. This is clear in the current `VarInfo` - should make sure it is leveraged.

[2017-06-21 00:45] xukai92 opened #289 "Make sure HMCDA is not buggy"
some of my runs of HMCDA gives error.

[2017-06-21 13:40] xukai92 commented on #261
Actually a bug for init & find_good_eps. Fixed by https://github.com/yebai/Turing.jl/pull/290

[2017-06-21 15:15] xukai92 commented on #261
In `find_good_eps` if the first trial move is good-luck, it will try to increase `eps`, from 1 to 2. In this case, if `eps=2.0` is actually too large and give numerical error, the current code will just break the loop and use 2.0 as the result. It is more sensible to halve the value before break the loop.

[2017-06-21 18:55] #261 closed

[2017-06-21 22:28] xukai92 commented on #289
*NOTE*: MoC sometimes gives error using HMCDA and NUTS (but HMC also works).

[2017-06-24 05:39] #275 closed

[2017-06-24 06:01] xukai92 opened #293 "Make Turing.jl 0.6 compatible"
Typing system is kind of changed - would need some refactors.

Related issue: https://github.com/yebai/Turing.jl/issues/173

I would suggest that we fix https://github.com/yebai/Turing.jl/issues/177 and also put 0.6 support in our 0.3 release?

[2017-06-24 06:09] xukai92 commented on #276
Done in #281

[2017-06-24 06:09] #276 closed

[2017-06-24 06:10] xukai92 commented on #289
Maybe related to https://github.com/yebai/Turing.jl/issues/284

[2017-06-24 06:18] xukai92 commented on #215
We have already done a lot on this and since in https://github.com/yebai/Turing.jl/issues/293 we need to do the typing refactoring anyway so I'm going to close this issue.

[2017-06-24 06:18] #215 closed

[2017-06-24 06:21] xukai92 commented on #207
Note: using matrix is the vectorisation way actually works around this problem, BUT users need to fetch variables using the nested-array syntax:

[code]

[2017-06-24 06:25] xukai92 opened #294 "Improving the speed of single program run"
After https://github.com/yebai/Turing.jl/issues/275 we can focus on improving the speed of single program run, I think there are several things to check on the Turing.jl side:

1. Do `@model` add statements which may slow down the program?
2. Do `@~` add statements which may slow down the program?
3. Is run-time `VarName` generator slow?
  - I would believe that your implementation of that will be

[2017-06-24 06:27] xukai92 commented on #173
Comments from other developer: syntax sugar like `@model` and `~` is cool and good for end users but we should also make the plain function available (at least have a section "For Developers" to explain how to use them directly)

[2017-06-24 06:31] xukai92 commented on #155
@yebai I think functions exported on https://github.com/yebai/Turing.jl/blob/master/src/Turing.jl#L76 are just functions from Mamba.jl - users who want to use them should import them from the Mamba.jl package - as we already make our `Chain` type a subtype of their `AbstractChain`, it will just work. How do you think?

[2017-06-24 06:37] xukai92 commented on #148
Maybe we should use some logging packages like
- https://github.com/c42f/MicroLogging.jl
- https://github.com/colinfang/MiniLogging.jl
- https://github.com/kmsquire/Logging.jl

[2017-06-28 22:36] xukai92 commented on #286
I'm thinking of making use of GitHub's wiki, for tutorials and stuff; and leave doc only for automatic generated APIs. Otherwise updating doc is a bit tedious. How do you think?

[2017-06-29 16:45] yebai opened #296 "Move notebooks"
we have BayesNN demo back now, the only notebooks we want to move back  (#238) are

- https://github.com/yebai/Turing.jl/blob/master/doc/source/notebooks/04-Bench-Scalability.jl.ipynb
  - Do we still want this, considering we have a HMM one already and have a lot of benchmark models on testing scability
- https://github.com/yebai/Turing.jl/blob/master/doc/source/notebooks/05-Ornstein-Uhlenbeck.ipy

[2017-06-29 20:13] xukai92 opened #299 "Add how to make customised distribution to doc"

[2017-06-29 21:56] xukai92 opened #300 "Using function type instead of Function may improve efficiency"

[2017-06-30 16:36] xukai92 commented on #166
Distribution object is immutable so this issue doesn't exist.

[2017-06-30 16:36] #166 closed

[2017-06-30 16:53] xukai92 commented on #277
- [ ] Add a flag in PG to calculate lp or not

[2017-06-30 21:45] xukai92 opened #302 "Fix Appveyor"
All tests in the recent Appveyor build (https://ci.appveyor.com/project/yebai/turing-jl/branch/master/job/3a3kfg647wyipjiu) pass but Appveyor still gave us error?

[2017-07-03 14:56] yebai commented on #302
Hopefully this is fixed now on the master branch.

[2017-07-03 15:07] yebai opened #305 "Try out memory pre-allocation"
Currently Turing allocates parameter memory every time the program is re-executed, which is wasteful and potentially a major bottleneck for performance.  Perhaps we should start by verifying whether pre-allocating parameters memory will improve performance? We could start with

- LDA
- MoC

etc..

[2017-07-03 20:30] xukai92 commented on #305
Experiment results

Model | Global | Normal | Dim
------------ | -------------| ------------- | ---
MoC | 16.13 | 16.31 |
LDA | 25.82 | 27.68 |

Time here are averages of 5 runs.

Code used for "global" are pasted below:
**MoC**
[code]
:vs:
[code]

**LDA**
[code]
:vs:
[code]

For LDA, I cannot run inference without using global, which I believe is related to our vectorisation implementation (?)

[2017-07-03 20:36] yebai commented on #305
Are these experiments using the same setting as #275?

[2017-07-03 20:40] xukai92 commented on #305
I used `HMC(2000, 0.01, 5)` for **both** LDA and MoC this time.
- For LDA before we used `HMC(2000, 0.025, 10)`.
- For MoC before we used `HMC(2000, 0.01, 5)` as well.

[2017-07-03 20:53] yebai commented on #305
There is only some small improvements here (25.8 vs 26.7), with roughly 1sec speedup. However, even with parameters pre-allocated, Turing still internally causes many  memory allocations, e.g. the following line

https://github.com/yebai/Turing.jl/blob/master/src/samplers/hmc.jl#L167

will basically void the effort of pre-allocating parameters.

[2017-07-03 20:58] xukai92 commented on #305
Yes I see that as well. Internally Turing.jl still re-allocs them; I guess we need to do something like https://github.com/yebai/Turing.jl/blob/master/src/samplers/hmc.jl#L173, for both vec and not-vec `assume()` - so that at least `assume()` doesn't re-alloc them?

[2017-07-03 20:59] xukai92 commented on #305
By https://github.com/yebai/Turing.jl/blob/master/src/samplers/hmc.jl#L173 I mean take the variable in the program scope as a parameter of `assume()`

[2017-07-03 21:01] yebai commented on #305
Yes, we can do that. But there are still many other places calling `getindex(vi, idx)`, e.g. inside `leapfrog` function, inside `gradient` function, etc.. And for every call to `getindex`, we will waste 1sec roughly..

[2017-07-03 21:01] #117 closed

[2017-07-03 21:02] yebai commented on #305
Ps. It is better to produce these running time numbers automatically on Travis, as what we do in #275

[2017-07-03 21:04] yebai commented on #302
AppVeyor is running now, but there are some failed tests.

[2017-07-03 21:09] xukai92 commented on #305
I think it is possible to do everything in-place but we need to think about it carefully.

Also for not-vec assume, I guess we can't simply support user to use pre-defined variables in our current syntax: we assume left hand side is not defined for `left ~ right`.

Can we have a meeting on these points tomorrow?

[2017-07-03 21:10] xukai92 commented on #302
Seems they are not Turing.jl errors. Win32 simply failed to install Cairo.jl

[2017-07-03 21:11] yebai commented on #305
@xukai92 I can't do tomorrow, but Wednesday works fine.

[2017-07-03 21:13] xukai92 commented on #305
@yebai Let's meet up on Wednesday then!

[2017-07-04 22:28] xukai92 opened #307 "Why no need of using Distributions now?"
I found that we no longer need to call `using Distributions` to run inference. Why?

[2017-07-05 16:02] yebai commented on #307
Not entirely sure, but one possible reason is that the model function is now generated in the Turing package scope, which already imports the Distributions.

[2017-07-05 16:04] yebai opened #308 "VarName is slow"
The current variable naming mechanism inserts code to generated model function, which seems to cause a (substantial) performance issue.

[2017-07-05 16:08] yebai commented on #305
After some discussions, we've come up with some potential bottlenecks involving redundant memory allocations:

- `getindex(VarInfo, idx)` currently creates a copy of memory indexed by `idx`. Maybe a better implementation is  to use ArrayView?
- `acclop!`: when called inside a for loop, this function could be slow.

[2017-07-05 16:12] yebai commented on #155
Fixed by #301

[2017-07-05 16:12] #155 closed

[2017-07-05 16:13] yebai opened #309 "Add more models to benchmarking"
Add models from the following folder to benchmarking

- https://github.com/goedman/Stan.jl/tree/master/Examples/NoMamba

[2017-07-05 16:13] #256 closed

[2017-07-05 18:38] xukai92 commented on #307
I guess so. I think it's fine if that's the case.

[2017-07-05 20:14] xukai92 commented on #309
The first one https://github.com/goedman/Stan.jl/blob/master/Examples/NoMamba/ARM/Ch03/Kid/kidscore.jl Stan version is broken. They didn't even put a prior on their variables so CMDStan gives error about

[code]

[2017-07-05 20:21] xukai92 commented on #309
Update

It seems that the folder `NoMamba` need to set `useMamba=false` for Stan so that their model can do maximumlikelihood?

[2017-07-05 20:33] xukai92 commented on #309
Update

Use HMC in that case in Stan gives a wrong answer (different from setting `useMamba=false`).
I managed to do a maximum likelihood in Turing.jl which gives a wrong answer.

[2017-07-05 20:45] xukai92 commented on #309
@yebai Do we still want the Bernoulli one?

[2017-07-05 22:10] xukai92 commented on #308
Quick experiment of generate 1,000 `VarName`:

[code]

Your implementation is not only fast but also cached by Julia somehow?

Code is in the end of `benchmark/optimization.jl` (https://github.com/yebai/Turing.jl/pull/310).

[2017-07-06 11:09] xukai92 commented on #308
I'm going to make Turing.jl use your implementation today.

[2017-07-06 14:23] xukai92 commented on #307
I found that after `using Turing` I can use things like `Normal` even outside `@model`

[2017-07-06 14:47] xukai92 commented on #308
https://github.com/yebai/Turing.jl/pull/310/commits/f8200df1cd84de0a4fa5869285bfab610fb7b587 and https://github.com/yebai/Turing.jl/pull/310/commits/3b9f5f6d4201a8f9924b9f3608e5a66897750f1d removes the use of `varname`

[2017-07-06 14:49] xukai92 commented on #308
Note:

`@VarName` has to be inserted to the generated function directly because it cotains runtime information. As there is a place where the compile time symbol is needed, I added a function `getvsym` for that purpose. By these two changes, `varname()` is removed.

[2017-07-06 15:06] yebai commented on #307
This is also true for the Mamba package.

[2017-07-06 15:11] xukai92 commented on #307
I see. I am just bit worried if it is a good Julia practice. Maybe we can ignore it for now.

[2017-07-06 15:11] yebai commented on #309
Stan places a uniform prior on parameters without explicit prior specification, see

https://stats.stackexchange.com/questions/37611/parameters-without-defined-priors-in-stan

[2017-07-06 15:15] xukai92 commented on #309
Yes. I added two helper distributions for that purpose in https://github.com/yebai/Turing.jl/pull/310/commits/ee09dd1bb9db5d55c97749ca68428c5bf67e3bf7, but still seems not get stable answer (actually even Stan doesn't, when sampler is set to HMC).

[2017-07-06 15:26] #307 closed

[2017-07-06 15:44] xukai92 commented on #308
@yebai The change doesn't seem to have obvious improvement. Worsely, the benchmark of `~` in `optimization.txt` even becomes slower. Any idea?

[2017-07-06 17:41] xukai92 commented on #308
Another run without any changes to source codes (e8e35aab6f14712bad8c904b9ee83d51bed42778) seemed to be better.

[2017-07-06 18:49] miguelraz commented on #258
Hello!
I cannot get this working on windows.
[code]
Should I PR the README.md with a workaround/announcement that Windows10 doesn't run out of the box?
[code]

[2017-07-06 18:51] xukai92 commented on #258
Turing.jl does not yet support Julia 0.6. Can you try if it works with 0.5 instead?

[2017-07-06 19:01] xukai92 commented on #288
Actually the use of `view` doesn't help speed-up things a lot because in HMC we need to make copy of `θ` in each leapfrog step. Even with use of `view`, we still need to make manual `copy`. But this does help make the use of `copy` much more clear. And we should always assume the indexing of `VarInfo` is just a view.

[2017-07-06 19:07] miguelraz commented on #258
I got the same error again.
[code]

[2017-07-06 19:09] xukai92 commented on #258
@yebai Do you know how to resolve that?

[2017-07-06 19:11] miguelraz commented on #258
No - I have had issues with mingw32 before, but installed it and solved the previous problem.
Any links would be very helpful - I've exhausted the google options so far.

[2017-07-06 19:14] yebai commented on #258
@miguelraz Turing depends on a small c file (task.c) in order to support efficient particle MCMC enference. Currently, we need MinGW32 and Msys2 to build this c library. You should install these libraries and make them available in the PATH environment variable.

[2017-07-06 19:17] yebai commented on #258
You can follow the links below.

 mingw64 - https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win64/Personal%20Builds/mingw-builds/5.3.0/threads-win32/seh/x86_64-5.3.0-release-win32-seh-rt_v4-rev0.7z/download

mingw32 - https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/5.3.0/threads-win32/dwarf/i686-5.3.0-releas

[2017-07-06 22:09] xukai92 commented on #286
I found that it is still bit difficult to track the performance history - we need to click each file. Maybe consider automatic generate a plot or something.

[2017-07-06 22:12] yebai commented on #286
Yes, perhaps we maintain a plot of running time(s), and add a new point to the plot every time when we push a commit. This requires us to send back benchmarking results in a organised format, then a small script on the server can extract these running times and update the plot

[2017-07-06 22:14] xukai92 commented on #286
Another tricky thing about running time is that the CI severs do not always use the same computational power to run the tests - thus only the time ratio of Turing.jl and Stan is meaningful to plot. But also, single run is quite noisy, especially the running time of Turing.jl has relative large variance.

[2017-07-06 23:06] xukai92 commented on #171
It seems that the ProgressMeter is actually ok? I tried few times it seems fine. I re-enabled it in https://github.com/yebai/Turing.jl/pull/310/commits/29af74d9a79b7104d7bd2b0fe8f4bdf76caf47ff. And let's see if it happens again.

My guess for previews halt is that the tuning may not converge thus cause iniftely long run.

[2017-07-07 11:36] xukai92 commented on #294
Try https://github.com/denizyuret/AutoGrad.jl

[2017-07-08 21:45] xukai92 opened #311 "x ~ Binomal(n, p) is broken due to unsupported Real type"
Need to submit a PR to StatsFuns.jl to fix this in https://github.com/JuliaStats/StatsFuns.jl/blob/master/src/distrs/binom.jl.

[2017-07-08 22:37] xukai92 commented on #309
All models are there now but:

- Kid model gives inconsistent results between Stan and Turing as well as Stan itself
  - Stan sometimes gives error "Exception: normal_lpdf: Scale parameter is nan, but must be > 0!" with static setting, while Turing is always fine because we rejected sample in that case (maybe not a good idea for debugging?)
- Dyes model has very peaky posterior
  - Turing seems to

[2017-07-10 13:37] xukai92 commented on #286
Can we move the tutorial in README.md to the wiki page, where is more easy to make changes and add contents (no commits needed), and just leave a link to this in README.md?

[2017-07-10 13:47] xukai92 commented on #299
Added a wiki here: https://github.com/yebai/Turing.jl/wiki/How-to-define-a-customized-distribution

[2017-07-10 13:47] #299 closed

[2017-07-10 17:33] yebai commented on #308
Can you point me to the corresponding result file?

[2017-07-10 17:34] yebai commented on #286
YES, that makes sense!

[2017-07-10 20:42] xukai92 commented on #286
I've moved the get started part to wiki.

[2017-07-10 20:43] xukai92 commented on #286
I think we can just keep wiki for tutorials and doc for auto-gen APIs?

[2017-07-10 20:43] xukai92 commented on #149
Closed by https://github.com/yebai/Turing.jl/pull/312

[2017-07-10 20:43] #149 closed

[2017-07-10 20:57] keorn opened #313 "Specialised inference"
Detect if a specified model is a Bayes net and then convert to https://github.com/sisl/BayesNets.jl for inference, otherwise throw an exception.

[2017-07-12 14:59] xukai92 commented on #311
PR: https://github.com/JuliaStats/StatsFuns.jl/pull/30

[2017-07-18 20:12] xukai92 opened #314 "Use vec/parallelisation/GPU to speed up link/invlink"

[2017-07-20 16:31] yebai opened #315 "Remove Flat distribution"

[2017-07-20 16:50] xukai92 commented on #311
I haven't finished that PR yet.

[2017-07-20 16:51] xukai92 commented on #309
@yebai Can you have a look at those models with problems (commented above)?

[2017-07-23 21:41] xukai92 commented on #171
HMC actually works in the notebook. It seems that PG has some strange interaction between ProgressMeter? Any idea?

[2017-07-24 00:19] ChrisRackauckas commented on #305
You can just use `@view` instead. Sometimes views get allocated to the stack, but that's something which will be fixed in a Julia 1.x as a compiler optimization, so I would highly recommend just using the Base views.

[2017-07-24 00:22] ChrisRackauckas commented on #314
GPU usage needs to be careful about data transfers: I'm not sure that's actually helpful here. But you can use GPUArrays.jl. If you wrap things in a GPUArray, then the vectorized operations in would be parallelized. By default it will multithread it, but then the user can change the backend to make that work on the GPU via CUDA or OpenCL (that's an easy way to support it and also test if it's actu

[2017-07-24 00:23] ChrisRackauckas commented on #294
AutoGrad is likely going to have issues on v0.6 for quite some time. I would just wait for Cassette.jl if you need backprop

[2017-07-24 00:26] ChrisRackauckas commented on #283
That video is slightly old.  BLAS supports AD since Julia's BLAS functions all have generic fallbacks. Setting everything up as vectorized operations and then using BLAS, views, GPUArrays, etc. is one way to go. The other is to manually devectorize everything that isn't a BLAS call and multithread those (along with `@inbounds` etc.). The latter is more optimized for the single case of just multith

[2017-07-24 00:29] ChrisRackauckas commented on #234
Should probably use in-place gradient functions. But reverse mode is probably more efficient here, so you should probably follow the developments of Cassette.jl

[2017-07-24 00:32] ChrisRackauckas commented on #208
Well no, `x` is changed using its local reference even though it's a global. That's subtly different, but just a standard property of mutating functions in Julia since the value of an array is its reference (i.e. pass by reference and not by value). I don't think this needs to be documented as part of Turing.jl since it's what you'd expect throughout the language from any mutating function.

[2017-07-24 11:58] xukai92 commented on #305
Cool - thanks for this suggestion!

[2017-07-24 12:04] xukai92 commented on #294
Yes and they are also not compatible with all the distributions in Distributions.jl package. We actually solved the points mentioned in this issue except the AD part, which shows worse performance than reverse-mode AD (like AutoGrad.jl) in high dimension.

Is Cassette.jl just the ReverseDiff.jl?

[2017-07-24 12:31] xukai92 commented on #171
@yebai I've located that the cause of this problem is the `resample!()` function, if which is removed the problem disappears.

[2017-07-24 12:36] xukai92 commented on #171
Update: `resample!` works if I use the flag `use_replay=true`

[2017-07-24 15:33] yebai opened #317 "Make `resample!` work with ProgressMeter"
#171

[2017-07-24 15:33] #171 closed

[2017-07-24 15:35] xukai92 commented on #252
Closed by #316

[2017-07-24 15:59] ChrisRackauckas commented on #294
Yes. ReverseDiff.jl is being deprecated for Cassette.jl. It's discussed here:

https://www.youtube.com/watch?v=SXJ0ZfawzxA

[2017-07-24 18:15] yebai commented on #317
Update: `BayesHMM` now runs fine with Atom, but still (mysteriously) broken on Jupyter notebook.

[2017-07-24 19:09] yebai commented on #317
Update 2: this should be working for both Atom and Jupyter notebook now. The bug comes from two sources

- Julia makes some updates to gc mechanism, see [link](https://github.com/JuliaLang/julia/pull/17116)
- There is a missing exception handler in task.c

[2017-07-24 20:49] xukai92 commented on #176
Closed by #318

[2017-07-24 20:49] #176 closed

[2017-07-25 12:45] #317 closed

[2017-07-25 12:45] xukai92 commented on #317
closed by #319

[2017-07-25 15:25] yebai opened #320 "Merge readthedoc website into wiki"
- Copy everything from Turing's readthedoc website to wiki
- Disable/delete read the Turing's readthedoc website.

[2017-07-25 15:27] yebai commented on #270
This is probably fixed by #317

[2017-07-25 15:27] #270 closed

[2017-07-25 16:45] xukai92 commented on #320
Closed by https://github.com/yebai/Turing.jl/pull/321 (remove doc folder) and https://github.com/yebai/Turing.jl/commit/d4707f342c644028781d4daa216aa63f04a83643 (remove doc badge)

[2017-07-25 16:45] #320 closed

[2017-07-25 17:02] xukai92 commented on #296
Closed by https://github.com/yebai/Turing.jl/pull/321

[2017-07-25 17:02] #296 closed

[2017-07-25 17:02] xukai92 commented on #238
Closed by https://github.com/yebai/Turing.jl/pull/321

[2017-07-25 17:02] #238 closed

[2017-07-25 17:03] xukai92 commented on #286
Doc is now immigrated to wiki

[2017-07-25 17:44] yebai opened #323 "Support void distribution type in `setval!(vi, value, vn)`"
To properly support explicit return statements #132, there is need to save variable without distribution types to `VarInfo`. For univariate variables, we could use `Uniform` as to fool `setval!`. But for multivariate variables, using `Uniform` in `setval!` will cause errors due to dimensionality mismatch.

[2017-07-25 17:53] yebai commented on #320
@xukai92  Could we also disable/delete the website - http://turingjl.readthedocs.io/

[2017-07-26 14:39] yebai commented on #308
perhaps we can close this issue now?

[2017-07-26 14:41] xukai92 commented on #308
Yes.

[2017-07-26 14:41] #308 closed

[2017-07-26 14:44] yebai commented on #305
shall we fix this before releasing 0.3?

[2017-07-26 14:44] yebai commented on #288
closed in favour of #305

[2017-07-26 14:44] #288 closed

[2017-07-26 14:46] xukai92 commented on #305
What's left to do? I believe we later came to a conclusion that the memory allocation (without initialisation) is cheap.

[2017-07-26 14:47] yebai opened #324 "Robust adaption for NUTS"
This is a umbrella issue for adaption issues of the NUTS algorithm.

- Pre-cond unstable/buggy #284
- HMCDA is buggy #289
- Adding noise to step size? #268

Before these three

- https://github.com/yebai/Turing.jl/issues/326 should be implemented before starting working on this.

[2017-07-26 14:48] yebai commented on #305
Has this already been resolved?

[2017-07-26 14:52] xukai92 commented on #305
Yes (and no) - I actually didn't use `ArrayView` in the end but use `view(arr, idx)`, which is the equivalent to `@view` I believe.

[2017-07-26 14:53] yebai commented on #305
I see, let's close this issue then

[2017-07-26 14:54] xukai92 commented on #305
Sure

[2017-07-26 14:54] #305 closed

[2017-07-26 15:00] yebai opened #325 "Benchmarking"
I suggest that we use this issue as an umbrella page for tracking improvements of benchmarking performances (memory, running time). For every new commit, we could automatically (see [GitHub.jl](https://github.com/JuliaWeb/GitHub.jl#rest-methods) post a new comment to this issue containing updated runtime information.

[2017-07-26 15:02] yebai commented on #325
| Model | Turing | Stan | Ratio |
| ----- | ------ | ---- | ----- |
|Mixture-of-Categorical|21.31|5.93|3.59|
|Bernoulli Model|3.52|0.02|175.88|
|Binormal (sampling from the prior)|3.31|0.04|82.67|
|School 8|2.27|0.1|22.69|
|LDA|84.27|3.12|27.01|
|Simple Gaussian Model|3.1|0.02|154.89|
|LDA-vec|18.79|3.12|6.02|
|Kid|14.62|1.46|10.01|

[2017-07-26 16:00] #177 closed

[2017-07-26 16:01] yebai commented on #154
Let's close this for now and re-open if necessary.

[2017-07-26 16:01] #154 closed

[2017-07-27 19:34] xukai92 opened #326 "Sampling interface update"
How should we re-design our sampling interface so that it can be consistent to Stan's type (Stan.hmc, Stan.adapt)

[2017-07-30 18:10] emilemathieu commented on #201
Hello @xukai92 !
I have almost finished implementing SGHMC and SGLD, yet I have 3 questions:
- Should I fork the repo and create a pull request from my fork ?
- How can get the size of the batch ? (so as to adapt the learning rate)
- Can we sub-sample, i.e. use mini batch ?

[2017-07-31 14:39] yebai commented on #201
Hello @emilemathieu

Yes please.

We haven't decided how to organise the interface for sub-sampling MCMC methods. Perhaps a starting point is to pass the batch size as a parameter to sampler (e.g. `spl.info`)?

Turing does not yet have interface for sub-sampling data, so feel free to create yours. Perhaps you can overload the vectorised likelihood notation (`x ~ [Dist]`, assuming x is i.i.d distri

[2017-08-02 13:09] emilemathieu commented on #201
Assuming x is i.i.d distributed as Dist (`x ~ [Dist]`) is very limiting I think. One (ugly ?) way is the following:

[code]

However, by doing so, we cannot adapt the learning rate w.r.t. the batch size.

[2017-08-07 11:56] emilemathieu opened #328 "Demo-CRP notebook"
Hi all !

I am interested in the DP mixture, thus I've had a look at the `06-Demo-CRP.ipynb` file, but the interesting parts; `IArray`, `PolyaUrn` and `randclass` are not defined. Is it intended ?

Moreover, the syntax is weird, should not it be ?
[code]

Thanks

[2017-08-08 15:23] #132 closed

[2017-08-08 15:26] yebai commented on #264
Fixed by #322

[2017-08-08 15:26] #264 closed

[2017-08-08 15:26] #91 closed

[2017-08-08 15:35] yebai commented on #328
Hi @emilemathieu, these functions exist in earlier private versions of Turing. I'll try to find them and make them part of the public repo this week.

[2017-08-08 15:37] emilemathieu commented on #328
Thanks @yebai !

[2017-08-08 15:43] yebai commented on #201
Yes, the i.i.d assumption is annoying. The loop-style syntax works for me at the moment. We could re-visit this syntax when new ideas are proposed.

[2017-08-09 14:28] ChrisRackauckas opened #330 "Upgrade to v0.6"
Julia v0.6 is the current release. It seems there's no tests on v0.6, and when I try `using Turing` on v0.6 it stalls.

[2017-08-11 10:43] emilemathieu commented on #328
@yebai any news on this ?

[2017-08-11 13:08] xukai92 commented on #326
This should be done before https://github.com/yebai/Turing.jl/issues/324

[2017-08-11 13:32] xukai92 commented on #324
Notebook for simple illustration of adaptation issue: https://github.com/xukai92/TuringDemo/blob/master/look-into-adapt.ipynb
Helper file for generating LDA data: https://github.com/xukai92/TuringDemo/blob/master/video/lda-gen-data.jl

[2017-08-11 21:57] tkelman commented on #252
You're still changing the behavior of Distributions.jl. Please reopen this and/or fix that.

[2017-08-11 22:00] tkelman commented on #252
You're also overwriting `Base.produce(::Any)` here https://github.com/yebai/Turing.jl/blob/61f6e659c3f838288be9d7fc708173ea222ff24a/src/trace/taskcopy.jl#L41

Please don't do that - anywhere you're getting a method overwrite warning that you're hiding with `@suppress_err`, it's because you're doing something you shouldn't be doing. Use types and functions specific to this package to extend behavio

[2017-08-15 11:51] emilemathieu commented on #328
Hello all !
I've been trying to implement a Dirichlet Process mixture model, and sampling from it, but I have some issues only related to the mixture model.
The `for-loop` apparently stops after the first iteration, `"end loop"` is never printed; this may come from the way the model is compiled. Do you have any idea why ?

[code]

[2017-08-15 14:04] yebai commented on #328
Hi @emilemathieu sorry for the delay. I was on travel in the past few days.

The program runs fine on my computer, and the following output is printed. Are you on the master branch?

[code]

[2017-08-15 14:06] yebai commented on #328
PS. You can simulating the model from prior by using the following syntax

[code]

We have found this very helpful debugging / inspecting models in the past.

BTW, I saw that you have a `DP` distribution in your model, did you implement this distribution?

[2017-08-15 14:35] yebai commented on #173
Relevant discussions on this matter:

https://github.com/JuliaLang/julia/issues/4882

https://github.com/JuliaStats/GLM.jl/issues/116

[2017-08-15 14:37] yebai commented on #330
Yes, we plan to work on that. There is an issue prevent us from using Julia 0.6 at the moment, see

https://github.com/yebai/Turing.jl/issues/173

https://github.com/JuliaLang/METADATA.jl/pull/10646#issuecomment-321925262

[2017-08-18 14:12] yebai commented on #328
When sampling from the prior, the compiled model function will also try to compute the joint probability of the sample under the prior distribution. This became helpful when implementing samplers, since the accept ratio can be easily derived from the `VarInfo` data structure. It should be Ok to implement a NULL function first for DP.

[2017-08-18 15:55] emilemathieu opened #331 "AutoDiff"
Hi all !

I was wondering, why did you choose to use chunk-wise forward AD, and not use http://www.juliadiff.org ?

Best,
Emile

[2017-08-18 16:01] emilemathieu commented on #331
My bad, it seems to be indeed using `ForwardDiff`.

[2017-08-18 16:22] yebai commented on #331
That's right, we are using ForwardDiff.

[2017-08-18 21:46] emilemathieu opened #332 "Particle marginal Metropolis-Hastings (PMMH)"
Hi all !

Have you already thought of implementing [PMMH](https://darrenjw.wordpress.com/2011/05/17/the-particle-marginal-metropolis-hastings-pmmh-particle-mcmc-algorithm/) ?
I'm interested in implementing it !

The syntax could be the following (with the same notations as in the article):
[code]
with `proposal` being a `distribution` type (with `rand` and `pdf` functions available).
Here, `sample

[2017-08-18 22:10] emilemathieu opened #333 "Particle Gibbs (PG)"
Hi all !

Would you have a bit of documentation or insights about what's implemented behind [PG](https://github.com/yebai/Turing.jl/wiki/APIs#pgn_particlesint-n_itersint) ? By reading the code I understood that it looks more like a conditional SMC.

In the article [Particle Markov chain Monte Carlo methods](http://www.stats.ox.ac.uk/~doucet/andrieu_doucet_holenstein_PMCMC.pdf) section 2.4.3, `Part

[2017-08-18 22:14] emilemathieu commented on #328
Thanks for your clear answer @yebai !

Would you like me to create a PR with my *Dirichlet Process* distribution (which is now different from the code above) along with an example of a *DP* used as a prior for a gaussian mixture model ?

[2017-08-19 08:20] yebai commented on #328
Yes, please!

[2017-08-19 08:23] yebai commented on #333
That's quite right. `PG` in Turing actually refers to `CSMC`. Gibbs is slightly more general than `PG`, since it allows combination of samples like `Gibbs(HMC, HMC)`.

@xukai92 Do you think we can change the name of `PG` to `CSMC`? Or perhaps we can create an alias `CSMC` to `PG` to keep backward compatibility?

[2017-08-19 08:27] yebai commented on #332
Sounds great - we thought about it but didn't have the time to implement it. We'll do our best to help.

This looks very reasonable!

[2017-08-20 00:34] emilemathieu opened #334 "PGAS & IPMCMC"
Hi all !

Do you have any plan of implementing [Particle Gibbs with Ancestor Sampling](http://jmlr.org/papers/volume15/lindsten14a/lindsten14a.pdf) and [Interacting Particle Markov Chain Monte Carlo](http://proceedings.mlr.press/v48/rainforth16.pdf) ?
These are very useful PMCMC algorithms, which are implemented in [Anglican](http://www.robots.ox.ac.uk/~fwood/anglican/inference/index.html).

Best,

[2017-08-22 15:54] xukai92 commented on #333
@yebai I feel having a type alias `CSMC` for `PG` is better.

[2017-08-22 16:21] #286 closed

[2017-08-22 16:22] xukai92 opened #335 "Improving Wiki"
- [x] link models in benchmark table to files
- [x] more benchmark / another benchmark table
  - To show that the ratio varies with the amount of data (suggested by Zoubin)

[2017-08-22 16:44] ChrisRackauckas opened #336 "Macro-free interface"
It would be easier for other developers to target the functionality of the package if a function-based interface existed instead of just the macros.

[2017-08-22 19:48] Ayush-iitkgp opened #337 "MethodError: no method matching ##bfit_model#734"
I am using Turing.jl to estimate the parameters of the differential equations from [here](http://nbviewer.jupyter.org/github/xukai92/TuringDemo/blob/master/Differential%20Equation/turing-de.jl.ipynb).
I am getting the error

on executing line `chn = sample(bfit(data), HMC(400, 0.02, 4))
`
I am on the master branch. Help please :)

[2017-08-23 13:45] emilemathieu commented on #332
Hi @yebai !

I'm working on PMMH, and I'm wondering why cannot we use SMC inside a Gibbs sampler (but only PG and Hamiltonian) ? Is it because you didn't adapt SMC (with ` vi[getretain(vi, 0, spl)] = NULL` and such) or is there a theoretical issue ?

[2017-08-23 16:12] yebai commented on #332
It's because of theoretical reasons. SMC is not a valid MCMC kernel, combining SMC with HMC would lead to a biased MCMC sampler.

[2017-08-23 16:14] yebai commented on #337
@xukai92 Could you take a look at this issue?

[2017-08-23 16:22] yebai commented on #336
I think this is a documentation issue, the interface is already function-based. This is because the `@model` macro will generate a standard Julia function, but with pre-defined parameter signature so that inference algorithms can interact with the model. We posted some interface design notes in https://github.com/yebai/Turing.jl/issues/104. Perhaps take a look and see whether that is what you want

[2017-08-23 16:26] xukai92 commented on #337
@Ayush-iitkgp I just re-run the notebook from the beginning to that block, which was fine to me.

Can you double check your running environment. Mine is:

Julia 0.5.2
Turing master (36e1cf791b269973e364958bf23b0f9990a8aaae)

[2017-08-23 16:28] xukai92 commented on #336
Yes it's actually a doc issue.

@yebai: I think it should be added to https://github.com/yebai/Turing.jl/wiki/Advanced-usages right?

@ChrisRackauckas: I will finish the documentation on this along with working on https://github.com/JuliaDiffEq/DiffEqBayes.jl/issues/1

[2017-08-23 16:28] ChrisRackauckas commented on #337
He most likely ran it on v0.6. Probably this then:

https://github.com/yebai/Turing.jl/issues/293

[2017-08-23 16:29] xukai92 commented on #332
@yebai Is this the same reason why PG use Cond-SMC as a MCMC kernel?

[2017-08-23 16:32] yebai commented on #332
yes that's right.

[2017-08-23 16:42] xukai92 commented on #326
Considering backward-compatibility and the purpose of fixing #324, for now, it's better & easier to provide another interface using `Stan.hmc` and `Stan.adapt` to call `Turing.jl`'s interface first.

We can just ignore some setting which unavailable in `Turing.jl` for now, and fix then later when we update internals. Do you think it's fine?

[2017-08-23 16:49] yebai commented on #326
Sounds good to me!

[2017-08-23 20:02] emilemathieu commented on #332
Thanks for the reminding @yebai.

Otherwise, could you explain please why `if spl.alg.gid != 0 link!(vi, spl) end ` and ` if spl.alg.gid != 0 invlink!(vi, spl) end` is necessary in HMC ?

[2017-08-23 20:14] emilemathieu opened #338 "[SMC] Specified resampler not used"
Hi all !

It seems that there an issue in `samplers/smc.jl`; in
[code]
the SMC resampler is not used, should not it be:
[code]
?

Best,
Emile

[2017-08-23 20:22] emilemathieu commented on #334
PGAS is really useful to tackle degeneracy path issues. [Particle Gibbs with Ancestor Sampling for Probabilistic Programs](http://proceedings.mlr.press/v38/vandemeent15.pdf) explains how to implement it in a PPL. I'll look deeper at it to see how it could be implementable in Turing.

If you have any remark/advice don't hesitate since it seems non trivial to implement.

[2017-08-24 03:03] xukai92 commented on #332
@emilemathieu The transformation is performed only when HMC is used in Gibbs (indicated by the condition `spl.alg.gid != 0`). When HMC is used together with other samplers, it is necessary to make sure HMC works in the transformed space (say R). For example, when HMC is used together with PG, PG only works in the original space (say X) but HMC needs to work in the transformed space (R), thus the t

[2017-08-24 03:15] xukai92 commented on #338
Yes I think you are right and this should be fixed. The current code works only because we by default use `Turing.resampleSystematic` as the resampler.

[2017-08-24 07:31] emilemathieu commented on #338
Ok, I'll do a PR to fix this.

[2017-08-24 07:34] emilemathieu commented on #338
I think that I've also spotted another mistake in `pgibbs.jl`:
[code]
Should not it be
[code]
?

[2017-08-24 07:37] emilemathieu commented on #332
Thanks @xukai92 !
Would you have some references about theoretically why is this space transformation is needed ?
Do you whether I should do this in PMMH ?

[2017-08-24 10:29] emilemathieu commented on #332
Moreover I have issues running tests, I get: `LoadError: UndefVarError: check_numerical not defined`.
Shouldn't we add in `src/Turing.jl`
[code]
 ?

[2017-08-24 12:05] emilemathieu commented on #332
PR for review: https://github.com/yebai/Turing.jl/pull/339

[2017-08-24 12:18] emilemathieu commented on #338
PR for review: https://github.com/yebai/Turing.jl/pull/340

[2017-08-24 16:04] yebai commented on #334
I'd recommend to implement this for a limited case first, since it's hard to apply ancestor resampling to models with varying number of dimensions. You can take a look at #250 first, where PG is limited to one vector-valued variable.

[2017-08-25 02:06] xukai92 commented on #338
Yes that's a mistake! Thx for spotting it.

[2017-08-25 10:08] emilemathieu commented on #338
Fixed in https://github.com/yebai/Turing.jl/pull/340

[2017-08-25 13:23] #338 closed

[2017-08-26 17:01] emilemathieu commented on #334
I'll have a look at https://github.com/yebai/Turing.jl/issues/250.

Implementing IPMCMC seems easier. Have you already used parallelisation in Turing ? IPMCMC requires running several SMC and CSMC in parallel.

[2017-08-26 17:13] emilemathieu commented on #333
Like this ?
[code]

[2017-08-26 23:00] Ayush-iitkgp commented on #337
Switching to julia 0.5 worked :)
Thanks!

[2017-08-26 23:00] #337 closed

[2017-08-28 13:46] kleinschmidt commented on #173
StatsModels.jl handles `~` in a Formula as a function now: see https://github.com/JuliaStats/StatsModels.jl/pull/9

[2017-08-28 14:09] yebai commented on #173
@kleinschmidt Thanks, I'll take a look at that. If you know how to port it to Turing, please get in touch.

[2017-08-28 14:10] yebai commented on #333
Yes, that should work.

[2017-08-28 14:12] yebai commented on #334
I've tried to use threaded tasks (ie coroutines) on Julia 0.5, there were some bugs (see https://github.com/yebai/Turing.jl/issues/65) on the Julia side. We are waiting the threads library to become more stable.

[2017-08-28 14:27] tkelman commented on #252
This is still a problem.

[2017-08-28 14:31] yebai commented on #252
We'll see what we can do after fixing #173, https://github.com/yebai/Turing.jl/issues/330

[2017-08-28 14:41] yebai commented on #334
Ps. actually, it's possible to implement IPMCMC with standard coroutines, as they already support non-preemptive multitasking.

[2017-08-28 14:46] emilemathieu commented on #333
Ok, I'll create a PR with that line added in `src/sampler/pgibbs.jl`.
How can I modify the wiki to make that clearer for everyone ?

[2017-08-28 14:49] emilemathieu commented on #334
Could you give me a reference or more details to understand how to use coroutines for IPMCMC ?

[2017-08-28 14:57] tkelman commented on #252
Okay sounds good, thanks for reopening

[2017-08-28 16:17] yebai commented on #333
I'll added you to collaborators, so you can edit the wiki.

[2017-08-28 16:24] yebai commented on #334
It's worth having a look at / play with the following examples first. They demonstrate how tasks are copied in Turing, and how it's used to represent execution traces (particles).

- https://github.com/yebai/Turing.jl/blob/master/test/taskcopy.jl/clonetask.jl
- https://github.com/yebai/Turing.jl/blob/master/test/trace.jl/trace.jl

I'll do my best to help if you run into any questions / difficultie

[2017-08-28 18:04] yebai commented on #330
I made some progresses on this issue. Now Turing can load within Julia 0.6, however, some tests are currently broken (`Pkg.test("Turing")`) -- the issue seems related to a change on the Julia side (https://github.com/JuliaLang/julia/issues/21356).

[2017-08-28 22:50] emilemathieu commented on #332
I've pushed on https://github.com/yebai/Turing.jl/pull/339 the version allowing for parameters' proposal.

[2017-08-28 23:11] emilemathieu commented on #331
In the wiki it is written:
`Turing.jl is currently using ForwardDiff.jl for automatic differentiation, which is believed to be the main reason of slowness of Turing.jl. This AD backend will be replaced by a reverse-mode AD implementation when Julia has a mature one.`

What about `ReverseDiff.jl` or `https://github.com/denizyuret/AutoGrad.jl` @yebai ?

[2017-08-28 23:15] emilemathieu commented on #333
PR for review: https://github.com/yebai/Turing.jl/pull/342

[2017-08-29 07:08] yebai commented on #331
Yes we've looked into this library. I think @xukai92 also did some benchmarking on its performance. The result does suggest backward AD is more efficient than forward AD on big models. Unfortunately this library is currently not compatible with Distributions.jl, and lacks support for many common numerical functions.

[2017-08-29 08:12] #333 closed

[2017-08-29 14:54] emilemathieu commented on #331
Thanks for your answer. And what about `ReverseDiff.jl` ?

[2017-08-29 14:58] ChrisRackauckas commented on #331
ReverseDiff.jl also has a very hard upper bound on ForwardDiff v0.5 which will "break" (or at least pull back) many libraries like Optim.jl, DifferentialEquations.jl, NLsolve.jl, ... i.e. I wouldn't even suggest having it installed anymore since it will cause a ton of problems.

AutoGrad has some issues with broadcast-composed functions since it uses dispatch overloading. So I think it's still stu

[2017-08-29 18:41] xukai92 commented on #336
Wiki updated here: https://github.com/yebai/Turing.jl/wiki/Advanced-usages#avoid-using-model-macro

[2017-08-29 19:03] xukai92 commented on #336
TODOs
- [x] doc how `@model` works
- [ ] doc how `~` works

[2017-08-29 19:08] xukai92 commented on #336
I'm not going to doc the `~` macro as it will be removed soon.

[2017-08-29 19:09] xukai92 opened #344 "Doc Turing.assume, Turing.observe and Turing.VarName"

[2017-08-30 15:14] jwvdm commented on #334
Hi Emile,

It might be worth pointing out that the implementation for PGAS that we present in the paper actually differs from the approach that we implement in the current release of Anglican:

- In the paper, we construct a symbolic expression for conditional densities during evaluation, which is sometimes referred to as a concolic execution.

- In the current Anglican implementation, the executi

[2017-08-30 15:56] emilemathieu commented on #334
Thanks Jan-Willem for these precious insights !

I'll look into that next week and I'll definitely come back to you for specific questions.

Best,
Emile

[2017-09-07 20:58] emilemathieu opened #345 "Chain getindex for vector Symbol"
Hi all !

For models with random vectors, for instance with
[code]

the value returned by `results[:x]` is a vector of 100 vectors (each of size 10) which is annoying.
It would be better to have a vector of 10 vectors (each of size 10), or a matrix (10x100 or 100x10 whatever).

What do you think ?

Best,
Emile

[2017-09-08 21:01] emilemathieu commented on #332
I have pushed a version of `PMMH` that handles user-defined proposals in PR https://github.com/yebai/Turing.jl/pull/339.

[2017-09-11 17:59] emilemathieu opened #346 "Get samples of arbitrary variable in @model, via return ?"
Hi all !

I thought that the `return` statement within a `@model` was similar to `predict` in Anglican (such as `predict :theta-pt07 (> theta 0.7)`), i.e. to set up structured return values (which will be sampled).
Yet, it seems that putting a `return` statement does not change anything and that the `varInfo` object will anyway (only) keep track of all sampled random variables.

Is that intended ?

[2017-09-11 19:34] xukai92 commented on #346
Hi Emile,

Yes this issue is known and not resolved yet, originally mentioned in #132. We were trying to fix that in in #322 (in short I introduced a new filed `pred` to `VarInfo` to achieve that) with the basic function implemented but decided to disable that because of two unsolved bugs/problems:

- PG: maintaining predictions for each coroutine in `VarInfo` gives some (indeterministic) bugs
  -

[2017-09-21 17:46] juliohm opened #347 "Approximate Bayesian computation?"
Is it possible to perform ABC with Turing.jl?

[2017-09-21 19:08] juliohm opened #348 "Build failure in Julia v0.6"
[code]

[2017-09-21 22:21] xukai92 commented on #348
This is a known issue (https://github.com/yebai/Turing.jl/issues/330 & https://github.com/yebai/Turing.jl/issues/293) - we are currently working on making Turing.jl compatible with 0.6.

[2017-09-24 22:26] xukai92 commented on #324
https://github.com/stan-dev/stan/blob/develop/src/stan/mcmc/var_adaptation.hpp shows that the way Stan uses Phase II window is: only set the computing-on-the-fly pre-cond matrix when setting up a new interval.

[2017-09-25 13:43] yebai commented on #347
At the moment, ABC is not directly supported yet. However, it should be easy to add ABC give that we have other simulation-based inference algorithms including IS, SMC etc.  Please have a look at the importance sampling code below and see whether it can help you.

https://github.com/yebai/Turing.jl/blob/master/src/samplers/is.jl

[2017-09-25 13:46] yebai commented on #293
@ChrisRackauckas This is already planed in 0.3.1, which we plan to fix the adaption issue (#324) and Julia 0.6 compatibility.

[2017-09-27 01:51] kleinschmidt commented on #348
I don't think this is a 0.6 issue; it's a problem with the Makefile. I get the same error on 0.5. It's because there are trailing `$` at the end of a couple of lines in the Makefile: https://github.com/yebai/Turing.jl/blob/32551b91aeaa1e636482c21bb085d457533d5b35/deps/Makefile#L8-L9

[2017-09-27 02:31] kleinschmidt commented on #330
See also JuliaLang/julia#19774

[2017-09-27 11:41] yebai commented on #348
@kleinschmidt Could you create a PR for this? Also, any idea why the code actually pass on Travis?

[2017-09-27 14:17] #348 closed

[2017-10-03 00:48] xukai92 commented on #330
I found that if we do the model evaluation and calling `sample()`, Julia doesn't throw the error. E.g.

[code]

[2017-10-03 01:11] xukai92 commented on #330
From https://docs.julialang.org/en/stable/manual/methods/#Redefining-Methods-1

[2017-10-03 16:36] emilemathieu commented on #65
@yebai: I've reproduced the code on the issue https://github.com/JuliaLang/julia/issues/19450 you opened, and I do not get any segfault. Yet, it seems that there is still this issue https://github.com/JuliaLang/julia/issues/10441.

I can't find the `parallelsmc`branch, do you still have the code ?

[2017-10-03 16:39] emilemathieu commented on #332
PR https://github.com/yebai/Turing.jl/pull/339 has been merged.

[2017-10-03 16:41] emilemathieu commented on #345
Is it because of Mamba.Chains ? Or can it be easily modified in Turing ?

[2017-10-06 16:10] emilemathieu commented on #65
The solution posted here https://discourse.julialang.org/t/how-do-i-deal-with-random-number-generation-when-multithreading/5636/2 seems to be a good solution to deal with random numbers while using`@threads`.

[2017-10-08 17:41] emilemathieu commented on #334
Hi all !

I'm implementing IPMCMC in a sequential (non-parallelised) way, such that it could then be parallelised once someone know how to do that in Julia. It's almost done !

@yebai: Could you please explain what's `use_replay` in `resample!(particles, spl.alg.resampler, ref_particle; use_replay=false)` and the difference between `TraceR` and `TraceC`. I don't really get this things.

Best,
Emil

[2017-10-08 22:39] emilemathieu opened #350 "Effective Sample Size useless computation"
Hi all !

Since the function `weights` is defined as
[code]
why computing `sum(Ws) ^ 2` in `effectiveSampleSize` (reminded below) since its equals `1` ?
[code]

Best,
Emile

[2017-10-09 01:05] emilemathieu commented on #334
The PR can be found here https://github.com/yebai/Turing.jl/pull/351

[2017-10-09 08:29] yebai commented on #350
Nice catch - this can be safely removed. I guess `effectiveSampleSize` function was written first, later we introduced the `weights` function which also performs normalization.

Could you correct a PR to remove the redundant `sum(Ws) ^ 2` in `effectiveSampleSize`?

[2017-10-09 08:32] yebai commented on #65
Thanks for investigating into this. Please find my code in the following branch:

https://github.com/yebai/Turing.jl/tree/hg/parallelsmc

[2017-10-09 08:36] yebai commented on #334
@jwvdm Seems you're the only expert on the IPMCMC algorithm here,  could you help us review this PR, please?

[2017-10-09 11:33] emilemathieu commented on #350
Sure, I'll do it tomorrow.

[2017-10-09 11:34] emilemathieu commented on #334
@yebai, have you seen my question on `use_replay` and `TraceR` ?

[2017-10-09 14:20] yebai commented on #334
Sure - there are two ways for copying/forking particles in Turing. The first one is based on replaying random variables, while the second one is based on coroutine copying. The first method for particle copying requires storing all random variables generated during execution of a Turing program. For these purposes, we implemented two related data structures: `TraceR` and `TraceC`. Basically, `Trac

[2017-10-09 14:30] jwvdm commented on #334
@yebai @emilemathieu: I can take a look. It might be a week or so until I get to it, so feel free to ping me again if you don't hear back.

[2017-10-09 14:39] emilemathieu commented on #334
I'll add some comments, and factorise a bit things.

[2017-10-13 13:01] emilemathieu commented on #332
Hi all !

In the current implementation of PMMH, a small modification would allow to use it as a PIMH algorithm.
For reminder, PMMH targets p(theta, x_{1:T} | y_{1:T}) whereas PIMH targets p(x_{1:T} | y_{1:T}) (global parameters theta are considered as deterministic and fixed).

It would be contracted as:
[code]

The only change in the code is:
[code]
which means that if there is no global paramet

[2017-10-13 13:04] emilemathieu opened #352 "HMC with discrete random variables"
Hi all !

I was wondering, in the current implementation of Turing, can we use HMC with discrete random variables ?
If yes, which specific file deals with this issue ?

I've recently read this article [Continuous Relaxations for Discrete Hamiltonian Monte Carlo
 ](http://mlg.eng.cam.ac.uk/pub/pdf/ZhaSutSto12a.pdf) which proposes a way to tackle that.

Best,
Emile

[2017-10-13 14:22] xukai92 commented on #352
Hi Emile,

We can use HMC with discrete random variables at this moment. That's one of the reason we introduce the Gibbs interface so that we can use Particle Gibbs to deal with discrete variables.

Yours,

Kai

[2017-10-13 20:47] stevengj opened #353 "don't override display"
It looks like you are overloading `display` in an attempt to customize output.  This is the wrong way to do it — see the manual on [custom pretty printing](https://docs.julialang.org/en/release-0.6/manual/types/#Custom-pretty-printing-1).

To customize REPL output, you should override `Base.show(io::IO, x::MyType)` and/or `Base.show(io::IO, ::MIME"text/plain", x::MyType)`, as explained in the manu

[2017-10-13 21:20] yebai commented on #353
Thanks for pointing this out - we will fix this in the next release.

[2017-10-15 16:59] emilemathieu commented on #352
Hi Kai,

Did you mean ?

Otherwise your two sentences seem to be in opposition 😕

Best,
Emile

[2017-10-15 20:31] emilemathieu commented on #332
Eventually, several modifications were needed, I pushed a PR https://github.com/yebai/Turing.jl/pull/354.
Feedbacks are welcomed.

Best,
Emile

[2017-10-15 20:54] emilemathieu commented on #350
See PR https://github.com/yebai/Turing.jl/pull/355

Best,
Emile

[2017-10-15 21:55] xukai92 commented on #352
Hi Emile,

Sorry for the typo - yes you're correct we CANNOT use :<

Kai

[2017-10-16 13:21] xukai92 opened #356 "A mixture of Poisson model"
[code]

I was helping with my friend using Turing.jl for a mixture of Poisson model. This example I wrote above runs quite slow when N is like 2,000. Any idea how to make it faster? @yebai

[2017-10-16 18:16] twgr opened #357 "Resampling in CSMC is not optional"
Hey

I noticed that adaptive resampling is currently used for CSMC.  This is not actually valid as, unlike for SMC, resampling does not maintain the target for CSMC.  As such you always have to resample for a CSMC sweep.

Cheers

Tom

[2017-10-16 18:17] emilemathieu commented on #357
One easy way to fix that is to hardcode `resampler_threshold=1.0`and no allowing the user to choose that value.

Best,
Emile

[2017-10-16 22:16] emilemathieu commented on #334
There are some errors in my `IPMCMC` code, I'll notice you when these are fixed (+ comments).

[2017-10-17 16:42] yebai commented on #357
Thanks - we will fix this in release 0.3.1.

[2017-10-18 12:49] emilemathieu opened #358 "Trace Replay"
Hi all !

I try to understand these two way to copying particles `TraceR` and `TraceC` and more precisely how they relate to `SMC` and `PG`,  but this is very obscure currently...

Here are my questions:
* are these two different ways to implement particle forking, yet both yielding the same theoretical results (i.e. yield valid samplers) ?
* why `SMC` has `use_replay=false` by default ?
* why in

[2017-10-18 14:29] emilemathieu opened #359 "Log model evidence and/or weights may be incorrect"
Hi all !

## Log model evidence
For `PMMH` and `IPMCMC` the marginal likelihood p(y_1,...,y_T) estimate is needed.
Is it what is stored in `ParticleContainer.logE` and computed within `Base.consume(pc :: ParticleContainer)` with `increase_logevidence` ?

If so, I believe that there is an error. Since `pc.logWs` accumulates the vector (of size # particles) of log evidence along time, i.e. `pc.logWs

[2017-10-18 16:55] yebai commented on #359
Hi @emilemathieu,

Pls find below for some explanations. You are right that we need some further refactoring to make the code easier to follow for new developers. We can keep the discussion going until we collect enough input.

`ParticleContainer.logE` stores the accumulated model evidence p(y1, y2, ... yt | theta). `pc.logWs` stores the un-normalised incremental log likelihoods between two consec

[2017-10-18 17:16] yebai commented on #358
You're right. We probably need some further refactoring in order to make the code more readable, similar to the issue you raised in #359

Yes - that's right.

Unlike CSMC (or PG), SMC does not need a reference particle, so there is no need to store replaying information. In contrast, CSMC uses replaying information to re-create the reference particle.

This was meant to improve efficiency - when `

[2017-10-18 17:54] yebai commented on #356
I played with the code a bit. The issue seems related to PG code not correctly using coroutine copying. Will try to look further into this issue together with #341.

[2017-10-18 17:55] yebai commented on #350
Fixed by #355.

[2017-10-18 17:55] #350 closed

[2017-10-18 18:05] yebai opened #360 "Refactoring particle filtering related data structures"
Some current code related to particle filtering is buggy (#357) and/or hard to understand (#359, #358, #356) for new developers to Turing. I propose that we take this opportunity to refactor some existing particle filtering code, particularly those in `src/traces/trace.jl` and `src/core/container.jl`.

Please feel free to comment or add links to relevant issues.

Cc: @emilemathieu @xukai92 @twgr

[2017-10-18 18:12] twgr commented on #359
Thanks Hong. I just had a chat with Emile about this and we went through it and confirmed that the implementation is correct.

[2017-10-18 23:25] emilemathieu commented on #359
Indeed, thanks Hong and Tom !
My last question is silly, substracting `maximum(logWs)` to each `logWs` does not change anything.

The computation for the incremental log marginal likelihood is a bit trickier because of adaptive re sampling but is indeed correct ! My bad for these wrong assertions.

[2017-10-18 23:25] #359 closed

[2017-10-18 23:26] emilemathieu commented on #357
I'll soon make a PR to fix this

[2017-10-18 23:33] emilemathieu commented on #358
Thanks a lot Hong for these clarifications !
In short, particle copying is faster but the reference particle in CSMC needs replaying information.

Then, why copying is faster ? And why this replaying information is not available when copying the particle ?

[2017-10-19 11:21] emilemathieu commented on #360
I believe `src/traces/trace.jl` definitely needs some refactoring and comments (or wiki doc).
`src/core/container.jl` might need a bit of documentation or comments but is ok for now I think.

[2017-10-19 11:56] emilemathieu commented on #357
I pushed a PR https://github.com/yebai/Turing.jl/pull/361

[2017-10-19 16:21] ae-foster commented on #358
Hello all! It looks like in some cases the forking mechanism can lead to segmentation faults:

`signal (11): Segmentation fault
while loading /homes/foster/.julia/v0.5/Turing/my-examples/imm_galaxy.jl, in expression starting on line 43
unknown function (ip: 0x7fca705c2c0f)
jl_gc_collect at /usr/lib64/libjulia.so.0.6 (unknown line)
jl_gc_pool_alloc at /usr/lib64/libjulia.so.0.6 (unknown line)
jl_gc

[2017-10-19 16:58] yebai commented on #358
Thanks - it's more likely to be a bug on the Julia side. Nevertheless, it would be easier to help if you have a minimal example that can reproduce the segfault.

Turing uses Julia [task](https://docs.julialang.org/en/latest/stdlib/parallel.html#Core.Task) to implement particles, so it is very lightweight and does not involve any OS level operations. Currently, Julia does not natively support corou

[2017-10-19 20:02] xukai92 commented on #356
Yes - also it seems that PG doesn't free the memory it uses: I experienced memory overflow when running that for a relative long iteration (like 1,000) with not-small number of particles (like 100) with my Linux machine with 8GB memory.

[2017-10-19 20:02] xukai92 commented on #356
By memory overflow I simply means my computer freezes.

[2017-10-19 20:14] xukai92 commented on #358
@emilemathieu

Simply because copying means you copy the state of the particle in the memory directly, while replaying means you re-run the program to the state you want to restore.

Firstly we actually do the same thing in forkr.

This is an implementation detail to support generic interface - we don't delete things from the VarInfo directly; instead we use NULL, which is a constant (defined in L

[2017-10-19 20:30] #357 closed

[2017-10-19 20:40] #334 closed

[2017-10-19 22:32] emilemathieu opened #365 "Symbol compilation"
Hi all !

I have  a model with a state `x` of dimension 2:
[code]

The symbol `x` is compiled in a weird way when I run `println(chain.names)`. I get `Nx2` ugly names:

"xAny[64,1:2][2]"
...

and trying `chain[:x]` yields

That's very ugly and therefore hard to deal with the samples. Could that be easily solved ?

Best,
Emile

[2017-10-20 12:35] ae-foster commented on #358
@yebai thanks for the insight. The segfault can be reproduced by simply running
[code]

Thanks- very useful. Looks like this feature may well make its way into Julia base soon-ish.

[2017-10-20 12:38] ae-foster commented on #358
Here's the full output from `Pkg.test("Turing")` leading to a segfault
[error.txt](https://github.com/yebai/Turing.jl/files/1401915/error.txt)

[2017-10-20 14:12] emilemathieu commented on #365
A way to solve that would be to handle `assume` statement with tuple on the left-hand side:
[code]
Would that be hard to implement ?

[2017-10-20 14:59] yebai commented on #332
@emilemathieu Yes for transparency, it would be better to have a typealias `PIMH` referencing `PMMH`.

[2017-10-20 15:14] emilemathieu commented on #332
@yebai
such as `typealias PIMH PMMH` ?
Or something like
[code]
and then construct `PIMH` as a special case of `PMMH` ?

[2017-10-23 07:32] #345 closed

[2017-10-25 10:52] emilemathieu opened #366 "Metropolis-Hasting sampler"
Hi all !

I believe having a simple Metropolis Hasting (`MH`) sampler in Turing would be beneficial.
First, it's one of the simplest sampler. Second, It could be used to refactor `PMMH` and maybe existing or future samplers.

The constructor could be:
[code]

Best regards,
Emile

[2017-11-06 15:58] emilemathieu opened #367 "Handling several vectors of random variables with random size"
Hi all,

I found several issues preventing from performing inference in Turing on models with several vectors of random variables with random size. Handling this case is really important for Turing to be really "universal".

* Random lengths issues:
  * Wrapping samples in `Chain` at the end of `Sample(model::Function, alg::T)` calls `flatten!(chn::Chain)` which relies on the assumption that each

[2017-11-06 16:14] emilemathieu commented on #358
@xukai92 Thanks for your answer, now I understand what `forkc` is doing. Yet I still don't understand why do we need to apply `newtrace.vi[getretain(newtrace.vi, n_rand, trace.spl)] = NULL` ? Since in `step(model::Function, spl::Sampler{PG}, vi::VarInfo)` we already do `vi[getretain(vi, 0, spl)] = NULL`.
Could you please give some explanation/insights on that ?

[2017-11-06 16:14] #365 closed

[2017-11-07 00:09] emilemathieu commented on #330
Any news on this issue ?
Do we have a list of the issues/tests yet solved ?

[2017-11-07 13:02] xukai92 commented on #330
@emilemathieu Please see https://github.com/yebai/Turing.jl/pull/341

In short Turing can be used in Julia 0.6 in this PR, and we are adapting the new co-routine and fixing some minor issues.

[2017-11-07 17:46] emilemathieu opened #368 "Transformed random variables initialisation"
Hi all !

In `HMC`, `VarInfo` is initialised with `vi = model()` which consequently calls the default `assume`, then `init(dist)`, then `inittrans(dist)` if `dist` is a subtype of `TransformDistribution`.

I don't understand why don't we sample from the prior (`rand(dist)`) for initialisation, instead of this uniform sampling (through some mapping) which can be quite far from the prior (and poster

[2017-11-08 14:08] xukai92 commented on #367
I believe our current design of `VarInfo` only supports **varied number of variables** but not **varied dimension of the same variable**. @yebai Are you agree on this?

I agree there are some bugs on varied dimension now. Ideally both PG and HMC should be able to do inference on models with varied number of variables. Maybe we should agree on some concrete examples and try to fix them?

[2017-11-08 14:36] yebai commented on #330
@xukai92 let's try to merge the PR this week - I will make an effort of fixing coroutine issue; Could you fix other known issues?

[2017-11-08 14:37] xukai92 commented on #358
At each step of PG we only need one particle which contains `VarInfo` from the previous step - this is the role of `ref_particle`. Other particles should be new, with variables of other samplers stayed the same.

Thus we have `vi[getretain(vi, 0, spl)] = NULL` as a preparation for the `push!` function to create multiple particles.

[2017-11-08 15:33] emilemathieu commented on #367
Some issues that I encountered are related to **vectors of random variables (i.e. multivariate random variables with size nx1) with random length** (n random), and others are related to random variables being **sampled in different orders**. I've updated my first post.

[2017-11-09 15:40] emilemathieu commented on #331
In our case, we want to compute the gradient of the joint probability which is a function from the cartesian product of the model random variables' support to R, therefore R^n -> R with n=sum{n_i} (n_i being the dimensionality of the ith rv). Reverse differentiation should be more efficient than forward differentiation from a theoretical point of view, isn't it ?

@ChrisRackauckas Do you know whet

[2017-11-09 15:45] ChrisRackauckas commented on #331
Cassette.jl is just a graph construction algorithm. ReverseDiff.jl will be rewritten to use Cassette.jl. I don't know of any timelines, other than "soon enough".

[2017-11-09 19:46] emilemathieu commented on #367
I currently see 2 ways to handle sampling variables in random orders for `CSMC`:

* In `assume` when a `NaN` value is encountered, in addition to `setval!` and `setgid!` another function `updateidcsvals!(vi, vn, index)` could be called. This function would check whether `vi.idcs[vn]==index`. If not, the current sampled value `vn` and the one having `index` as value in `vi.idcs` would be swap (both

[2017-11-09 22:55] emilemathieu commented on #358
Thanks @xukai92 !
Yet, I believe that doing `newtrace.vi[getretain(newtrace.vi, n_rand, trace.spl)] = NULL` in `forkc(trace :: Trace)` is useless when `trace` is not the reference particle, do you agree ? We only need to remove the remaining randomness for the reference particle.

We may want to do instead
[code]

[2017-11-10 11:38] emilemathieu commented on #287
Do you mean Gaussian random walk MH with adaptive variance ? Or is it something more generic ?

[2017-11-10 11:42] #328 closed

[2017-11-10 11:44] emilemathieu commented on #201
Merged https://github.com/yebai/Turing.jl/pull/327

[2017-11-10 11:44] #201 closed

[2017-11-10 11:44] emilemathieu commented on #287
Dependance on https://github.com/yebai/Turing.jl/issues/366

[2017-11-10 11:49] emilemathieu commented on #293
Closed the duplicate issue https://github.com/yebai/Turing.jl/issues/330

[2017-11-10 11:49] emilemathieu commented on #330
Duplicate: https://github.com/yebai/Turing.jl/issues/293

[2017-11-10 11:49] #330 closed

[2017-11-10 11:58] emilemathieu commented on #250
Insights from Jan-Willem van de Meent at https://github.com/yebai/Turing.jl/issues/334#issuecomment-326022923

[2017-11-12 17:59] emilemathieu commented on #366
PR https://github.com/yebai/Turing.jl/pull/369

[2017-11-12 18:24] emilemathieu opened #370 "[BNP] Bayesian Nonparametrics project"
This is a macro issue to follow the development of Turing being able to handle nonparametric models.

- [x] Defining the class of models we aim to handle: Q-class cf https://github.com/yebai/Turing.jl/issues/374
  - [x] Implement DP, PYP via stick breaking: [Here](https://github.com/yebai/Turing.jl/blob/project-bnp/src/samplers/support/rpm/pyp.jl)
  - [x] Q-class total mass: `rand(ExpTiltedSigma(s

[2017-11-12 18:26] emilemathieu commented on #332
PR https://github.com/yebai/Turing.jl/pull/369

[2017-11-12 19:56] yebai commented on #330
As of now, all tests in #341 are passing on Julia 0.6.

[2017-11-12 20:56] emilemathieu commented on #370
I created a branch with a proof of concept: https://github.com/yebai/Turing.jl/blob/project-bnp/test/rpm.jl/imm.jl.

[2017-11-12 21:07] emilemathieu commented on #367
This first solution described above is the following

[code]

[2017-11-13 14:37] ChrisRackauckas commented on #330
For the warnings you can just install Femtocleaner

https://github.com/JuliaComputing/FemtoCleaner.jl

[2017-11-13 16:08] emilemathieu opened #371 "[BNP] Model & metric for test"
We need a test so as to make sure that samples are distributed according the right distribution for the BNP project.
* One way could be a correctness test such as Geweke.
* A maybe better way, is a toy model (small mixture model ?) for which we can compute the posterior (analytically or with SMC with lots of particle)

[2017-11-13 16:40] emilemathieu opened #372 "[HMC] Update random variables independent of the joint likelihood ?"
In `HMC` during a leapfrog step, all variables are updated (via `p -= ϵ * grad / 2; θ += ϵ * p`).

Should't we avoid updating random variables which do not affect the joint probability ? Otherwise, we might be moving these random variables to one of their prior's modes.

We could detect those variables since their partial derivative (i.e. the associated component in `grad = gradient(vi, model, spl

[2017-11-13 17:09] emilemathieu opened #373 "[CSMC] Case where random variable is unknown and belongs to a different sampler"
Currently in `CSMC` if an `assume` statement is encountered with a random variable that doest not belongs to this `CSMC`'s space (should not be updated) we get en error. Indeed since we have the following

[code]

We can fix that by checking whether that random variable exists, and if not sample it from its prior and push it to `VarInfo` with a `gid=-1` (which will be updated once resampled from i

[2017-11-13 17:17] emilemathieu commented on #358
@yebai what do you think of that ?

[2017-11-13 17:18] emilemathieu commented on #373
@yebai do you have any thought on this ?

[2017-11-13 17:20] emilemathieu commented on #368
@yebai do you have an answer for this ?

[2017-11-13 17:23] emilemathieu opened #374 "[BNP] Q-class"
Sample from Q-class: `rand` and `logpdf` for total mass and size biased sampling.

 - [x] Implement DP, PYP via stick breaking: [Here](https://github.com/yebai/Turing.jl/blob/project-bnp/src/samplers/support/rpm/pyp.jl)
  - [x] Q-class total mass: `rand(ExpTiltedSigma(sigma, tau))`: [Here](https://github.com/yebai/Turing.jl/blob/project-bnp/src/samplers/support/rpm/ngip.jl)
  - [ ] Q-class total m