[2017-11-13 17:38] emilemathieu commented on #367
@yebai have you read that ?

[2017-11-13 17:41] mlomeli1 commented on #371
I agree with the idea of computing analytically the posterior probabilities for a small case by combinatorial enumeration. Then, we need to compare these probabilities to the ones obtained with the SMC output using a large number of particles to asses correctness of the algorithm. See the analytic expressions for a PY mixture model in my thesis, Section 2.7.4, page 46.

[2017-11-13 17:44] emilemathieu opened #375 "[HMC] [IMM] gradient issue"
Naively run `gradient` on this [infinite mixture model](https://github.com/yebai/Turing.jl/blob/project-bnp/test/rpm.jl/imm.jl) fails cf https://github.com/JuliaDiff/ForwardDiff.jl/issues/280#issuecomment-343963565.

* Make `gradient` works on such a model.

* Check that the obtain gradient matches the gradient of the analytical joint of a mixture model with a NRM or PK prior.

[2017-11-13 17:50] emilemathieu opened #376 "[MH] change of variable"
Change of variable before Metropolis-Hasting update.
The syntax could be the following
[code]

[2017-11-13 19:25] yebai commented on #368
This is for better numerical stability for the HMC sampler- we initialised used samples from the prior as initialisation, but for transformed variables such as Dirichlet, the gradient often vanishes. This is also what the HMC sampler in Stan does by default

[2017-11-13 19:28] yebai commented on #367
I need a bit time to refresh my memory about relevant data structures - will try to address this issue in the next 2 days.

[2017-11-13 19:35] emilemathieu commented on #367
Another way to fix that would be to avoid situations like `vi.vals=...,NaN,1.0` by creating "fresh" particles in `CSMC`'s `step` method, by setting `vi = VarInfo()` instead of `vi[getretain(vi, 0, spl)] = NULL`.
Moreover, in `forkc(trace,...)` we would copy only the part of `trace.vi` which corresponds to the existing randomness with

[code]

and `deepcopywithoutrandomness` defined as
[code]

I gu

[2017-11-13 22:52] xukai92 commented on #368
Yes, it's mainly about numerical stability. Note for transformed variables, we directly initialise them **in their transformed space** in stead of original space, which ensures that their initialisation gives no error in their transformed space.

[2017-11-13 22:58] xukai92 commented on #373
I think you fix will work. But it seems that we need a more organized way to fix this along with https://github.com/yebai/Turing.jl/issues/367?

[2017-11-14 10:26] emilemathieu commented on #373
@xukai92 i think this is orthogonal of #367.

Will `gid=-1` be an issue ? Or maybe we could try to get the right `gid` by looking at `sub_alg`'s spaces. ?

[2017-11-14 12:43] ae-foster commented on #374
For efficient sampling of exponentially tilted stable random variables, Devroye double rejection sampling sounds efficient: http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.157.9416&rep=rep1&type=pdf (see page 21 for the actual algorithm)

[2017-11-14 13:00] mlomeli1 commented on #374
The current code is based on Hoffert (2011)
http://delivery.acm.org/10.1145/2050000/2043638/a3-hofert.pdf?ip=131.111.5.148&id=2043638&acc=ACTIVE%20SERVICE&key=BF07A2EE685417C5%2E6CDC43D2A5950A53%2E4D4702B0C3E38B35%2E4D4702B0C3E38B35&CFID=1005798912&CFTOKEN=54131981&__acm__=1510664595_6a074af8f4a60fe0f0f69844e6a1389b
He refers to Devroye (2009) and compares against it. If you would like to know whe

[2017-11-14 13:05] ae-foster commented on #374
Oh tx @mlomeli1 - I guess we're good to leave as is until we notice a bottleneck in the total mass sampler :)

[2017-11-14 13:13] mlomeli1 commented on #374
I just realised the link doesn't work. The paper is "Sampling Exponentially Tilted Stable Distributions" by Marius Hoffert. I think you have a good point but am just saying that you should have a look at that paper to know when the double rejection sampling of Devroye (2009) is better, i.e. there might be some tilting parameters for which it performs better. If that is the case, then it might be w

[2017-11-14 13:34] emilemathieu commented on #368
Thanks for your answers !
How could I know whether such a transformation is needed for `Distributions.rand(d::SBS_DP) = d.T_surplus*rand(Beta(1, d.alpha))` ?

I overrode this initialisation for this distribution (https://github.com/yebai/Turing.jl/commit/1fb6ab880660186856defcc07ca6ef64d79683ee) since the samples were far away from the prior (`d.alpha`) wasn't taken into account.

[2017-11-14 14:21] #368 closed

[2017-11-14 14:58] xukai92 commented on #326
This is done in https://github.com/yebai/Turing.jl/pull/343

[2017-11-14 14:59] yebai opened #377 "Refactoring `VarInfo`"
This is an umbrella issue for all `VarInfo` related issues.

- [x] Support void distribution type in `setval!(vi, value, vn)` #323
- [ ] Merge `Trace.vi` and `vi`? #249
- [x] Trace Replay #358
- [x] Remove `VarInfo.index` #388
- [x] Allow adding right-hand-side information to `VarName` #389
- [x] More robust mechanism for deleting entries from `VarInfo` #391
- [x] Turn `VarInfo` into a sub-module.

[2017-11-14 15:01] xukai92 commented on #311
Closed as https://github.com/JuliaStats/StatsFuns.jl/pull/30 is accepted.

[2017-11-14 15:01] #311 closed

[2017-11-14 15:02] xukai92 commented on #326
Closed by #343

[2017-11-14 15:02] #326 closed

[2017-11-14 15:09] xukai92 commented on #104
TODO:
- [ ] doc these changes.

[2017-11-14 15:09] yebai commented on #104
@xukai92 Can we move these design discussions on language syntax and sampling interface to the wiki?

[2017-11-14 15:18] ae-foster commented on #374
Huh the link worked for me. Yeah they have a criterion for choosing between the methods. I wouldn't invest time in it though, unless we see that a lot of time is spent on total mass sampling

[2017-11-14 16:25] ae-foster commented on #375
Ok @emilemathieu I think I have (at least partially) understood the problem. The main problem is the transformation we apply to weights:
[code]
In our case, `maximum(d) = T_surplus` *depends on the value of other variables*. This already seems like a bad idea, because a change in the value of the first weight implicitly changes the values of all other weights.

And then, to cause the actual error

[2017-11-14 18:41] emilemathieu opened #378 "[Gibbs] Increase performance when subsamplers have several iterations"
When a sampler is used within `Gibbs` such as `MH` or `HMC`, there is an overhead at each iteration when this subsampler's `step` method is called. For instance in `HMC` there is
[code]

These blocks could be refactored in `prepare` and `unprepare` functions which would then be called before and after this subsampled is called in `Gibbs`:
[code]

@xukai92 do you know whether this is a big overhead

[2017-11-14 18:42] emilemathieu commented on #375
There are 2 things here:

* Generically, `vi.dists[vn]` is never updated in `HMC` which means that for distributions which need to be transformed, the transformation can only depends on the distribution type and **NOT** on parameters of that distribution. Following the 2sd point that's seems like a good safeguard.

* This is the case for the lazy size-biased sampling case since `J[k] ~ SBS_DP(para

[2017-11-14 19:29] emilemathieu commented on #375
@ae-foster Is `HMC` working on the atoms' location `:x` at least ?
The weights could be updated with `CSMC` if we don't find another way.

[2017-11-14 20:15] mlomeli1 commented on #375
@ae-foster , note that each size biased weight has different support in the current parameterisation: namely, say we first draw the total mass T, then, J_1 \in (0,T), J_2  \in (0,T-J1), ... J_k  \in (0,T-J1-...T_{k-1}), so we have to be careful about this.
An alternative is to use the parameterisation from Favaro and Walker (2012)"Slice sampling sigma-stable Poisson-Kingman mixture models" JCGS. T

[2017-11-14 20:24] ae-foster commented on #375
@emilemathieu I think it is working (would have to check though). Also I don't think it's time to give up yet! What about the idea of avoiding `T` altogether and focusing on `T^*`? I'm getting that idea from https://arxiv.org/pdf/1401.1137.pdf page 26.

In general, though, HMC won't work when the state space is highly dynamic. I wonder precisely which probabilistic programs it wouldn't work for...

[2017-11-15 10:41] emilemathieu commented on #375
@ae-foster @mlomeli1 We could do the inference on the size-biased stick length `V_i`s otherwise (`~ Beta(1, alpha)` for the DP).

[2017-11-15 11:27] mlomeli1 commented on #375
We could do @emilemathieu , if we handle the DP case separately from the Q-class (which is actually good to do since it is a limit case of such class). For the Q-class have a look at the Favaro and Walker (2013) paper I cited. It has a reparameterisation of the size-biased weights in terms of (0,1) random variables. We know that for all priors apart from DP and PY, this are no longer independent n

[2017-11-15 11:46] emilemathieu opened #379 "Debugging tools"
Fo this package to be easy to extend and enhance, it needs more **debugging tools**, **along with a detailed wiki** (which is currently lacking).  The `setverbosity` command is awesome for instance. Here are some more ideas, please contribute so that we pick and implement the best.

* `time_elapsed = @elapsed vi = step(model, spl, vi, i == 1)` prevent from debug inside `step` which means that each

[2017-11-15 12:01] emilemathieu commented on #375
@mlomeli1 Indeed the stick length are no longer Beta distributed and independent for other classes than the DP and PYP. Yet the dependancy issue with weights Js is specifically that their support depends on previous weights. Otherwise the fact that their distribution parameters is a function of the previous weight is not an issue, such as for [this simple example](https://github.com/yebai/Turing.j

[2017-11-15 13:08] mlomeli1 commented on #375
Indeed, @emilemathieu, that identity in distribution is useful for sampling a new size biased weight for any sigma-Stable PK model. However, I thought the issue  in the thread is about how to update the existing table weights together with all the other continuous r.v. such as table parameters. Which is why I mention the joint distribution in Favaro and Walker  (2012) in which the support doesn't

[2017-11-16 15:00] yebai commented on #293
cc @xukai92 @emilemathieu @ae-foster @ChrisRackauckas

We have fixed all known compatibility issues of Turing with Julia 0.6. The master branch of Turing now supports (requires) Julia 0.6.

[2017-11-16 18:04] #173 closed

[2017-11-16 18:04] #293 closed

[2017-11-16 18:05] ChrisRackauckas commented on #293
Great thanks! When do you plan on tagging?

[2017-11-16 18:06] yebai commented on #302
I checked the Cairo package; seems their tests on Win32 fails too, so it's not a Turing issue.

[2017-11-16 18:06] #302 closed

[2017-11-16 18:09] yebai commented on #293
There are some remaining issues with the NUTS sampler, mostly related to robust adaption (see https://github.com/yebai/Turing.jl/milestone/5). I planned to fix those issues altogether in 0.3.1. But perhaps we can move these issues to 0.3.2 and make a new tagging now. What do you think?

[2017-11-17 01:20] xukai92 commented on #379
Maybe we could `tic()` and `toc()` instead.

Sounds like a good idea. How do you plan to do that?

Juno does support basic debugging tools like setting breakpoints, step in/out/over, etc. But I experienced some difficulty using it long time ago due to the fact that our model is wrapped by a `@model` macro. I switched to VSCode for a while so please let me know if it is working in Juno now or not.

[2017-11-17 01:32] xukai92 commented on #378
Good idea! I think we do need to do something to avoid the transformation if it is not necessary, and your proposal makes sense.

This is actually a known overhead to Hong and I. The main reason we had such bit of codes is because HMC do inference in the **transformed space** but particle based algorithms do inference in the **original space**. Also, particle based algorithms don't require gradien

[2017-11-17 02:49] ChrisRackauckas commented on #293
I would prefer a quicker tag, and more can always be added later of course. Reviewing tags in METADATA is easier when you have less per tag.

[2017-11-17 10:32] yebai commented on #293
I see - will do.

[2017-11-17 12:02] attobot opened #382 "Error tagging new release"
The tag name "0.4.0" is not of the appropriate SemVer form (vX.Y.Z).
cc: @yebai

[2017-11-17 12:02] #382 closed

[2017-11-17 15:57] emilemathieu commented on #378
I like your solution @xukai92 ! Something like
[code]

[2017-11-17 16:04] emilemathieu commented on #379
I'm not sure; could we have in `current_trace()` the current particle's index ?

I believe that we can have the consume index with `current_trace().vi.num_produce`.

Indeed with Juno we can't get in the models' execution... Maybe by calling `model=model_name(args)` before. How can we set breakpoint ? I only use `@step function_name(args)` currently :/

[2017-11-17 16:29] emilemathieu opened #383 "[Particle Gibbs] [Bug] Missing global parameter prior in particles weight"
In `CSMC` when used within a `Gibbs` sampler, particles' weight should include (log)priors of conditioned random variables.

For instance in the following [mixture model](https://github.com/yebai/Turing.jl/blob/master/test/gibbs.jl/gibbs2.jl), normal random variables `:mu1` and `:mu2` `logpdf`s should be added in particles' weight. Fortunately for this particular case, all particles are missing th

[2017-11-17 16:51] emilemathieu commented on #383
Proposition of fix: https://github.com/yebai/Turing.jl/pull/384

[2017-11-17 16:54] emilemathieu commented on #373
PR: https://github.com/yebai/Turing.jl/pull/384

[2017-11-17 17:17] emilemathieu commented on #383
@twgr would you have a simple model that should fail with the current implementation, so as to write a test ?

[2017-11-17 17:36] emilemathieu opened #385 "[Gibbs] Load conditioned random variables"
Within a Gibbs sampler, is there a way to load random variables that are not updated by the current sampler (i.e. are conditioned) at the beginning of calling `model(vi=vi, sampler=spl)` ?

For instance in this [infinite mixture model](https://github.com/yebai/Turing.jl/blob/project-bnp/test/rpm.jl/imm_hmc_sticks.jl#L16), if `:x,:V` are updated with `HMC` then in some `CSMC` step updating `:z` I'd

[2017-11-17 17:38] twgr commented on #383
Here is the right up I did of the problem last night which includes a suggestion about a test.

At present then a CSMC sweep simply ignores any of the global variables
in terms of the probabilistic semantics.  This is fine when they are
defined unconditionally in the model (hence the tests have been passing)
but incorrect when they are sampled conditioned on other variables.
When this is the case

[2017-11-17 17:49] twgr commented on #385
Sorry what to mean by load - just have them in scope?  All assume and observe statements are exchangeable up to having everything defined so if you have everything already its fine from a statistical perspective if you careful to evaluate all the same assume and observes for a trace.  If variables get renamed at some point though there could be some semantical complications.  It seems like the pro

[2017-11-17 17:51] emilemathieu commented on #293
I have weird errors now:

The applicable method may be too new: running in world age 23509, while current world is 23513.

@yebai Would you have any idea of where that could come from ?

[2017-11-17 18:12] emilemathieu commented on #385
@twgr yes having loaded in the scope. In the IMM example i'd like to have the existing `V`s and `x`s so that `z`s in `CSMC` can be assigned to any existing clusters (https://github.com/yebai/Turing.jl/blob/project-bnp/test/rpm.jl/imm_hmc_sticks.jl#L24). And then create new clusters (V[k+1] and x[k+1]) if `z[i]` is bigger than the number of existing clusters.
Otherwise that means that `z[1]` will a

[2017-11-17 18:36] emilemathieu commented on #367
@yebai don't hesitate if you have any question on that, things are bit subtle but this required for BNP models.

[2017-11-18 00:06] emilemathieu commented on #383
Indeed the test shouldn't pass, I'll investigate.

Otherwise would you have a model stressing this error @twgr ?

[2017-11-19 22:24] yebai commented on #373
Yes, let's do what you proposed but we need a robust mechanism for mapping model variables to samplers. Ideally, if a new variable is created, we should be able to look up its sampler immediately instead of setting `gid = -1`. I will propose a method of solving this problem in #367.

[2017-11-19 23:37] emilemathieu commented on #383
So the test indeed didn't pass, because `check_numerical` is only printing the difference between empirical and analytical means and is not a true test (returning an error). I have no idea why such a function is used.

In the PR https://github.com/yebai/Turing.jl/pull/384 I fixed it by using the macro `@test` (which is used in most tests). With the fix this test now pass ! 🙌

[2017-11-19 23:44] emilemathieu opened #386 "[Chain] flatten fails with different random variables in samples"
At the end of each `sample` function call, the samples are wrapped with a `Chain` object. Yet, during the construction of such an object, it is [explicitly](https://github.com/yebai/Turing.jl/blob/master/src/core/io.jl#L118) assumed that the set of random variables is fixed for all samples. Unfortunately this is not true for BNP models.

@yebai would you know how this could be extended for these c

[2017-11-20 10:47] yebai commented on #383
`check_numerical` was supposed to only for visual inspection for failed tests. The reason that numerical tests didn't throw an error is that these tests sometimes fail stochastically even the code is correct. In the end, what we did was moving most numerical tests on Travis to builds that allow failures (e.g. builds like `Bench` on Travis).

[2017-11-20 10:52] emilemathieu opened #387 "[MH] rejection-free proposal for the multivariate normal case"
This [blog post](http://fsaad.scripts.mit.edu/randomseed/metropolis-hastings-sampling-with-gaussian-drift-proposal-on-bounded-support/) shows how to sample from a truncated (univariate) gaussian proposal for Metropolis-Hasting, so as to avoid rejecting a MH step because the proposed value does not lie on the distribution's support.
This is currently [implemented in Turing](https://github.com/yebai

[2017-11-20 11:00] emilemathieu commented on #383
I think a good way to do it is to that check locally that the test pass most of the time. Then fix the stochasticity with `srand`, check that it still passes and then push.

[2017-11-20 11:00] emilemathieu commented on #383
PR https://github.com/yebai/Turing.jl/pull/384 merged

[2017-11-20 11:00] #383 closed

[2017-11-20 11:19] yebai commented on #367
I'll post something soon.

[2017-11-20 12:50] twgr commented on #385
In the statistical sense - the model is unchanged by the order the probabilistic statements are made provided variables are not overwritten.  What your proposing worries me a little and I don't think it is necessary so we should probably chat in person at some point.  I think the problem you are trying to overcome is actually not there though (at least asymptotically) as even though z[1] is always

[2017-11-20 21:38] yebai commented on #367
I have reviewed all the relevant code, I think the best approach to solve these problems in one stroke is to remove `VarInfo.index` and index random variables through variable name (`VarName`) only. The reason that we kept `VarInfo.index` is mainly for sanity checks --  to ensure that particle copying/replaying is correctly implemented. However, this has become a burden since in order to support s

[2017-11-20 21:40] yebai opened #388 "[Core.VarInfo] Remove `VarInfo.index`"
See https://github.com/yebai/Turing.jl/issues/367#issuecomment-345840292

[2017-11-20 21:58] yebai opened #389 "[Core.VarInfo] Allow adding right-hand-side information to `VarName`"
The current `VarName` in `VarInfo` is only dependent on left-hand-side information, we might want to generalise this to include RHS information to distinguish variables with the same symbol but live in a different scope. A example design could be

[code]

[2017-11-20 22:07] yebai opened #390 "[Core.Chain] Handle stochastically existing variables and vectors with random length"
The `flatten` function needs to be improved to handle stochastically existing variables and vectors with random length. #367

[2017-11-20 22:09] yebai commented on #390
Related issue: #386

[2017-11-20 22:18] yebai commented on #386
We discussed how to support this in the past. We feel the best way of supporting this is to trim the set of random variables before storing them in `Chain`. The interface that implements this trimming is through the `return` statement (see https://github.com/yebai/Turing.jl/issues/104#issuecomment-292253860). Unfortunately, this interface is not complete yet, see e.g. https://github.com/yebai/Turi

[2017-11-20 22:22] yebai commented on #385
There is currently no such a mechanism in Turing except rewriting the program such that these variables are defined at the beginning of a program- we chose to follow the standard Julia syntax for Turing programs, which means Julia's scoping rules also apply to Turing programs.

[2017-11-20 23:04] yebai commented on #367
@emilemathieu could you post a minimal example that can re-produce the issue you met? I tried to run the code you privide above with a SMC sampler, but without success.

[2017-11-20 23:34] yebai commented on #386
It’s possible to extend the Chain data structure, but I think it involves a lot of work. Since all chai related functions implicitly assume that each sample’s dimension is the same. Perhaps for now we can start by using the largest dimension of all samples, and treat missing dimensions as missing data - there are some Stats packages for handling missing data, it might be possible to combine them w

[2017-11-21 09:56] ae-foster commented on #387
Yes, we can extend to the multivariate case. But the kinds of constraints possible is much richer. This is why, even thought `Distributions.jl` has a truncated Gaussian, it doesn't have a truncated Multivariate gaussian (see https://github.com/JuliaStats/Distributions.jl/issues/480). They couldn't agree what a 'typical' constraint was.

For our case, rectangular constraints are the simplest. It's

[2017-11-21 10:00] emilemathieu commented on #387
I think there is a misunderstanding, the issue is not in sampling from a truncated gaussian (even if that's interesting to know how to do that without sampling until constraints are satisfied) but to know how to correct the acceptance ratio of the Metropolis-Hasting algorithm.

[2017-11-21 10:03] ae-foster commented on #387
Yes @emilemathieu , but the correction factors depend on the type of constraint!

[2017-11-21 10:06] ae-foster commented on #387
Let me slow down. Suppose we have general constraint set C. Then the correction ratio is made up of objects that look like P(X \in C) where X is a multivariate Gaussian. We may or may not be able to compute that probability analytically. It all depends upon the shape of C

[2017-11-21 10:06] emilemathieu commented on #387
True ! For instance, the constraint could be the set of positive semi-definite matrix, for a MH step on a covariance matrix with a Normal proposal.

[2017-11-21 10:07] ae-foster commented on #387
So you draw the matrix components from a multivariate Gaussian and subsequently constraint the resulting matrix to be positive definite?

[2017-11-21 10:08] emilemathieu commented on #387
Hum I think I said a mistake. But we could have a simplex constraint for instance.

[2017-11-21 10:10] ae-foster commented on #387
Sure, we could have many constraints! I guess I'm asking which are the important ones? Which ones are so common that we cannot tolerate regular rejection?

[2017-11-21 10:12] emilemathieu commented on #387
That's a good point, I'm trying to think of common constraint on vector random variable.

[2017-11-21 10:13] emilemathieu commented on #387
I'm not sure it's worth spending too much time on this, maybe we should just close it.

[2017-11-21 10:15] ae-foster commented on #387
Ok let's close this. What we should do is this. If we constantly find ourselves doing MH with variables on a simplex (say) and we notice that proposals keep getting rejected, then we open a new issue asking for the correction factors for *that type* of constraint. Until then, we might be optimizing prematurely by writing a corrected proposer which never gets used.

[2017-11-21 10:15] #387 closed

[2017-11-22 12:18] emilemathieu commented on #386
@yebai It seems that Chain is fed with a matrix, so we could take the union of all random variable names, and fill with `NaN` values in samples that do not have some random variables.

[2017-11-22 13:59] emilemathieu commented on #358
@yebai do you agree with that ?

[2017-11-22 18:37] yebai commented on #358
Hi Emile, you're right about this - the current code is generic, but actually, the only use case is when copying a reference particle. However, we will need to pass in an additional parameter to tell `forkc` in order to distinguish between normal particles and reference particle. Perhaps we should close this issue and move the discussion to #360.

[2017-11-22 18:40] yebai commented on #360
- [ ] Add an additional parameter to `forkc` to only delete randomness for reference particles. https://github.com/yebai/Turing.jl/issues/358#issuecomment-343319106

[2017-11-22 18:44] yebai commented on #386
Perhaps the following package can solve our problem here. My suggestion is that we first try to replace the matrix type of `Chain` with `DataArray`, and see whether existing `Mamba` utility functions can correctly work.

https://github.com/JuliaStats/DataArrays.jl

[2017-11-23 16:52] emilemathieu commented on #367
@yebai  I'll try to upload some reproducible bug, but the issue is with [that sort of models](https://github.com/yebai/Turing.jl/issues/367#issuecomment-342854179).

For instance let's focus on the [infinite mixture model](https://github.com/yebai/Turing.jl/blob/project-bnp/test/rpm.jl/imm.jl),  performing inference with a Gibbs sampler with an `CSMC` step targeting `p(z1,...,zn|rest)` (and `MH` f

[2017-11-23 16:56] emilemathieu commented on #367
@yebai when you say

are you referring to the 2sd solution in https://github.com/yebai/Turing.jl/issues/367#issuecomment-343270076 ?

Otherwise have you looked at solution https://github.com/yebai/Turing.jl/issues/367#issuecomment-344032331 ? Could you explained why you chose to set values to `NaN` in `vi` ?

[2017-11-23 17:31] yebai commented on #367
I think the original motivation is to use `NaN` as a marker for which entries are deleted. The use of `NaN` is motivated by computational performance, but perhaps we could change this to missing value type (e.g. use the [`Missings.jl`](https://github.com/JuliaData/Missings.jl) package) - like what I suggested in #386.

[2017-11-23 17:36] yebai commented on #367
Not quite - I'm looking into a possible alternative solution without using `VarInfo.index`.

[2017-11-23 18:09] yebai opened #391 "[Core.VarInfo] More robust mechanism for deleting entries from `VarInfo`"
At the moment, we use the following code to mark `VarInfo` entries for deletion

[code]

One possible caveat of this approach is that it could confuse downstream code between deleted entries or actual `NaN` values. Perhaps we could change this to missing value type (e.g. use the [`Missings.jl`](https://github.com/JuliaData/Missings.jl) package) - like what I suggested in #386.

@xukai92  Are you a

[2017-11-23 18:13] ChrisRackauckas commented on #391
NaN is different than a missing. NaN is of type Float64, while missing is its own type. That's type unstable, but there's special handling of small unions on v0.7/v1.0 to make that still fast. So the caveat is that on v0.6 this would be very slow.

[2017-11-23 18:27] yebai opened #392 "[Core.Traces] Merge `TraceR` and `TraceC`."
The original motivation for keeping two trace types is to distinguish between traces that store replaying information and traces that do not. However, since the introduction of `VarInfo`, replaying is always stored in `VarInfo`regardless of trace types. Therefore there is no point in keep separate trace types.

[2017-11-23 18:33] emilemathieu commented on #391
If we do what I proposed in https://github.com/yebai/Turing.jl/issues/367#issuecomment-344032331, there is no need to delete entries in VarInfo. I don't know how this could impact performance.

[2017-11-23 18:43] yebai commented on #391
@xukai92 Are you aware of any reasons why we are setting deleted entries in `VarInfo` to `NaN` instead of just deleting them? See Emile's proposal in https://github.com/yebai/Turing.jl/issues/367#issuecomment-344032331.

[2017-11-23 18:45] yebai commented on #391
@emilemathieu perhaps you could copy and paste your code from https://github.com/yebai/Turing.jl/issues/367#issuecomment-344032331 into a PR and see whether the tests can pass?

[2017-11-23 18:46] emilemathieu commented on #391
@yebai good idea. And how can we assess performances ?

[2017-11-23 18:48] yebai commented on #391
There are some benchmarking scripts on Travis, you could use those numbers as a rough estimate of performance. But Travis is not a reliable platform for performing benchmarking because it is based on shared hardware.

[2017-11-24 10:49] xukai92 opened #393 "Turn VarInfo into a submodule"

[2017-11-24 14:23] emilemathieu commented on #391
@yebai I've realised that my solution only works for Iterated CSMC, therefore not for CSMC used within Gibbs (i.e. particle Gibbs).

[2017-11-24 15:21] emilemathieu commented on #371
@mlomeli1 that's seems like a good idea. If I understand correctly, the idea is to enumerate all clustering possible (for a fix -- and small -- number of observations), then for each clustering compute the posterior probability of observations conditional on that clustering, finally sum the posterior joint over all combination. Then we compare the obtain quantity which is the marginal likelihood,

[2017-11-26 12:13] xukai92 commented on #371
There is a sample Geweke test code here https://github.com/yebai/Turing.jl/blob/master/benchmarks/gdemo-geweke.run.jl. You can probably reuse it by changing the sampling algorithm in Line 34 and 36.

[2017-11-26 14:40] xukai92 commented on #386
DataArrays.jl (along with Missing.jl) seem to be unable to solve the problem as

[code]

which will make `Mamba.jl` unable to use `Chain`

[2017-11-26 14:42] xukai92 commented on #389
I think a solution is to introduce another filed to `VarInfo` named `mark`, and introduce different codes to mark variables. This also solves https://github.com/yebai/Turing.jl/issues/391 as now we can mark then can deleted variables.

[2017-11-26 14:44] xukai92 commented on #367
@yebai After discussing with Emile, we agreed on use the 2nd proposal (i.e. introducing another filed to `VarInfo` called `produce` or `order` to record the order of variables (in this case `vi.index` can also be removed).

[2017-11-27 00:18] xukai92 commented on #315
How do you mentioned to remove `Flat`? I tried the below which doesn't work

[code]

[2017-11-27 10:34] yebai commented on #315
This is likely an issue with the Distributions package, see

[code]
https://github.com/JuliaStats/Distributions.jl/blob/master/src/univariate/continuous/uniform.jl#L109

Do we actually need to sample from a flat distribution?

[2017-11-27 10:59] yebai commented on #386
According to `Missing.jl`'s documentation, its default behavior for missing values is as follows

[code]

We might need to adopt this package for our purpose - but this is not urgent.

[2017-11-27 12:05] emilemathieu commented on #371
@mlomeli1 otherwise we could use Bayes rule to compute p(Pi_n = pi | {Y_j}_{j=1,..,n}) with the analytic expression of your thesis that you referred, and then compute empirical clustering from posterior sample for a model with 4 or 5 observations (ordered Bell numbers of 13 or 75).

[2017-11-27 13:48] xukai92 commented on #386
I think we may need another field in `VarInfo` called `mark` to mark variables as missing. This filed can also be used to solve #389 as I commented.

[2017-11-27 13:51] xukai92 commented on #315
I introduced `Falt` because some models used in Stan are doing so - i.e. do not have a prior and only sampling from the likelihood. E.g. mu in https://github.com/yebai/Turing.jl/blob/master/example-models/stan-models/school8-stan.model.jl

[2017-11-27 13:55] emilemathieu commented on #367
I've pushed a PR with the solution implemented https://github.com/yebai/Turing.jl/pull/395

[2017-11-27 14:10] yebai commented on #386
I might be wrong - I think what @emilemathieu  is proposing in #395 no longer need a marker for deleted entries from `VarInfo`.

[2017-11-27 14:12] emilemathieu commented on #386
I agree @yebai, we don't need such a field with that solution (at least not for the random order of random variable issue).

[2017-11-27 14:23] emilemathieu commented on #392
@yebai do we agree that the only useful case of `forkr` is when it is called via `fork2` at the beggining of a `CSMC` sweep ? Otherwise `forkc` should be used since it's more efficient ?

[2017-11-27 14:37] yebai commented on #392
That's right - the only use case for `forkr` is implementing the reference particle at the moment.

[2017-11-27 14:39] xukai92 commented on #386
Yes. I'm proposing this `mark` for more general purpose of usage, e.g. #389. And I think my use of `NaN` looks not elegant...

[2017-11-27 14:43] emilemathieu commented on #392
@yebai could I do this in PR https://github.com/yebai/Turing.jl/pull/395 ?

[2017-11-27 14:56] yebai commented on #392
Yes please go ahead - I will provide detailed feedback on the PR.

[2017-11-27 15:25] emilemathieu commented on #386
One way to deals with that is something like

[code]

[2017-11-28 15:38] mlomeli1 commented on #371
Yes, @emilemathieu, that's a good plan. I think I have some code in R for the analytic expression, can translate it to Julia.
@xukai92 , Geweke's getting it right test only applies for MCMC schemes.

[2017-11-28 15:56] emilemathieu commented on #371
@mlomeli1 I've just finished the test ! :) I've done what I proposed in my previous comment and then used a Chi-square test. It can be found here: https://github.com/yebai/Turing.jl/blob/project-bnp/test/rpm.jl/pym_posterior.jl

[2017-11-28 15:56] #371 closed

[2017-11-28 15:59] mlomeli1 commented on #371
Well done, @emilemathieu !

[2017-11-28 16:01] emilemathieu commented on #371
@yebai I've previously used `x = Array{Real}(N)` for the infinite mixture model I had weird errors because some variables were not deep-copied (when particles are forked) I think.
It worked by using `tzeros`. Is that why you introduced it ?
It was a silent bug so it's pretty bad...

[2017-11-28 17:14] yebai commented on #371
It worked by using tzeros. Is that why you introduced it ?

yes, I created `TArray` for variables that have to be deep copied when copying particles. Sorry I didn't tell you about this earlier... I'm glad that you figured this out - perhaps we should document this on the wiki.

[2017-11-28 18:30] emilemathieu commented on #388
This PR https://github.com/yebai/Turing.jl/pull/395 removes  `VarInfo.index`

[2017-11-28 18:31] emilemathieu commented on #373
Should we close this issue ? Or should we first have a more robust way than setting `gid = -1` ?

[2017-11-28 23:17] emilemathieu commented on #374
So would you know how to compute `logpdf(ExpTiltedSigma(sigma, tau))` (at least for `sigma=0.5`) and the `logpdf` of `p(Vj | V_1, ..., V_{j-1}, T)`  for the NGGP (at least for the NIGP) ?

[2017-11-28 23:22] #358 closed

[2017-11-28 23:39] emilemathieu commented on #392
I've merged `TraceC` and `TraceR` in the last commit https://github.com/yebai/Turing.jl/pull/395/commits/aac3fcdf6cfc12e3ab516b61d4a8de4bf4c6735b of my PR https://github.com/yebai/Turing.jl/pull/395.

[2017-11-28 23:43] emilemathieu commented on #372
@yebai @xukai92 what do you think about that ?

[2017-11-29 11:52] emilemathieu commented on #392
PR https://github.com/yebai/Turing.jl/pull/395 merged

[2017-11-29 11:52] #392 closed

[2017-11-29 11:52] emilemathieu commented on #388
PR https://github.com/yebai/Turing.jl/pull/395 merged

[2017-11-29 11:52] #388 closed

[2017-11-29 11:52] emilemathieu commented on #367
PR https://github.com/yebai/Turing.jl/pull/395 merged.

[2017-11-29 11:59] emilemathieu commented on #378
Or maybe it'd be cleaner something like

[code]

with `steps` being a method for all samplers, and each sampler having a `prepare`, `unprepare` and `step` specific method. These specific methods could also be used for refactoring in `sample` methods.

What do you think @xukai92 @yebai ?

[2017-11-29 14:49] xukai92 commented on #378
I like this design! It makes sense to have `prepare()` and `unprepare()` interface as well.

Actually with the design, we may not need `unprepare()` any more? As we can also make sure vi is prepared by `prepare()`. This may reduce some unnecessary transformations.

[2017-11-29 14:50] xukai92 commented on #378
Of course in this case we also need have a `prepare()` before outputting into `Chain`...

[2017-11-29 15:59] mlomeli1 commented on #374
Have a look at the first Equation in page 51 of my thesis. This expression is the conditional distribution of k size-biased weights, the corresponding partition given the total mass. If we multiply it by the total mass's prior which is proportional to h(t)*f(t), then we get the joint of interest.  We also need to plug in the Levy density of the 0.5-Stable and h(t) is the exponentially tilt functio

[2017-11-29 16:19] emilemathieu commented on #374
I agree, but the way to compute such a joint in a PPL is to replay the model and when a sample/assume statement is encountered, the (log)pdf - associated with that distribution and the saved in memory value - is computed and increments the joint. For Pitman-Yor `p(Vj | V_1, ..., V_{j-1}, T)` is `pdf(Beta(1 - alpha, theta + j * alpha), Vj)`. For NIGP we have
[code]
Do we already know how to compute

[2017-11-29 16:49] mlomeli1 commented on #374
yes, Equation in page 51  is the log-joint pdf, by plugging in the Levy density of the sigma-Stable and replacing the h(t) of NGG, etc. I agree, the sigma stable density f(t) is intractable for sigma !=0.5. We could use the integral representation given by Zolotarev and have a MonteCarlo estimate of it:
V. M. Zolotarev, One-Dimensional Stable Distributions, American Mathematical Society, Providenc

[2017-11-29 17:09] mlomeli1 commented on #374
I remember using this one in matlab: http://math.bu.edu/people/mveillet/html/alphastablepub.html
We could just translate it to Julia and use it @emilemathieu

[2017-11-29 17:22] mlomeli1 commented on #374
I've added the Matlab toolbox in the dropbox @emilemathieu .

[2017-11-29 18:05] xukai92 commented on #353
Closed by #394

[2017-11-29 18:05] #353 closed

[2017-11-29 18:53] emilemathieu commented on #374
Good idea for the sigma-Stable density !
Otherwise do you have an idea for the density of `p(Vj | V_1, ..., V_{j-1}, T)` ?

[2017-11-29 20:35] yebai commented on #392
Good work - the code in #395 looks all correct to me!

[2017-11-29 20:39] yebai commented on #391
@xukai92 @emilemathieu  Is this issue solved by PR #395?

[2017-11-29 20:41] emilemathieu commented on #391
@yebai No, `NaN` is still used.
Is `Missing` a subtype of `Real` ? I think not, which does not allow us to use this.

[2017-11-29 20:51] yebai commented on #372
It makes a lot of sense to do this - actually, this is something that @xukai92 and I thought about when designing the HMC sampler. Basically, we wanted a way to figure out which random variables in `VarInfo` have disappeared from the model. Knowing these disappeared variables allow us to handle them differently, either

- delete them from the `VarInfo` data structure
- keep them, but stop updating

[2017-11-29 20:53] yebai commented on #391
No, `Missing` is not a subtype of `Real`. Perhaps we can fix this when Julia 0.7 is released since there are some modifications to the type system which allows more efficient handling of missing values.

[2017-11-29 20:56] yebai opened #396 "[Traces]: add a member field to `Trace` to mark reference particle"
The current `resample!` function requires an additional parameter to distinguish between normal particles and reference particle in conditional SMC. Perhaps a cleaner solution is to add a member field (e.g. `is_ref`) to the `Trace` type?

[2017-11-29 20:58] emilemathieu commented on #372
A random variable could still "be in the model" in the sense that it is sampled but not used after, meaning that the partial derivative of the joint with respect to that variable will only be its prior derivative. I think that we should keep them but not update them since in the case of HMC within Gibbs, such a variable could be "unused" (likelihood independent of that variable) at one iteration,

[2017-11-29 20:59] yebai opened #397 "More robust mechanism for mapping model variables to samplers"
See https://github.com/yebai/Turing.jl/issues/373#issuecomment-345555122

[2017-11-29 21:00] yebai commented on #373
I've moved the leftover issue to a separate thread. Let's close this issue now.

[2017-11-29 21:00] #373 closed

[2017-11-29 21:13] xukai92 commented on #391
Not yet. How do you think of the proposal I commented in #389

[2017-11-29 21:21] yebai commented on #391
That sounds like a clean solution to me. Perhaps you can start by expanding your proposal and get some feedback.

[2017-11-29 23:07] xukai92 commented on #391
Sure!

[2017-11-29 23:11] xukai92 commented on #372
I'm not 100% sure I understand the situation when this is useful. Do you mean some of the dependency between likelihood and variables may disappear in some iterations because of stochastic conditions?

[2017-11-29 23:14] emilemathieu commented on #372
Yes, for instance with a Dirichlet mixture process, a cluster can be empty at an iteration (no observation assigned to it), therefore the cluster's weight and location are unused.

[2017-11-29 23:40] xukai92 commented on #372
Emm it's interesting. It's detecting stochastic dependency dynamically instead of using the compiler to check the dependency, which was what we discussed before.

Let me write a minimum example for further discussion

[code]

In this model, if in the `PG` step, `a` gets `a <= 0`, then in the `HMC` we shouldn't change `b` at all.

I think your proposal will do the job. I am also thinking if we can

[2017-11-29 23:45] emilemathieu commented on #372
That's a perfect test ! Good idea, in `assume{T<:Hamiltonian}(...` we could accumulate `logpdf_with_trans(dist, r, istrans(vi, vn))` in some `spl.info[:log_likelihood]` field and check which components of the gradient are equal to 0.

[2017-11-29 23:54] xukai92 commented on #372
Oh yes, we can simply use `spl.info`. And I think you mean in `observe()` we could accumulate ... not `assume()`, right?

One minor concern is that in this approach, we do more additions than before. I don't know to what extent it will slow us down but we can separate them into two fields in `VarInfo` anyway if this happens.

[2017-11-30 00:42] emilemathieu commented on #372
Oh yes I mean `observe`. Since `logp` is a `Vector{Real}` could we accumulate the prior in the first component, and the likelihood in the second for instance ? And at the end addition this two (modulo components that we don't want to update). I'm not sure what's the cleanest and most efficient way to do this.

[2017-11-30 00:57] xukai92 commented on #372
The reason `logp` is a `Vector` is that we designed `VarInfo` to be able to store multiple copies of sample state in the same time, however, it is not really used.

I would prefer split `logp` (i.e. logposterior) into `loglike` and `logprior`, and each time we originally use `logp` can be simply replaced by `loglike+logprior` or by an interface `logp(vi)`.

Let's see how @yebai thinks about this d

[2017-11-30 10:29] mlomeli1 commented on #374
I'll write down the expression and send it to you shortly.

[2017-11-30 10:47] xukai92 commented on #309
@yebai This is the issue that motivates me to introduce `Flat` (https://github.com/yebai/Turing.jl/issues/315). I've added file links in the comments above.

[2017-11-30 11:51] emilemathieu commented on #372
@xukai92 I'm working on a PR, I like your solution !
Should we keep `loglike` and `logprior` being `Vector{Real}` or maybe simply `Real` ?

[2017-11-30 12:50] emilemathieu opened #399 "[TESTS] Use `@test` instead of `check_numerical`"
For robustness when merging new features, I believe that we should use `@test` instead of `check_numerical` in `test/...` and include these tests in `test/runtests.jl`.
Because of stochasticity, so as to avoid randomly failing tests, we could use `srand` to set randomness.

[2017-11-30 13:01] xukai92 commented on #399
Yes it makes sense. The reason of having `check_numerical` was to avoid rare broken of test because of randomness. If we use `srand` it seems unnecessary then.

[2017-11-30 13:02] xukai92 commented on #372
Maybe keep it as `Vector` at this moment, until we decide to abandon the ability of store multiple copies of sample state in the same time

[2017-11-30 13:03] emilemathieu commented on #372
Is there no computational overhead by using `Vector` ?

[2017-11-30 13:27] mlomeli1 commented on #374
The expression is given in the generative process of page 31, first unnumbered Equation, of my thesis after plugging in the sigma-Stable Lévy measure and the exponentially tilted sigma stable density. Note that
p(Vj | V_1, ..., V_{j-1}, T)=p(Vj |T-V_1, ...-V_{j-1}) because it satisfies a Markov property. I have written down the Equation for the sigma-Stable exponentially tilted case here(with 4 we

[2017-11-30 13:48] xukai92 commented on #372
There is but I think that's not significant (depending on our previous profiling experience)

[2017-11-30 14:13] emilemathieu commented on #372
I have just realised that what we are currently doing is sampling these "unused" random variables from their priors, since HMC is sampling from the joint (which is proportional to the posterior) and the joint reduces to the prior for these random variables.

[2017-11-30 16:38] maximerischard opened #400 "Evaluating the posterior"
What is the best way to evaluate the posterior for a set of parameters? For example, with
[code]
how do I evaluate the unnormalised posterior, say, at s=1.2 m=0.5?

[2017-11-30 16:53] emilemathieu commented on #372
PR https://github.com/yebai/Turing.jl/pull/401

[2017-11-30 17:21] emilemathieu commented on #400
Hi, the joint is proportional to the posterior. You can compute it the following way

[code]

[2017-11-30 19:45] yebai opened #402 "Release Turing video on Youtube?"

[2017-11-30 19:46] yebai opened #403 "Improve Turing website - turing.ml"

[2017-11-30 22:30] xukai92 commented on #402
Do you mean the one we already have?

[2017-11-30 22:30] xukai92 commented on #403
What kind of points?

[2017-12-01 03:25] maximerischard commented on #400
Wonderful, thank you. Just to make sure I understand, does this create a model where x, s, and m are all assumed to be observed, right? So in order to sample from this model and evaluate the posterior, I need to create two separate models?

[2017-12-01 09:05] xukai92 commented on #400
Yes

If you just want to sample from the model (by some samplers) and check the posterior, in stead of evaluating the posterior of some **given s and m**, you only need the first model.

[code]

[2017-12-01 10:24] yebai commented on #403
Sorry - I will post the details later. I created this issue and #402 to remind myself.

[2017-12-01 14:21] emilemathieu commented on #379
Is Gallium not available for Julia 0.6 ?

[2017-12-01 14:33] maximerischard commented on #400
Thank you again, I'm starting to understand how this all works. My only problem now is that evaluating the joint using @emilemathieu's code is 77,000 times slower than hand-coding it:

[code]

[code]

    -5.338371361183928

[code]

    -5.338371361183928

[code]

    BenchmarkTools.Trial:
      memory estimate:  96 bytes
      allocs estimate:  1
      --------------
      minimum time:     128.6

[2017-12-01 14:45] xukai92 commented on #379
Their GitHub pages says

:(

[2017-12-01 15:14] maximerischard commented on #400
I was able to get it down to “only” 100x slower than hard-coded, by manipulating the VarInfo object directly. It's not pretty, and still quite slow, so I'd welcome any suggestions

[code]

    -5.338371361183928

[code]

    BenchmarkTools.Trial:
      memory estimate:  3.09 KiB
      allocs estimate:  76
      --------------
      minimum time:     12.489 μs (0.00% GC)
      median time:      14.

[2017-12-01 15:20] xukai92 commented on #400
This is a good question. They main reason the way you evaluate posterior is slow is because the function `gdemo_logp` also includes the compilation time. `mf = gdemo(x, s, m)` means compile the model with given observations into `mf`.

There is another way to do the evaluation, which takes the use of `Base.invokelatest(model, vi, spl)`, where `model` is the compiled model with only observations, `

[2017-12-01 15:21] xukai92 commented on #400
Well you just figured it our when I was typing...

[2017-12-01 15:24] xukai92 commented on #400
100x seems a big overhead here. @yebai Do you have any idea on why and how to make it faster? Seems quite significant here.

[2017-12-01 16:37] emilemathieu commented on #367
@yebai @xukai92 shouldn't we set `spl.info[:cache_updated] = CACHERESET` in `updategid!(vi, vn, spl)` ?

[2017-12-01 16:41] emilemathieu commented on #367
I've also spotted another error which is setting `spl.info[:wum][:stds] = ones(length(vi[spl]))` at the beginning of `HMC`. If at some iteration `length(vi[spl])` changes (new variables) error will appear at `randn(length(getranges(vi, spl))) .* spl.info[:wum][:stds]` and `p_orig = p ./ spl.info[:wum][:stds]`.

We could either resize `spl.info[:wum][:stds]` at each iteration if needed, or avoid pe

[2017-12-01 17:05] emilemathieu commented on #372
Actually this solution cannot work since a random variable `x_i` can be in the joint without being in the likelihood but via other priors. For instance with

[code]

`s` is independent of the likelihood but appears twice in the joint: its prior `p(s)` but also in `p(m|s)`.

[2017-12-05 16:41] emilemathieu commented on #373
Eventually I set `gid=0` in that case others `updategid` didn't update anything. This has been pushed in master.

[2017-12-05 16:42] emilemathieu commented on #396
That's seems like a good idea indeed.

[2017-12-05 16:42] #366 closed

[2017-12-05 16:46] emilemathieu commented on #360
Done via PR https://github.com/yebai/Turing.jl/pull/395.

[2017-12-05 16:46] #360 closed

[2017-12-05 17:13] emilemathieu commented on #378
@xukai92 One issue with this is when `thin=false`, since now we only get one sample per sub_sampler per iteration (`sample_n = n * (alg.thin ? 1 : length(spl.info[:samplers]))`) whereas before we could have n_iters samples per sub_sampler per iteration (`sample_n = n * (alg.thin ? 1 : sum(sub_sample_n))`).

[2017-12-05 17:22] emilemathieu commented on #378
I've pushed a PR https://github.com/yebai/Turing.jl/pull/404

[2017-12-07 17:36] xukai92 commented on #372
I'm a bit lost here. Do you mean we shouldn't update `s` here or something?

[2017-12-07 17:44] xukai92 commented on #378
I see. Yes this is an issue. I think a common approach to fix this is change the signature of function like this:

[code]

to

[code]

Also in this case `f()` can just use `f!()` as `f(x) = (output_container=Vector(1);f!(x, output_container, 1); output_container);` or something similar.

[2017-12-07 17:44] xukai92 commented on #378
And this may also reduce some memory allocation overhead?

[2017-12-07 19:51] emilemathieu commented on #378
I'm not sure to follow :/ what's `f` ? Is it `steps` and is `output_container` the `samples` ?

[2017-12-07 20:03] emilemathieu commented on #372
In that example `s` SHOULD be updated, but with our proposed fix it won't appear in loglike's gradient, but only in logprior's gradient because of its own prior and m's prior. Therefore I think that this solution does not work.

[2017-12-08 15:55] xukai92 opened #406 "The weight filed of `Chain` is buggy"
See discussion in #405

[2017-12-11 00:55] xukai92 commented on #393
Key points to do
- [ ] make it into a module
- [ ] use macros to build set/get functions

[2017-12-11 17:59] xukai92 commented on #378
Yes. It's a general design pattern which pass a pre-allocated container to the function and store the results in that container.

[2017-12-11 18:05] xukai92 commented on #372
I see. You are right.

We probably still need to do that in model compilation time..., in which we can extract the variable dependency somehow. But again this way we cannot deal with the stochastic control flow easily.

I don't know if we can use Cassette.jl for run-time stochastic dependency check when it's mature.

[2017-12-17 16:28] emilemathieu commented on #372
Indeed accessing the underlying (dependencies) graph could be a way. I'm trying to think about an other way.

[2017-12-17 19:06] xukai92 commented on #372
What's the alternative in your mind?

[2017-12-18 13:28] emilemathieu commented on #372
Maybe to check this independence during each `assume` and `observe` statement, by updating some array of boolean.

[2017-12-21 20:22] chameroy opened #409 "Unable to load Turing.jl"
Hi,
I'm unable to load Turing.jl. Here is the error I receive when attempting to load Turing.jl into a Jupyter notebook (using 0.62 on Windows 10):

LoadError: LoadError: LoadError: invalid subtyping in definition of HMC
while loading C:\Users\#####\.julia\v0.6\Turing\src\samplers\hmc.jl, in expression starting on line 521
while loading C:\Users\#####\.julia\v0.6\Turing\src\samplers/sampler.jl, in

[2017-12-21 22:14] xukai92 commented on #409
Hi, are you in the master branch of Turing.jl?

From `while loading C:\Users#####.julia\v0.6\Turing\src\samplers\hmc.jl, in expression starting on line 521
` it seems not?

[2017-12-23 18:51] chameroy commented on #409
I should be (I think). Whatever is installed when I use Pkg.add().

[2017-12-25 11:59] xukai92 commented on #409
Can you try `Pkg.checkout("Turing", "master")`

[2017-12-25 22:52] gulgit commented on #409
Am able to load through the above command, but getting an error while running the following example given in the introduction. Any suggestions on what to do?

[code]

Error message below:
[code]

[2017-12-25 22:59] xukai92 commented on #409
Please do

[code]

[2017-12-25 23:08] gulgit commented on #409
Thank you! When I gave this build command, got the following error. Does this I have to install xcode & homebrew?

`Pkg.build("Turing")`

[code]

[2017-12-25 23:37] xukai92 commented on #409
It seems that you haven't installed the Command Line Tools from Xcode? I'm not sure about the error but please try install it.

[2017-12-25 23:43] gulgit commented on #409
Installed XCode, and is working fine now. Thank you!

[2017-12-25 23:45] xukai92 commented on #409
Great! You're welcome

[2017-12-25 23:50] gulgit commented on #403
Am just learning Bayesian Analysis, and wondering if I can contribute something on developing few illustrations.

[2017-12-25 23:56] xukai92 commented on #403
You can do it in a notebook and submit it in PR for that purpose. I can later link the notebook in the wiki

[2017-12-25 23:57] xukai92 commented on #403
@gulgit There are some notebook examples here https://github.com/yebai/Turing.jl/tree/master/example-models/notebooks

[2017-12-26 00:12] chameroy commented on #409
I reinstalled using Pkg.checkout("Turing", "master"). I can now get it to load. However, more problems arise. First, because Gadfly is a requirement, some of my packages are downgraded: DataFrames, CSV, among some others, which breaks some of the code I have written using the most recent versions of those packages. Second, I tried running the simple Gaussian model example presented in the introduc

[2017-12-26 00:13] chameroy commented on #409
Here is the command line output:

Please submit a bug report with steps to reproduce this fault, and any error messages that follow (in their entirety). Thanks.
Exception: EXCEPTION_ACCESS_VIOLATION at 0x6b5f5340 -- jl_eh_restore_state at /home/Administrator/buildbot/worker/package_win64/build/src/home/Administrator/buildbot/worker/package_win64/build/src\julia.h:1549 [inlined]
jl_pop_handler at /

[2017-12-26 00:17] xukai92 commented on #409
Did you run `Pkg.build("Turing")`

[2017-12-26 07:24] chameroy commented on #409
No, after having done that, it appears to be working. Is it possible to use Turing with Plots.jl instead of Gadfly? Installing Gadfly downgrades some packages. If not, is it planned?

[2017-12-26 11:25] mlomeli1 commented on #374
Hi all, I was wondering if the Q-class method already accepts different prior distributions for the exponentially tilted parameter, @emilemathieu ? For example, tau~f_Gamma(1,k) or tau = delta_{tau=fixed_value}. Also, what about the case where sigma ≠ 0.5. I have some code in Julia for this case,for both sampling the new size biased weight and for the conditional distribution. I can contribute wit

[2017-12-26 16:16] xukai92 commented on #409
The reason Turing.jl has some dependencies on specific packages is because Turing.jl depends on Mamba.jl which depends on some packages including Gadfly.jl.

You can certainly use Plots.jl with Turing.jl. I personally did this and in some of the notebook examples we have we also use Plots.jl. What specific problem do you meet?

[2017-12-26 19:17] chameroy commented on #409
The problem is not with Turing.jl, but with Gadfly.jl. Currently, it appears that installing Gadfly.jl causes some packages to downgrade, notably DataFrames.jl and  CSV.jl, which breaks code that I'm working on. But as you said, Turing.jl depends on Mamba.jl which in turn depends on Gadfly.jl, so my problem really has nothing to do with Turing.jl per say. Turing.jl appears to be working now.

Whic

[2017-12-26 20:54] xukai92 commented on #409
For examples this one uses `PyPlot.jl` directly https://github.com/yebai/Turing.jl/blob/master/example-models/notebooks/BayesHmm.ipynb and this one uses `Plots.jl` https://github.com/xukai92/TuringDemo/blob/master/Differential%20Equation/turing-de.jl.ipynb

I'm not sure the status of Gadfly.jl. Maybe @ChrisRackauckas knows.

[2017-12-26 21:04] xukai92 commented on #336
- [ ] Update https://github.com/yebai/Turing.jl/wiki/Advanced-usages#avoid-using-model-macro as we no longer able to use `~` standalone

[2017-12-26 22:15] xukai92 commented on #406
NOTE:

In `io.jl`

[code]

[2017-12-26 22:21] xukai92 commented on #406
To summarize the discussion in #405,

For `Chain`, we store original `Sample` in `Chain.vals2` so we can get all the weights by `weights = [results.value2[i].weight for i in range(1, length(results))]`.

However in current `bnp-project` branch, I guess due to the limitation of `Chain` that it cannot store varying dimensional variables, the `Vector{Sample}` is directly returned. So `weights = [resu

[2017-12-26 22:21] xukai92 commented on #406
Forget to @ae-foster

[2017-12-26 22:30] #336 closed

[2017-12-27 14:42] emilemathieu commented on #406
@xukai92 I believe the issue is mostly that the unbiased estimator in importance sampling or SMC is the __weighted__ sum over samples. Therefore, either a resampling step is needed at the end so that the weights are equals (thus useless) or a simple access to the weights is needed.

[2017-12-27 14:56] emilemathieu commented on #374
Hi @mlomeli1, I ported your [*exptiltedsigma* code](https://github.com/yebai/Turing.jl/blob/project-bnp/src/samplers/support/rpm/exptiltedsigma.jl) but didn't implement the generic Q-class. You can find the [`PYP`](https://github.com/yebai/Turing.jl/blob/project-bnp/src/samplers/support/rpm/pyp.jl) and the [`NIGP`](https://github.com/yebai/Turing.jl/blob/project-bnp/src/samplers/support/rpm/nigp.j

[2017-12-27 15:05] xukai92 commented on #406
Yes, I understand this. I'm talking about how to give a simple & consistent access to the weights. There is such an interface but it seems not consistent for `Chain` type, which is returned after inference in the master, and `Vector{Sample}` type, which is used in the bnp branch (?).

[2017-12-27 16:04] mlomeli1 commented on #374
Great, thanks @emilemathieu ! I'll have a go at it and report back.

[2017-12-28 01:37] ChrisRackauckas commented on #409
Gadfly's development has slowed ever since the main developer left. It has two contributors who work a little bit on it, totaling 100 commits over the last year, so it seems like it's mostly in maintenance mode. I don't think it will be going away any time soon, but it's definitely not the main Julia plotting library anymore and I would only recommend it if you're really wedded to Grammar of Graph

[2017-12-28 06:10] chameroy commented on #409
Thanks for the much appreciated insight Chris.

Is it possible use Plots.jl in place of Gadfly.jl in the examples in which Gadfly.jl is currently used? For example, I've tried using Plots.jl in introduction.ipynb but I get the following error:

No user recipe defined for Turing.Chain

Is there currently a workaround for this or will this be possible with future changes to Turing.jl?

[2017-12-29 12:19] drbenvincent opened #411 "posterior prediction"
Hi. Awesome package. Just starting to get to grips with it (and Julia). So far I've got some basic stuff happening, making inferences based on data.

[code]

gives me a fairly sensible output

[code]

But I'm having issues with posterior prediction. I'm attempting to generate sample data `k_pred` in the model specification, but this variable is just not returned into the samples object. Am I doing

[2017-12-29 14:36] xukai92 commented on #411
The `sample` function in Turing.jl returns posterior samples, i.e `θ ~ p(θ|D)`, and you need to deal with posterior prediction by yourself.

From your code I guess what you can do is

[code]

[2017-12-29 14:44] xukai92 commented on #409
You can always extract samples from `Turing.Chain` and do anything with them by yourself. E.g.

[code]

`s_samples` and `m_samples` are just normal Julia arrays. You can use any plotting libraries to plot the density or something.

[2017-12-29 15:43] drbenvincent commented on #411
Ah, I understand now.

I was coming from a background using JAGS where the model spec defines the full joint, which you can then use in various ways depending on what you provide as observed and what you want to monitor.

But your answer this makes sense - thanks.

[2017-12-29 17:23] #411 closed

[2017-12-31 00:58] chameroy commented on #409
Thanks for the help Kai! I'm going to close this out because it's gotten off of the original topic.

[2017-12-31 00:58] #409 closed

[2017-12-31 10:40] drbenvincent opened #412 "help with model"
Hi, I've managed to get some models working with Turing, but I'm having trouble with one and hoped someone could point out where I'm going wrong with this model. The model runs (doesn't error), but still not sure if the issue is the model spec or inference

[code]

which is supposed to implement this (right)
![](https://raw.githubusercontent.com/drbenvincent/bayesian2afc-julia/566e97a8f3aa4e7ff4ef

[2017-12-31 17:00] xukai92 commented on #377
NOTE: remaining issues in this umbrella is planned to be solved in PR #407

[2017-12-31 19:23] xukai92 opened #413 "Abandoning "Mamba.Chain""
Current use of "Mamba.Chain"leads to problem like #390 and #406. Some of them is very hard to resolve (e.g. #390) within "Mamba.Chain"

For this reason, @yebai and I decided to build our own `Chain` type now. (FYI the main reason we used `Mamba.Chain` was to re-use all the diagnosing function written in `Mamba`). This would requires use to generally build these functions (like ESS) for our own cha

[2018-01-01 18:10] xukai92 opened #414 "Bug in vectorized-forward AD"
If there is only one variable which has length greater than the AD seed size, our chunk-wise forward AD is broken.

This is because we treat the whole variable as an object and never break it. Solution is to improve the chunking by support breaking variables.

[2018-01-02 18:20] xukai92 opened #415 "Bug of using SGLD and SGHMC with chunk-wise AD"
For the same subset AD model may be evaluated for multiple times with different indices

[2018-01-02 23:37] xukai92 commented on #412
From the plate diagram and your comments I can see `x` is an observation - I guess in the simulation you should save `x` and provide it as data during inference time.

[2018-01-03 08:10] mkborregaard commented on #293
Would it maybe be an idea to add 0.6 to the travis tracker on the readme.md now this works?

[2018-01-04 10:34] ChrisRackauckas opened #416 "New tag?"
This needs a new tag in order to support https://github.com/JuliaDiffEq/DiffEqBayes.jl/pull/14

[2018-01-04 12:57] keorn commented on #413
Sounds like a good change, it could enable the support of arbitrary sample types too.

[2018-01-05 09:53] sschelm opened #417 "missing package inclusion in jupyter examples"
I got an `UndefVarError: describe not defined` error when trying some of the  jupyter notebooks as they were.
The following notebooks seem to be missing the package inclusion for `describe()`, i.e. `using Mamba: describe`:
- BayesHmm.ipynb
- FHMM.ipynb
- Introduction.ipynb

[2018-01-05 21:39] chameroy opened #418 "Error when passing long array to model"
Hi, I'm trying to run my first model using the following code:

x = Array(d2[:height]) . # this produces an array of length 352 which is then passed to the model below

@model howell1(height) = begin
    μ ~ Normal(178, 20)
    σ ~ Uniform(0, 50)
    [height[i] ~ Normal(μ, σ) for i = 1:length(height)]
    return μ, σ
end

I've tried sampling using the algorithms and parameters used in the introduc

[2018-01-07 03:41] ChrisRackauckas commented on #416
bump

[2018-01-08 14:36] xukai92 commented on #416
Does all I need to do is tag it in GitHub?

[2018-01-08 14:59] xukai92 commented on #418
I don't know if list comprehension will cause a problem. Maybe try

[code]

Also what is the sampling algorithm you use? It also might be too large stepsize you set.

[2018-01-08 15:10] xukai92 commented on #417
Thanks for pointing this out. I guess the notebooks are OK after running `using Mamba: describe`?

[2018-01-08 15:13] ChrisRackauckas commented on #416
If attobot is setup, yes. (and I'd recommend doing this often so that way people can use all of your hard work!)

[2018-01-08 15:18] xukai92 commented on #416
It seems that we're not allowed to give a minor release for a version support change (https://github.com/JuliaLang/METADATA.jl/pull/12049)? I'm not familiar with how tagging works. Can you give me some help here?

[2018-01-08 15:20] ChrisRackauckas commented on #416
I commented. Hope that helps.

[2018-01-08 15:40] sschelm commented on #417
Yes, that was implied.
Probably should have stated that explicitly, though.

Though I still get an unrelated error in the FHMM notebook, when trying to execute
[code]
I get the following error:
[code]
Hence, I can't completely check that notebook.

I also get a deprecation warnings from the GMM notebook.
[code]

[2018-01-08 17:32] yebai commented on #372
@emilemathieu I'm hoping that we will eventually be able to use `Cassette.jl` or something similar to extract computational graph since it will help speed up both computing the joint target distribution and local conditional distributions. Before we can do that, let's stick with the slow but correct solution - rerun the program fully.

[2018-01-08 17:36] xukai92 commented on #416
NOTE: tag PR https://github.com/JuliaLang/METADATA.jl/pull/12791

[2018-01-08 17:47] ChrisRackauckas commented on #416
Merged.

[2018-01-08 17:47] #416 closed

[2018-01-09 13:56] xukai92 commented on #293
I've added the badge of 0.6 though I think the compilation doesn't pass because of the Stan dependency. For this reason I added a **News** sections explicitly saying that Turing.jl is 0.6 compatible.

[2018-01-09 23:21] xukai92 commented on #413
Note: fetch matrix indexing (i.e. `v[:,i]`) from `Mamba.Chain` is broken now. Need to make sure new solution support it.

[2018-01-15 17:43] xukai92 commented on #417
The notebooks were written in previous version of Turing.jl. I'm sorry about the errors you meet.

I just created a PR to fix this bugs (https://github.com/yebai/Turing.jl/pull/419). I've test them on my local which works.

[2018-01-18 16:48] yebai commented on #331
Hi @ChrisRackauckas, We want to make planning for backward autodiff integration. There are also some updates from both the Cassette and AutoGrad packages side. Most notably,

- it seems that AutoGrad now works for Julia 0.6
- Cassette won’t directly support autodiff anymore (judging from the repo’s readme file)

What are your current thoughts/suggestions on this issue? Are there any hard reasons w

[2018-01-18 16:53] xukai92 commented on #331
@yebai I was looking into adapting AutoGrad, with some discussions with their developer here: https://github.com/denizyuret/AutoGrad.jl/issues/42

[2018-01-18 16:54] xukai92 commented on #331
In the end they say:

However you could create a fork/branch of AutoGrad.jl with Rec <: Real as a
short term solution.  @jrevels is working on a Cassette based solution
where a Rec type will not be necessary and this problem will be solved.

However I haven't managed to make my proposal of subtyping Rec work yet..

[2018-01-18 16:58] ChrisRackauckas commented on #331
Cassette is a contextual dispatch system which can make autodifferentiation. Capstan.jl is where that implementation will live.

Autograd requires registered primatives. ReverseDiff using the dispatch mechanism to push derivative information back. They are conceptually different.

Given that ReverseDiff.jl won't be going away since the Cassette work is now going to stay in a separate repo, and tha

[2018-01-18 17:19] xukai92 commented on #331
Thanks for the answer!

I'm a bit confused about your points on the difference between AutoGrad.jl and ReverseDiff.jl. Do you mean ReverseDiff.jl doesn't need any primitives at all?

Another two question on  ReverseDiff.jl
- Is it compatible with Distributions.jl
- Is it GPU supported?

[2018-01-18 17:28] ChrisRackauckas commented on #331
In theory it supports any `AbstractArray`. So yes, in theory. In practice, it's not well-tested.

It should be, since it would get the derivatives forward there via ForwardDiff.

It has a set of generic primatives via dual numbers of ForwardDiff.jl, and uses that to compose functions together. AutoGrad is much more strict on the functional form it allows and requires registering a lot of higher le

[2018-01-18 17:36] yebai commented on #331
Very helpful - thanks all for the answers!

@ChrisRackauckas what’s the current plan for Capstan, e.g. is there any estimated (even informally) release time? I’ve heard that Julia 1.0is coming out soon from one Julia creator. Could we help to speed up the development?

[2018-01-18 17:46] ChrisRackauckas commented on #331
It already works, but it's slow as mentioned here https://github.com/jrevels/Cassette.jl/issues/5 due to https://github.com/JuliaLang/julia/issues/5402 . That's planned to be fixed in a Julia v1.x, so if you don't want to wait then just setup ReverseDiff.jl for now.

[2018-01-18 18:29] jrevels commented on #331
Just saw this thread; my comment [here](https://discourse.julialang.org/t/comparison-of-automatic-differentiation-tools-from-2016-still-accurate/8341/13?u=jrevels) might be relevant.

Just FYI, I don't really plan on doing much ReverseDiff maintenance in the future, so that I can focus on Cassette/Capstan stuff. Once Capstan is released (or even just in beta), I'd be happy to help Turing.jl put it

[2018-01-19 22:18] xukai92 commented on #331
There is still a difficulty using ReverseDiff.jl with Distributions.jl - it's not possible to construct a distribution with `ReverseDiff.TrackedArray`.

E.g. I cannot AD through `f` below

[code]

This is simply because Distritbuion.jl only support constructing distributions with `Real`, in which case ForwardDiff works as `Dual <: Real`.

[2018-01-24 14:48] yebai commented on #331
The following seems work for me. I guess the issue is that `ReverseDiff.GradientConfig` only accept array-type inputs.

[code]

[2018-01-24 17:18] xukai92 commented on #331
Emmm. I see what you the trick. Then it seems that in our Turing.jl program one should write something like this

[code]
Need to test it on another computer of mine later - will update when I do that.

[2018-01-24 19:37] yebai commented on #331
@ChrisRackauckas @jrevels Are there any APIs to pass scalar to target function when using `ReverseDiff`? (see the comment from Kai: https://github.com/yebai/Turing.jl/issues/331#issuecomment-359105278)

[2018-01-24 21:26] jrevels commented on #331
No, see https://github.com/JuliaDiff/ReverseDiff.jl/issues/40.

You can, of course, always (un)wrap the scalar input e.g.

[code]

[2018-01-25 02:24] xukai92 commented on #331
@yebai The test below works on my local Turing.jl by simply changing all the types in VarInfo which were `Real` to `Any` when necessary (I pushed my local temporarily-fixed code in the branch `reverse-diff`)

[code]

[2018-01-26 17:21] yebai commented on #403
I made some (big) changes to our website. We now have a new domain name [turing.ml](turing.ml). The website is now built based on `jekyll`, which means we can write the pages using markdown (see `docs/index.md`). The hope is to create a easier approach for improving the website and documentations.

cc: @xukai92 @emilemathieu

[2018-02-01 18:01] yebai commented on #413
I just noticed that there is already a GSoC project working on the varying dimension constraint of `Mamba`. According to a [blog](https://julialang.org/blog/2017/09/GSOC-MCMC-with-flexible-numbers-of-parameters) from the main developer, the refactored `Chain` (see [here](https://github.com/jamesonquinn/Mamba.jl/tree/gsocMNVP)) can already store samples with varying sizes. Perhaps we can adapt his

[2018-02-01 18:03] yebai opened #421 "Add L-BFGS to Turing"
The [`Optim.jl`](https://github.com/JuliaNLSolvers/Optim.jl) package provides an implementation of BFGS, perhaps we can integrate it with Turing?

[2018-02-10 18:02] ChrisRackauckas opened #422 "Turing on Windows requires a compiler"
[code]

Can this instead be done with BinaryProvider.jl and BinaryBuilder.jl?

[2018-02-12 21:29] xukai92 opened #423 "@suppress_err gives errors in Jupyter"

[2018-02-18 21:13] xukai92 commented on #400
I found this is interesting. Do you know why?

[code]

[code]

But

[code]

[code]

It seems that the slowness is due to the use of `logp` filed of `vi`??

[2018-02-19 02:40] xukai92 commented on #421
Note: link for LBFGS in Optim.jl - http://julianlsolvers.github.io/Optim.jl/stable/algo/lbfgs/

[2018-02-19 02:47] xukai92 commented on #422
@yebai Can you have a look into this issue please?

[2018-02-21 22:06] xukai92 commented on #400
@ChrisRackauckas Do you know why the performances in my comment above differs a lot? Is using a filed of a composite type very expensive?

[2018-02-21 22:20] maximerischard commented on #400
That seems likely to be due to type instability. They’re both type unstable since you’re initialising to an integer (0) rather than a float. Try using the '@code_warntype' to see what the problem might be.

[2018-02-21 22:41] xukai92 commented on #400
Well I can change the 2nd one to a generic type but the 2nd actually much faster.

[2018-02-22 01:00] ChrisRackauckas commented on #400
How is the first one parameterized? If the type is parameterized or set concrete on that field, then `vi.logp = 0` does the conversion when setting so it's actually type-stable. My guess is that field was left to ride as Any. And yes the second code isn't type-stable but the `+` is such a small amount of the time I don't know if it makes a difference, but do make it `logp = 0.0`.

[2018-02-22 16:37] xukai92 commented on #400
Thanks Maxime and Chris, the results above are come from type instability issue.

[2018-02-22 21:11] xukai92 commented on #331
@jrevels I managed to use ReverseDiff.jl in Turing.jl now (branch=https://github.com/yebai/Turing.jl/tree/reverse-diff)

When I integrate it with Turing.jl, I experienced a huge performance change by using a local variable to accumulate log-probability (https://github.com/yebai/Turing.jl/commit/d641f421078bf9068b2a7ff2d0a84f8955ad6df2) instead of accumulating log-probability using a field of a com

[2018-02-22 21:13] ChrisRackauckas commented on #331
[code]

that's not type stable. Use a type parameter

[code]

[2018-02-22 21:20] xukai92 commented on #331
Thanks Chirs. Is that true if it's a local variable Julia might be able to infer the type?

[2018-02-22 21:24] ChrisRackauckas commented on #331
If the code is type-stable, yes. Those type markings you're putting everywhere, except the one I mentioned, are unnecessary for type inference.

[2018-02-22 21:36] xukai92 commented on #331
I see. A follow-up question is that how much performance of ReverseDiff.jl's is influenced by un-stable type? Using the example above, I only get ~3x speed-up. But what I experienced in Turing is much larger. Is it the fact that if part of the code is type unstable, all other function calls may be influenced?

[2018-02-22 21:37] ChrisRackauckas commented on #331
Yes, inference problems "leak". If you don't know the type of `a`, then you don't know the type of `c = a+b`, and then ...

[2018-02-24 10:54] xukai92 commented on #389
Closed by #407

[2018-02-24 10:54] #389 closed

[2018-02-24 10:54] xukai92 commented on #391
Closed by #407

[2018-02-24 10:54] #391 closed

[2018-02-24 11:10] xukai92 opened #424 "AISTATS camera-ready plan"
- More benchmark (https://github.com/yebai/Turing.jl/issues/335, https://github.com/yebai/Turing.jl/issues/309)
  - [x] LDA (=clustering)
  - [x] Naive Bayes (=classification)
  - [ ] Cross cat? @yebai I didn't catch the name in the meeting
  - [x] Stochastic volatility (time series)
  - [x] HMM (time series)
  - [x] High-dim Gaussian
- [ ] Improve documentation (https://github.com/yebai/Turing.jl

[2018-02-25 22:09] xukai92 opened #425 "Stop supporting vectorized notation"
The `a ~ [dist]` notations seem no speed-up against to loop now (according to the test in `sampler.jl/vec_assume_mv.jl`). May be we can stop supporting it.

[2018-02-26 13:54] yebai commented on #425
@xukai92 Is this only true for ReverseDiff? Or true for both forward and backward autodiff?

[2018-02-26 14:13] yebai commented on #424
Here is the CrossCat model I mentioned - http://probcomp.csail.mit.edu/crosscat/. This model is not super urgent, let's focus on existing models for now. When we are done, we can consider the following two models

- Prophet: forecasting at scale - https://research.fb.com/prophet-forecasting-at-scale/
This is a model used by Facebook and Uber in production for forecasting time series.

- Bayesian L

[2018-02-26 16:55] yebai commented on #289
@xukai92 The current code in https://github.com/yebai/Turing.jl/blob/master/src/samplers/support/adapt.jl#L74 might suffer from loss of precision. An alternative algorithm is the Welford accumulator (also used by Stan), see https://en.wikipedia.org/wiki/Algorithms_for_calculating_variance#Online_algorithm

[2018-02-26 16:59] yebai commented on #324
@xukai92 Let's try to isolate issues of adaption of step size and covariance and solve them one at a time. I suggest we first try to disable adaption of step-size (e.g. use a small enough step-size) and make sure covariance adaption is robust through using the Welford trick (see https://github.com/yebai/Turing.jl/issues/289#issuecomment-368570037); Then, we come back to see why step-size is adapti

[2018-02-26 17:04] yebai commented on #284
@xukai92 see https://github.com/yebai/Turing.jl/issues/289#issuecomment-368570037

[2018-02-26 20:18] xukai92 commented on #425
I re-investigated into this issue and found I was wrong. The thing is some of the distributions can benefit from this vectorization but some not. I guess it's related to how the corresponding `logpdf` is implemented. But anyway let's keep it.

[2018-02-26 20:18] #425 closed

[2018-02-26 20:21] xukai92 commented on #324
I see. that makes sense.

[2018-02-27 10:17] yebai commented on #289
@xukai92

The following Stan C++ files contain implementation for variance and covariance adaption for NUTS

- https://github.com/stan-dev/math/blob/c36cfa2becfcc2a0673addb1600e9133e822998d/stan/math/prim/mat/fun/welford_var_estimator.hpp#L23

Stan basically uses a Welfard accumulator to calculate variance/covariance, then it adds a small identity matrix to make sure the returned covariance is pos

[2018-02-27 14:50] ChrisRackauckas commented on #347
Yeah, this would be nice to have. Does it require anything different about the likelihood? I am quite unfamiliar with it but hear it's good for the parameter estimation stuff we've been doing with DiffEqBayes.jl.

[2018-02-27 17:37] ChrisRackauckas commented on #424
If you need more realish benchmarks you can use ours from DiffEqBayes.jl. Some of them we have Turing.jl omitted because of https://github.com/JuliaDiffEq/DiffEqBayes.jl/issues/30 , but for what works it seems to work well according to the benchmarks in https://github.com/JuliaDiffEq/DiffEqBenchmarks.jl/

[2018-02-28 14:59] awellis opened #426 "SMC arguments"
Sorry if the answer to this question is obvious, but can the SMC function take other arguments than the number of particles, e.g. resampling threshold/method? Also, is it possible to retrieve the weights from the SMC sampler, along with the samples?

[2018-03-01 13:09] xukai92 commented on #393
Closed by https://github.com/yebai/Turing.jl/pull/407

[2018-03-01 13:09] #393 closed

[2018-03-01 17:09] mlomeli1 opened #427 "Original and collapsed models specification for MFM model"
I have the following mixture of finite mixtures model:

@model MFM(gam,alp,p, μ, σ) = begin
  m ~ Poisson(gam)
  probs ~ Dirichlet(m,alp)
  z ~ Categorical(probs)
  x ~ Normal(μ[z], σ)
end

This model is similar to the GMM example but the difference is that the number of total components is random. Also, I would like to add a prior for the means (say Normal so it's conjugate), should I do this aft

[2018-03-04 22:51] xukai92 commented on #424
Thanks! I checked the benchmark results. Just FYI the benchmark results actually indicates Turing.jl is slower than Stan as the sampling algorithm used is different. E.g. https://github.com/JuliaDiffEq/DiffEqBenchmarks.jl/blob/master/ParameterEstimation/DiffEqBayesFitzHughNagumo.ipynb shows Stan uses 93.0s and Turing.jl uses 30.9s, however, Stan takes `79*600` evaluations of the model but Turing.j

[2018-03-04 22:58] xukai92 commented on #324
Note: there is a related issue in DiffEqBayes.jl (https://github.com/JuliaDiffEq/DiffEqBayes.jl/issues/30).
- [ ] use that as a test case when solving stability issue.

[2018-03-07 15:32] mlomeli1 commented on #427
I think the collapsed model would look something like this:
@model mixtureoffinitemixtures(y) = begin
  N = length(y)
  H = Normal(mu_0, sigma_0)
  x = tzeros(Float64, N); z = tzeros(Int, N)
  k = 1
  for i in 1:N
    ps = vcat(old_ratio(block_sizes,n,k), new_ratio(n,k))
    z[i] ~ Categorical(ps)
    if z[i] > k
      k = k + 1
      x[k] ~ H
    end
    y[i] ~ Normal(x[z[i]], sigma_1)
  end
end

[2018-03-07 15:47] emilemathieu commented on #427
Hi Maria ! Sorry for the late reply.

With the changes made end of 2017, Turing is indeed able to deal with random sizes of random vectors.
`SMC` should run without any issue. Yet you can't run HMC-like (such as NUTS) on a space with random dimensions.

The error you have is because the [imm example](https://github.com/yebai/Turing.jl/blob/project-bnp/test/rpm.jl/imm.jl) is on a different branch t

[2018-03-07 17:09] mlomeli1 commented on #427
That's great, thank  you @emilemathieu . I will try it out in the collapsed version so I won't have to deal with the parameters. I guess we still need to think about how to do HMC for this case?
Also, if I wanted to run the [imm example](https://github.com/yebai/Turing.jl/blob/project-bnp/test/rpm.jl/imm.jl), would it work if I save the file [pyp](https://github.com/yebai/Turing.jl/blob/project-bn

[2018-03-08 11:05] emilemathieu commented on #427
The easiest may be to include the folder `Turing.jl/src/samplers/support/rpm/` and then make sure to`include("support/rpm/rpm.jl")` in [`sampler.jl`](https://github.com/yebai/Turing.jl/blob/project-bnp/src/samplers/sampler.jl#L12).

You should be able to perform inference with a `Gibbs` sampler, using `CSMC` (or other valid particle methods) to target random variables with varying dimensions and `

[2018-03-12 10:31] emilemathieu commented on #426
Hi !
It's indeed not clearly documented but the objected returned when calling `sample()` on a `model` is a [`Chain`](https://github.com/yebai/Turing.jl/blob/master/src/core/io.jl#L87). It has a `value2` attribute being an array of all samples, each [`Sample`](https://github.com/yebai/Turing.jl/blob/master/src/core/io.jl#L9) having a `weight` attribute.

Best,
regards

[2018-03-12 10:34] emilemathieu commented on #421
In what context shall L-BFGS (a memory efficient quasi-Newton method) be added to Turing ? Is Turing now supporting some sort of optimisation paradigm ?

[2018-03-12 10:35] emilemathieu commented on #415
Hi Kai! Could you give more details about the bug ?

[2018-03-13 10:13] xukai92 commented on #415
This is related to the chunk-wise forward-mode AD we used before:

- Say we use a chunk-size of 50 and the input vector is of size 100
- What we do to get the gradient is by run the model twice to get the gradient of the first and second 50 dimension
- Different runs of the program is on different sub-set so they are non-consistent

As you know in PR https://github.com/yebai/Turing.jl/pull/428, Tu

[2018-03-23 09:46] AresFishy commented on #258
Probably silly question, but after adding mingw32/bin to system environment variables Julia still returns "can't spawn mingw32-make: no such file or directory". Does this need to be added to the julia ENV["Path"]? How does one do that properly? It doesn't seem very intuitive.

Thanks!

[2018-04-02 14:20] #424 closed

[2018-04-02 14:21] yebai commented on #324
@xukai92  Any update on this issue?

[2018-04-02 16:51] yebai opened #430 "Allow SGLD and SGHMC to use ReverseDiff.jl based gradient function"
REF: https://github.com/yebai/Turing.jl/pull/428#issue-173332185

[2018-04-03 22:31] xukai92 commented on #424
Benchmark models are added in PR #424

[2018-04-04 08:42] xukai92 commented on #325
Link to [Benchmark spread sheet](https://docs.google.com/spreadsheets/d/1yPW1xXEH3yYJXVET1rrLy-nxst5fq93NzUNxpTziu-w/edit?usp=sharing)

[2018-04-04 16:29] xukai92 opened #431 "Refactoring HMC/NUTS related functions for better unit testing"
The current NUTS adaption is buggy (see umbrella issue #324). With careful check on the adaption code by @yebai and me, we believe the bug is probably not come from the adaptation codes themselves, but from the numerical issues inside HMC/NUTS code. To address this, I would like to refactor the codes in HMC/NUTS to do unit testing (HMC samplers was only tested in an integrated setting before).

Th

[2018-04-04 16:32] yebai commented on #431
@willtebbutt  We discussed something similar a few days ago. Perhaps you can help Kai do design the interface in this refactoring plan.

[2018-04-06 02:03] xukai92 commented on #104
Closed by adding corresponding discussion to wiki.

[2018-04-06 02:03] #104 closed

[2018-04-06 02:36] xukai92 opened #433 "vi.vals or vi.rvs? design of internal variable type"
During my work on PR #428, I tend to feel that it makes sense to store variables internally without vectorization. I created this issue to discussion the pros and cons of doing so. In my opinion, the benefits are

- reduction in memory re-allocation: basically the same variable sampled in `@model` is just the one we stored;
- improvement in Turing.jl's internal typing: it is known that better typi

[2018-04-10 20:49] yebai commented on #431
@xukai92 It might be challenging to do this design without refactoring the compiler. Basically, inside your new `find_H` function, we still need to call `runmodel` somewhere to get the joint probability. This means we still need to unpack `p::Vector` into `vi::VarInfo` so that the model can be replayed. We need to somehow refactor the compiler so that it can generate a function that take `p::Vecto

[2018-04-12 13:48] xukai92 commented on #431
Emmm, can we just wrap these before calling the core HMC functions? E.g. do you think below would work?

[code]

For me, to use the proposed design, it would be similar to what we did to use the ReverseDiff.jl API (https://github.com/yebai/Turing.jl/blob/master/src/core/ad.jl#L116-L119).

[2018-04-12 16:07] yebai commented on #431
Yes, this design should work.  Let's go for it!

[2018-04-12 16:13] yebai commented on #433
We have a lot of discussions early days regarding this issue. One additional problem that's not mentioned here is that we still need to `deepcopy` variables, since e.g.

[code]

I lean towards using a flat vector for internal storage of parameters, cause it substantially simplifies the design of future new inference algorithms (e.g. variational inference, and new sampling algorithms).

cc'ing @wil

[2018-04-13 10:08] jimypbr opened #434 "Jupyter notebook - MethodError: no method matching redirect_stderr"
I get this error when I try to load the Turing module in a Jupyter notebook (using IJulia) I get the following error:

[code]

I am using Julia version 0.6.2 on linux (Xubuntu 16.04). Could you please help? Thanks!

[2018-04-13 11:50] jimypbr commented on #434
Ok I managed to get it working after checking out the 'master' branch of Turing and rebuilding.

However there are many warnings after importing Turing FYI:

[code]

[2018-04-13 14:44] yebai commented on #422
@ChrisRackauckas I believe this can be easily solved by packages such as `BinaryProvider.jl` and `BinaryBuilder.jl. However, I don't have direct experience with these packages.  Would someone with more experience create a pull request?

cc'ing @antoine-soubret  (#258) and @hessammehr (#435).

[2018-04-13 16:59] hessammehr commented on #422
Okay, thanks for the pointers. I have no experience with BinaryBuilder but will have a go at it in a minute.

[2018-04-13 18:08] hessammehr commented on #422
So the issue here is that the build script depends on Julia itself (task.c uses julia.h and links against Julia libs), which BinaryBuilder.jl doesn't provide in its RootFS. And none of the examples that I looked at depended on Julia, so I'm clueless. For the Linux target one could `wget` the Julia binary tarball and extract it on the fly; not too sure about Windows.

[2018-04-13 19:01] yebai commented on #422
@hessammehr You may find the Appveyor configuration file helpful. Basically, we download Julia and MinGW first, then Turing's build script is run:

https://github.com/yebai/Turing.jl/blob/master/appveyor.yml

I'm glad that someone gave it an attempt at this issue, I'll be happy to help along the process if this can be solved.

[2018-04-13 19:17] hessammehr commented on #422
Thanks @yebai, I'll definitely check out your Appveyor config. Just wondering, though - how indispensable is task.c?

[2018-04-16 10:53] hessammehr commented on #422
So I have BinaryBuilder working for all Linux targets [here](https://github.com/hessammehr/LibtaskBuilder) (still waiting on Travis). I'm still struggling a bit with Windows though since I haven't figured out how to extract the Julia installer .exe file. Anyone know of a working portable Linux version of 7zip?
@yebai If I understand it correctly, your Appveyor scripts simply runs the runs the Juli

[2018-04-17 16:08] yebai commented on #422
Well, it is not essential, but it reduces the time complexity for particle MCMC methods from O(N^2) to linear time. If you are interested, you can have a look at https://github.com/JuliaLang/julia/issues/4085 and https://github.com/JuliaLang/julia/pull/15078. Ideally, we should get the PR for task copying merged into Julia, but that has not happened yet.

That's correct - we just run the Julia ins

[2018-04-17 16:26] jimypbr opened #437 "Example of composition from documentation doesn't work"
I haven't been able to get this example from the documentation to work:

[code]

This fails with error:

[code]

It doesn't recognise `x` as a observation.

This is using Julia 0.6.2 on macOS and Turing version e3c430d.

[2018-04-17 20:07] yebai commented on #437
Hi @jimypbr, the current Turing compiler only recognises variables explicitly passed as function parameters as data. In your case, this would be `xs`. I think you can re-write you model as

[code]

[2018-04-17 20:29] yebai commented on #422
@hessammehr I've manually converted the windows `exe` file to `tar.gz` format on my Mac. Please find links below:

http://mlg.eng.cam.ac.uk/hong/julia-0.6.2-win32.tar.gz
http://mlg.eng.cam.ac.uk/hong/julia-0.6.2-win64.tar.gz

This isn't a perfect solution, but perhaps useful for getting the main job here done quickly.

[2018-04-18 08:06] hessammehr commented on #422
@yebai Thanks, I'll give it a shot with your tarball and let you know.

Re. 7zip - the problems is that BinaryBuilder's rootfs has no `apt` equivalent. That and I couldn't find a working statically-linked version of p7zip.

[2018-04-18 09:34] yebai commented on #258
Closed in favour of #422.

[2018-04-18 09:34] #258 closed

[2018-04-18 09:46] yebai commented on #422
@hessammehr I just became aware of the following portable version of `7zip` for Linux

https://sourceforge.net/projects/p7zip/files/p7zip/16.02/

There is a generic binary tarball for this project, which might be helpful.

[2018-04-18 09:50] hessammehr commented on #422
Yes, I tried that and ... no luck :( Apparently, it's a 32-bit ELF so I get the following when I run it

[code]

Hmmm...

[2018-04-18 09:52] hessammehr commented on #422
So we have [build artefacts](https://github.com/hessammehr/LibtaskBuilder2/releases) now!

[2018-04-18 10:03] yebai commented on #422
@hessammehr Looks great! Here is the link to the tarball of OSX version of Julia

http://mlg.eng.cam.ac.uk/hong/julia-0.6.2-mac64.tar.gz

If you can create a PR for Turing using `BinaryProvider`, I will test it on Travis and Appveyor quickly.

[2018-04-18 13:49] jimypbr commented on #437
That makes sense now. Your example runs for me. Thanks!

[2018-04-18 13:49] #437 closed

[2018-04-18 17:59] hessammehr commented on #422
I have binaries built for all platforms now and the BinaryBuilder-generated `build.jl` on my fork (hessammehr/Turing.jl), however:

On Windows:
[code]
@yebai @ChrisRackauckas Ever encountered this sort of error message?

[2018-04-18 18:04] ChrisRackauckas commented on #422
Why are you using an absolute path for the binaries? That seems prone to failure if the location of the package moves.

[2018-04-18 21:40] hessammehr commented on #422
Oh right, you're looking at the error message on that bottom line. I should have made that more clear. There are no hard-coded paths as far as I can see.

[2018-04-19 18:10] yebai commented on #422
This is really helpful. Many thanks for the contribution!

cc'ing @xukai92 @emilemathieu @willtebbutt @trappmartin Turing now has binary build, and no more require MinGW on Windows!

[2018-04-20 10:46] #403 closed

[2018-04-20 10:46] #402 closed

[2018-04-25 10:29] hessammehr opened #440 "Recommended Julia version"
The [wiki](https://github.com/yebai/Turing.jl/wiki/Get-started) says 0.5/0.4. Shall we switch to 0.6, 0.6/0.5?

[2018-04-25 20:45] willtebbutt opened #441 "Broken wiki example"
The following example from the wiki
[code]
throws the following error:
[code]
The culprit appears to be that `s` is a tuple rather than a `Float64`. What is the appropriate work around? This example worked a couple of weeks ago; what changes to the internals have occurred to cause this problem?

[2018-04-25 21:49] xukai92 opened #442 "Current master branch is buggy"
[code]

I double checked: this bug didn't exist in 43017ad8ded8036e2c763aabc1cec245792c8764 - should be introduced in some very recent commits.

[2018-04-25 21:51] xukai92 commented on #441
In the last PR I changed the API of `assume`, `observe` a bit. Basically now they also return log-probability: I evaluate the log-probability inside the function and return. Coming with this change, I set a local variable `_lp` inside the model function.

The reason to do this is that `ReverseDiff.jl` somehow is very slow with the type is unsafe and using this local variable to accumulate probabil

[2018-04-25 21:55] willtebbutt commented on #441
Makes sense, thanks for the quick response.

[2018-04-25 21:56] #441 closed

[2018-04-26 12:06] xukai92 commented on #442
Re-building Turing.jl solves the problem.

[2018-04-26 12:06] #442 closed

[2018-04-26 21:51] xukai92 commented on #440
Wiki updated

[2018-04-26 21:51] #440 closed

[2018-05-08 16:50] yebai commented on #347
@juliohm Thanks for the pointer. It looks interesting. Would be good if someone could give it a try to use `ApproxBayes.jl` as a backend of `Turing.jl`. I'm happy to help with along the way.

PS. The coroutine-based SMC implementation in Turing is the fastest SMC at the moment. I think coroutines (copying) from Turing might help ABC as well if the simulator involves complex stochastic control flow

[2018-05-15 09:01] hessammehr opened #444 "Tag new release?"
The current tagged release is over 4 months old. Do we have a timeline for tagging a new release? I am mainly asking because Turing 0.4 requires a build environment on Windows, which is not ideal.

[2018-05-16 17:40] yebai commented on #444
@hessammehr I've tagged a new release 0.4.1 - should get accepted as soon as auto tests are done.

https://github.com/JuliaLang/METADATA.jl/pull/14680

[2018-05-16 21:56] hessammehr commented on #444
Wonderful, new users will appreciate this!

[2018-05-16 21:56] #444 closed

[2018-05-19 14:06] hessammehr opened #445 "RFC: Ideas for codebase cleanup"
Just hoping to get the ball rolling on getting the package slimmer code- and dependency-wise.

Some low-hanging fruit:
- Move example models to a separate repository, e.g. Turing-examples.

I've also noticed that the dependency on Stan is solely for the purpose of testing/benchmarking, which wouldn't be immediately of interest to users. Two possible solutions:

- Have this code live in a separate

[2018-05-20 18:35] willtebbutt commented on #445
+1 regarding putting examples in a separate repo. Might it make sense to create a Turing organisation to group together examples + core codebase + any other side-projects that get created in the future?

I believe the Stan dependency is also required for their NUTS implementation, but @yebai or @xukai92 know more about this than I do.

[2018-05-21 09:46] xukai92 opened #446 "Default sampling behaviour"
Maybe we can support a syntax like `sample(model_f, num_iter)` i.e. one doesn't specify the samplers. In this setting we ask Turing.jl to automatically split variables into continous and discrete variables and runing a composable Gibbs with HMC and PG on it.

[2018-05-21 16:35] yebai commented on #445
Yes, we can do that relatively quickly.
@xukai92  what do you think?

We currently use `Stan.jl`'s sampler's configuration type in Turing. It is not a huge burden to implement a new type of NUTS configurations, we might do that in the near future.

[2018-05-22 14:10] trappmartin commented on #445
+1 for creating a Turing github organization to group Turing related packages.

[2018-05-23 15:30] yebai commented on #445
@hessammehr @willtebbutt @xukai92 @wesselb Following up our discussion, I have created an organisation account `TuringLang`. I have also transferred the `Turing.jl` repo to the organisation account. This might cause some issues if you have your local repo stilling pointing to my personal repo, but should be easy to fix.

@hessammehr could you create a PR to separate Turing examples into a separate

[2018-05-23 15:41] ChrisRackauckas commented on #445
Github auto-forwards so there shouldn't be any URL issues. But you should put in a METADATA PR  to change the URL anyways.

[2018-05-23 16:45] willtebbutt commented on #446
On this note, it would also be useful to be able to sample from the prior easily. For example:
[code]
we can do this:
[code]
to generate (what I understand to be) samples from the prior, but it seems unnecessary to have to provide data to the prior to be able to sample from the model. It would be nice to be able to do
[code]
(or something like this) and get samples from the prior.

[2018-05-23 17:49] yebai commented on #446
It should be straightforward to support `gdemo()`.

The `rand(gdemo)` interface would require the compiler to generate data types of models. This is possible but is more involved.

@willtebbutt  In general, I'm not satisfied with the current compiler implementation. It was written incrementally and does not have a clear code structure. I think we should arrange a meeting to go through the code and

[2018-05-23 21:40] xukai92 commented on #413
Another choice: https://github.com/arviz-devs/arviz/issues/97#issuecomment-391452259

[2018-05-23 22:32] xukai92 commented on #445
Maybe we could arrange the repos in this way.

- Turing.jl
  - Use `Require.jl` for the part of code which only for the support of Stan's construction
- Turing-examples
  - This has dependencies on Turing.jl and Stan.jl
  - Make benchmark scripts as tests for Turing-examples repo

[2018-05-25 18:37] yebai commented on #445
@hessammehr Many thanks for the help!

[2018-05-25 18:38] yebai commented on #445
@xukai92  could you create a PR for the following 2 tasks you suggested, please?

[2018-05-25 18:40] yebai commented on #445
@willtebbutt @trappmartin @wesselb @emilemathieu pls feel free to suggest any improvements that make Turing more readable and organized!

[2018-05-27 23:29] xukai92 commented on #445
@yebai I was trying to enable Travis on Turing-Examples but recevied "You don't have sufficient rights to enable this repo on Travis."

[2018-05-28 15:26] trappmartin commented on #370
Hi,
As discussed with @yebai I'll be looking into approaches to store parameters of RPMs in the Mamba.Chain struct within the next weeks. I'll keep you informed about the progress.

Cheers,
Martin

[2018-05-28 18:30] yebai commented on #445
@xukai92 should be working now!

[2018-05-28 18:41] yebai commented on #370
@emilemathieu @ae-foster @mlomeli1  Just to add, @trappmartin is a new member on the Turing team. He has previously implemented https://github.com/trappmartin/BNP.jl and now helping us to get BNP integrated into Turing.

- resolve https://github.com/TuringLang/Turing.jl/issues/413 first
- create a working example of DPmix

[2018-05-28 21:09] xukai92 commented on #445
Thanks! I can fix the .yml then

[2018-05-28 21:15] emilemathieu commented on #370
Hi @trappmartin ! Great news !
I can't exactly remember where we were in https://github.com/TuringLang/Turing.jl/tree/project-bnp, but I believe I had a [`SMC`](https://github.com/TuringLang/Turing.jl/blob/project-bnp/test/rpm.jl/imm.jl) and [`Gibbs`](https://github.com/TuringLang/Turing.jl/blob/project-bnp/test/rpm.jl/imm_hmc_sticks.jl) sampler working on a [`PYP`](https://github.com/TuringLang/T

[2018-05-28 21:53] mlomeli1 commented on #370
Hi @trappmartin , that's great news! If you have any questions I am happy to talk too.

[2018-05-28 22:02] xukai92 opened #447 "Remove Stan dependency on Turing"
Proposed in https://github.com/TuringLang/Turing.jl/issues/445

This needs a bit of work because the current code use `Stan.adapt()` to initialize out adaptaion parameters. This could be removed by simply hand-writting the same default values as Stan.

[2018-05-28 22:03] xukai92 commented on #445
@yebai Need some more work to fix the Stan dependency. I will probably do that after the current PR I'm working on so I created an issue (https://github.com/TuringLang/Turing.jl/issues/447) for that.

[2018-05-29 11:22] trappmartin commented on #370
Hi,
Thanks a lot for the warm welcome.

I’m happy to talk via Skype once I have a better overview of the codes.

[2018-05-29 16:25] yebai commented on #370
@trappmartin the current code is not super well documented, so pls feel free to ask any questions related to the code.

[2018-06-11 17:04] Vaibhavdixit02 opened #448 "Argument to pass warmup sample size."
I couldn't find any documentation on passing warmup sample size to the samplers, from https://github.com/TuringLang/Turing.jl/issues/265 I understand you use 1k as the default warmup sample size?
It would be a good addition to have a argument that would allow the user to pass in the required warm up sample size.

[2018-06-13 16:43] Ken-B opened #449 "broken links to notebooks"
Both on the github readme and the website I get a 404.

[2018-06-14 09:22] #449 closed

[2018-06-18 10:11] awellis commented on #426
Hi,
I've been trying out Turing again, and as I'm  quite new to Julia, how to extract samples and weights isn't obvious to me.

As far as I can, I can obtain a matrix containing all particles from the `value` attribute of a `Chain` and in the `value2` attribute, I get a `Sample` object, which contains a `weight` and a dictionary of samples for each iteration.

It seems that the `weight` represents

[2018-06-19 14:59] emilemathieu commented on #426
Hi Andrew !

Indeed [`Chain.value2`](https://github.com/TuringLang/Turing.jl/blob/master/src/core/io.jl#L89) is a list of `Sample` with the `weight` being the log evidence at each iteration. You are right, it would be better to have each particle weight at each iterations, you could modify the [`SMC` code](https://github.com/TuringLang/Turing.jl/blob/master/src/samplers/smc.jl#L64) to save all par

[2018-06-20 14:30] awellis commented on #426
Hi Emile,

thanks for your reply. I will try to modify the `SMC` code to save the particle weights at each iteration, and I've figured out how to use the `resampler` argument, thanks.

I'm wondering if there might be a problem with resampling. I've been playing around with a state space model (using SMC), and it seems that no matter how low I set the resampling threshold, the particles are resampl

[2018-06-20 14:49] emilemathieu commented on #426
Hi Andrew,

In `SMC`, the `resampler_threshold ` is used here: https://github.com/TuringLang/Turing.jl/blob/master/src/samplers/smc.jl#L59.

I'm not sure why that's happening. You should try to print `ess` and `spl.alg.resampler_threshold * length(particles)` to understand why the condition `ess <= spl.alg.resampler_threshold * length(particles)` is always true.

May be related to the fact that th

[2018-06-20 15:04] awellis commented on #426
ok, thanks.

It'll take me a while to figure out how to do that, I'm pretty new to Julia. Any hints on how to print `ess`?

But even if resampling is performed, this shouldn't result in the particles all being descended from one ancestor, should it?

[2018-06-20 15:09] emilemathieu commented on #426
Not necessarily indeed, but it could if you have to few particles and one of them therefore dominates the others (in terms of associated weights).

You can use `println("ess: $(ess)")`.

[2018-06-20 15:13] awellis commented on #426
`println("ess: $(ess)")`: that is clear, but how do I get the `ess` value during execution of the model?

[2018-06-20 15:18] emilemathieu commented on #426
If you add `println("ess: $(ess)")` in the [`SMC` file after computing the `ess`](https://github.com/TuringLang/Turing.jl/blob/master/src/samplers/smc.jl#L80).
This file can be found in `~/.julia/v0.6/Turing/src/samplers/smc.jl` in macOS.

[2018-06-20 16:06] trappmartin commented on #65
I just implemented a version which seems to work on branch `multithreaded-PG` and will have a further look into this issue.

[2018-06-20 16:08] emilemathieu commented on #65
FYI I implemented a few months ago a parallel version of IPMCMC: https://github.com/emilemathieu/Turing.jl/blob/7c72a238b4d278720409d845880738d5d2c44ed3/src/samplers/ipmcmc.jl#L70

[2018-06-20 17:00] trappmartin commented on #65
Great! I’ll have a look at it.

[2018-06-20 20:46] awellis commented on #426
ok, thanks, that worked ok. I'll spend some time looking at this.

[2018-06-22 15:53] emilemathieu commented on #426
The `step` method is called when `SMC` is used within a `Gibbs` sampler (i.e. `CSMC`).

This seems weird indeed, i’ll Look into it

Cheers,
Emile

[2018-06-26 10:38] awellis commented on #426
hi Emile,

I still think it looks like something is going wrong at the first iteration. Changing the initialisation of the weights doesn't seem to have any effect.

cheers,
Andrew

[2018-06-30 16:16] wesselb opened #450 "Minor Comment Correction"
[code]
from [here](https://github.com/TuringLang/Turing.jl/blob/6f144d41f815b0fb2c72b6e26228279931e42234/src/samplers/support/adapt.jl#L95): Is `stats = δ - H_t` in the comment correct? I think `stats` is the average acceptance MH probability.

[2018-06-30 17:06] wesselb opened #451 "`add_sample!`: Correctness"
If we're not mistaken, the updates performed in [`add_sample!`](https://github.com/TuringLang/Turing.jl/blob/6f144d41f815b0fb2c72b6e26228279931e42234/src/samplers/support/adapt.jl#L16) are

[code]

Is mixing `mu_n` and `mu_{n+1}` in the update of `M_{n+1}` intended? The resulting sequence for `M` weights later samples more. In the limit, the estimate will indeed be unbiased:

[code]

However, for

[2018-07-03 18:08] attobot opened #452 "Error tagging new release"
The tag name "0.4.3" is not of the appropriate SemVer form (vX.Y.Z).
cc: @xukai92

[2018-07-03 19:52] xukai92 commented on #452
Closed by renaming it to "v0.4.3".

[2018-07-03 19:52] #452 closed

[2018-07-03 19:54] xukai92 commented on #431
Closed by https://github.com/TuringLang/Turing.jl/pull/436.

[2018-07-03 19:54] #431 closed

[2018-07-03 20:03] xukai92 commented on #335
Closed by updating the benchmark table.

[2018-07-03 20:03] #335 closed

[2018-07-03 20:05] #331 closed

[2018-07-03 20:06] xukai92 commented on #324
https://github.com/TuringLang/Turing.jl/issues/324#issuecomment-370272466 works on my local.

[2018-07-03 21:13] xukai92 commented on #324
@yebai I tried the notebook with master branch again on my local and a remote linux machine. It seems that the adaptation is working now **as long as the initialization is fine**, i.e. the sampling only keeps throwing numerical error if the initialization is bad. Do you mind try it again on your local to see if you agree on this?

[2018-07-04 12:21] xukai92 commented on #289
Closed by PR #436.

[2018-07-04 12:21] #289 closed

[2018-07-04 13:01] xukai92 commented on #324
The downstream package DiffEqBayes.jl had a test relying on Turing.jl which suffered from adaptation issues before also passed with the current master (related issue: https://github.com/JuliaDiffEq/DiffEqBayes.jl/issues/30, related PR: https://github.com/JuliaDiffEq/DiffEqBayes.jl/pull/48)

[2018-07-04 15:32] ChrisRackauckas commented on #324
Could you describe what changed to fix it? We thought the issue was related to parameters going negative when they were supposed to be non-negative, but didn't have a nice way to do domain transforms (are these going to be added in Turing?)

[2018-07-04 15:47] yebai commented on #324
@xukai92 thanks, I will do another test and come back with my findings.

[2018-07-04 23:10] xukai92 commented on #324
@yebai What I observed is that: 1) if there are numerical errors during the sampling, our adaptation can fix it (i.e. the numerical error disappears after few iterations, which was not the case before); 2) if there is a numerical error in the beginning, the sampling keeps throwing numerical errors.

My current understanding is: basically `theta` is initialized in a place where after `invlink` the

[2018-07-04 23:21] xukai92 commented on #324
@ChrisRackauckas Turing.jl always has domain transforms. I didn't really change the functionality of Turing.jl in that PR but refactoring the core code in a way to ensure no unexpected side-effects happening, which I now believe was the reason why in-sampling numerical error was not correctly handled (either in rejection or adaptation). As I post in the comment above, there is still an issue on in

[2018-07-06 17:19] yebai commented on #451
@wesselb I think the code in `add_sample!` is intended. You're right that this code produces a biased estimator for the variance for finite n. However, since we only perform adaption for during a fixed warm-up period, the unbiasedness of the sampling algorithm is unaffected.

Ps.  This procedure is known as the Welford method for computing variance. The Turing code is the same as the python implem

[2018-07-06 17:21] yebai commented on #451
@wesselb could you create a PR for your suggested in-place updates? Many thanks.

[2018-07-08 16:35] wesselb opened #454 "Diagnosing HMC: Energy Distribution"
To better diagnose HMC, in particular the choice of kinetic energy and adaptation thereof, it may be worthwhile to provide metrics that compare the marginal and conditional (on a particular location) energy distributions. As explain on p. 28 in [1], mismatch between the two may greatly negatively impact performance of the sampler. A simple metric to compute is outlined in Section 6.1, also in [1].

[2018-07-08 17:13] wesselb commented on #451
@yebai Thanks looking into this. That makes sense. I've created a PR with the in-place updates: [#455](https://github.com/TuringLang/Turing.jl/pull/455).

[2018-07-09 07:46] #451 closed

[2018-07-09 07:47] yebai commented on #451
@wesselb @willtebbutt I've merged the PR - thanks!

[2018-07-09 20:00] yebai opened #456 "RFC: decouples Turing compiler and inference methods."
Discussion - TBA.

Related issues:
- Turing Interface Design #104
- Decoupling HMC/NUTS from Turing.VarInfo https://github.com/TuringLang/Turing.jl/issues/431

Will's notes on syntax and compiler
- https://github.com/TuringLang/Turing.jl/tree/wct/refactor-core/docs/src

[2018-07-10 22:54] xukai92 commented on #456
In the meeting last time, we generally agree to decouple Turing.jl into 3 modules, namely `Turing.Core`, `Turing.Modelling` and `Turing.Inference`, of which the corresponding responsibility are:
- `Turing.Core`: a set of helper functions that glue the modelling and inference parts of Turing.jl.
- `Turing.Modelling`: mainly the compiler, which transfers models to a set of functions which required b

[2018-07-10 22:57] xukai92 commented on #456
I added useful information and thoughts on decoupling. Please let me know if there is anything unclear.

[2018-07-10 23:04] xukai92 commented on #456
Below is a list on API design on what we want each module to export, using the example code below. Please feel free to edit it.

[code]

- `Turing.Core`:
- `Turing.Modelling`:
  - `logpdf(mf, [1.0, 2.0])`
  - `logpdf(mf, Dict(:s=>1.0, m=>2.0))`
- `Turing.Inference`:

[2018-07-11 17:24] yebai commented on #456
@xukai92 Thanks, Kai. I'm also working on a note - will post it soon.

@willtebbutt We might be able to adapt most of your design. I'm re-thinking the BNP related requirement and realised that many issues are obsolete now due to recent refactoring.

[2018-07-11 17:58] xukai92 commented on #456
@yebai That's great. I feel it's hard to edit together / point to specific sentence using GitHub actually. E.g. filling the table together or questioning on some ideas others write. Do you think it might be better for us to switch this note on somewhere else?

[2018-07-16 22:44] xukai92 commented on #456
Some more notes which might be helpful

### Current `VarInfo` fields  explained
- `idcs`: a dictionary maps each variable (in type of `VarName`) to a variable ID, which will be the corresponding index of the variable in other fileds; this allows all other filed to simply become vectors.
- `vns`: a vector of variable names
- `vals`: a plain vector which is simply a concatenation of all random varia

[2018-07-17 07:53] willtebbutt commented on #456
- Naming proposal: "atomic distribution" - a distribution not implemented using the @model macro. "compound distribution" - anything created using the @model macro. May comprise atomic distributions and compound distributions, which I will refer to as "component distributions".

Response to @xukai92's stuff above. I broadly agree with what you've said, but have a few comments:
- Regarding the requ

[2018-07-17 09:05] willtebbutt commented on #433
I basically agree with @yebai on this issue. I'm not overly familiar with the gritty details of `vectorize` and `reconstruct`, but I agree with @xukai92 that it's a thorny issue trying to ensure type stability when it's possible that we will need to have various different types stored behind the scenes. Here's how I see things:
- If a programme comprises entirely `Float64`-valued random variables

[2018-07-17 09:31] xukai92 commented on #456
Good idea!

In short SMC is a sequential version of IS and PG (or conditional SMC) is running MCMC in a way each step is a SMC + resampling.

Sorry I was not clear here. So given a probabilistic program whose random variables sampled in order `v_1`, `v_2`, `v_3`, ..., `v_n`, by *sampling with part of random variables given in order* I mean: `k` random variables from the beginning, i.e. `v_{1:k}` a

[2018-07-17 10:06] willtebbutt commented on #456
Aha, I see. Both situations should be covered by providing wrappers for the proposed wrappers. Actually, it strikes me that we should actually be able to compile completely different `logpdf` and `rand` functions for each step of Gibbs sampling, which just have the bits in that we need to be able to update (but for now we could just wrap the same underlying function).

Good to know. What do we cur

[2018-07-24 11:06] yebai opened #457 "Flux.jl"
Hi @ChrisRackauckas, I recently learned about the existence of the [Flux.jl](https://github.com/FluxML/Flux.jl/) package.

I'm now looking at this package and have a question related to AD: It seems Flux.jl has its own AD; is this going to be supported or will it be replaced when a new one based on [Cassette.jl ](https://github.com/jrevels/Cassette.jl)is out? Thanks!

[2018-07-24 14:02] yebai commented on #421
The [Flux.jl ](https://github.com/FluxML/Flux.jl) package has implementations for several popular optimisation algorithms in ML. Perhaps we can consider to re-use them in Turing:

http://fluxml.ai/Flux.jl/stable/training/optimisers.html

@xukai92 @ChrisRackauckas

[2018-07-24 15:41] MikeInnes commented on #457
Yes, Flux.Tracker will continue to be supported. The more advanced ADs we are building will take some time to mature, so we won't be changing the default for a while yet.

The plan is that the current and future ADs will be API compatible, with the only real difference being that the current `data` and `param` functions become no-ops. Code using the current AD should be able to update or try out t

[2018-07-26 11:09] willtebbutt commented on #421
I completely agree with @yebai that we should try to make use of Flux's optimisers. This is perhaps a useful conversation to have at JuliaCon. It's not clear to me whether making this work would simply be a case of using a Turing.jl `VarInfo` to construct a Flux.jl `param`, and then adding a couple of methods to make stuff work with [the new optimiser interface](https://github.com/FluxML/Flux.jl/p

[2018-07-26 22:22] xukai92 commented on #421
The new interface seems to be compatible with what Turing.jl's internals can provide. Though until they adapt a generic AD I would assume their `grad` may have problem with `Distributions`?

[2018-07-27 09:53] MikeInnes commented on #421
We don't currently have any gradient definitions for Distributions, but they are easy to add and we'd be very happy to have them in Flux. Let me know if you have any trouble getting that set up; I'll also be around at JuliaCon and would be happy to meet up over this stuff.

[2018-07-27 14:46] willtebbutt commented on #421
This would be very helpful.

[2018-07-29 12:48] mlomeli1 commented on #427
Hi @emilemathieu , I stopped working on this issue but now resumed it. I cannot make the [https://github.com/TuringLang/Turing.jl/blob/project-bnp/test/rpm.jl/imm.jl](imm) example work yet. How can I access the folder Turing.jl/src/samplers/support/rpm/ in my machine so I can include("support/rpm/rpm.jl") in sampler.jl?

[2018-07-29 16:19] hessammehr opened #458 "JuliaCon hackathon?"
Sorry if this is not be the ideal place to discuss a hackathon (and I wonder if this has already been discussed elsewhere) but with JuliaCon only a week away I was wondering if we have enough contributors attending to propose a Turing/probabilistic programming hackathon.

Personally, my knowledge of MCMC is limited but I would love to learn more about the internals of Turing and start contributing

[2018-07-30 12:47] yebai commented on #458
@hessammehr It's a great idea. There are quite a few Turing team members attending JuliaCon, including @trappmartin @wesselb @willtebbutt.

@xukai92  didn't get a ticket yet but would like to attend if possible.

cc'ing @MikeInnes @ChrisRackauckas

[2018-07-30 12:48] yebai commented on #427
@trappmartin Maria is a collaborator on the Turing BNP project. Could you help Maria out with this issue if possible, please?

[2018-07-30 13:18] yebai commented on #457
@MikeInnes Many thanks.

At the moment, Turing makes use of [ForwardDiff.jl](https://github.com/JuliaDiff/ForwardDiff.jl) and [ReverseDIff](https://github.com/JuliaDiff/ForwardDiff.jl) for AD.  We are considering to switch to [Capstan](https://github.com/JuliaDiff/Capstan.jl) when it's more mature.

 It would be nice if `Flux`'s AD can stay API compatiable with `Capstan`. We might consider to swit

[2018-07-30 13:31] ChrisRackauckas commented on #458
I will likely be spending a lot of time with the DifferentialEquations.jl group during the Hackathon, but I will stop by and @Vaibhavdixit02 should as well.

[2018-07-30 13:37] mlomeli1 commented on #427
Hi @yebai and @trappmartin , thank you very much, that will be very useful :)

[2018-07-30 13:38] MikeInnes commented on #457
The main reason Flux has its own AD is in order to support modularity in parameters (discussed at length in https://github.com/denizyuret/Knet.jl/issues/144). Other than that, things like performance characteristics are broadly similar.

[2018-07-30 14:19] trappmartin commented on #427
Hi @mlomeli1, I just checked the example script of the iMM using the HEAD of the project-bnp branch. And it seems to work fine on a Mac (with minor adjustments of the Makefile).
Are you using this branch? Also, could you explain in more detail what are the problems you are having?

[2018-07-30 14:33] mlomeli1 commented on #427
Hi @trappmartin , thank you very much for having a look! What I did was run the following (from Emile's imm example):

using Turing
#using Turing: SBS_DP, SBS_PYP, T_NIGP, SBS_NIGP
using Turing: realpart, CHUNKSIZE
srand(100)
include("SBS_NIGP.jl")
data = [9172.0;9350.0;9483.0;9558.0;9775.0;10227.0;10406.0;16084.0;16170.0;18419.0;18552.0;18600.0;18927.0;19052.0;19070.0;19330.0;19343.0;19349.0;1944

[2018-07-30 15:02] mlomeli1 commented on #427
I am having trouble making Julia work in Atom :(. @trappmartin , I just invited you to a repo that has some code for the mixture of finite mixtures model that I talk about when I opened this issue. Atm am having very limited time but can tell you more about my project if you have time/are interested? I will have another go at running the imm example this evening from my home laptop where everythin

[2018-07-30 15:02] Vaibhavdixit02 commented on #458
That sounds like an awesome idea and I would love to take part in such a hackathon!

[2018-07-30 15:12] yebai commented on #457
We struggled with the same issue. Basically, Turing models can introduce new variables/parameters anywhere inside the `@model` block. This means before running the model function, we know nothing about

- the total number of parameters
- the dimension of each parameter
- the data type of each parameter

@xukai92 managed to hack the `ForwardDiff.jl` and `ReverseDiff.jl` in order to the support the

[2018-07-30 16:57] trappmartin commented on #427
Hi Maria,
I'm happy to hear more about the project. Let's talk while I'm in Cambridge.

Regarding the code you posted, it seems you are using your own implementation of the `SBS_NIGP` function. Is there a reason for doing that and for not using the `using Turing: SBS_NIGP` statement? Depending on the implementation of SBS_NIGP in `SBS_NIGP.jl` you might need further dependencies. But that's hard

[2018-07-31 07:24] mlomeli1 commented on #427
Hi @trappmartin, thank you, I wrote you an email yesterday. Is your email still mt752@cam.ac.uk? I was suggesting to talk today via skype, does that work? Thank  you.

[2018-08-01 09:44] mlomeli1 commented on #427
@trappmartin helped a lot yesterday. Am still a newbie so am having some trouble integrating my code for the MFM in Turing. Is there a jupiter notebook somewhere that uses SMC for the Dirichlet process mixture model using the Chinese restaurant representation? @xukai92 , @yebai, @trappmartin ? Cheers!

[2018-08-01 10:39] mlomeli1 commented on #427
Ok, I have created an example for the DPM:
@model DPmixture(y) = begin
  N = length(y)
  H = Normal(mu_0, sigma_0)

  x = tzeros(Float64, N); J = tzeros(Float64, N); z = tzeros(Int, N)
  k = 1

  for i in 1:N
    ps = vcat(J[1:k], α)
    ps = ps/sum(ps)
    z[i] ~ Categorical(ps)
    J[z[i]] =   J[z[i]]+1
    print(J)
    if z[i] > k
      k = k + 1
      x[k] ~ H
    end
    y[i] ~ Normal(x[z[i]]

[2018-08-07 17:58] #447 closed

[2018-08-09 17:09] DominiqueMakowski opened #460 "A higher level API for Bayesian statistical models"
The recently developed [rstanarm](https://github.com/stan-dev/rstanarm) initiated a take-off in the adoption rate of the Bayesian framework by "general" scientists. It implements a high level API to fit all traditional regression models in a Bayesian framework just by adding "stan_" in front of the model's name (`stan_glm()`, `stan_lmer()`...). Critically, it includes good default for the priors,

[2018-08-09 17:31] willtebbutt commented on #460
This is definitely something that could be supported -- there's probably already some useful work in [Turing-Examples](https://github.com/TuringLang/Turing-Examples) that could just be tidied up a bit. I agree that it would be helpful to have non-expert-friendly implementations of these things. One could imagine having a Turing `stdlib`, which contains a large collection of standard models for whi

[2018-08-09 19:07] yebai commented on #460
I agree this is a great idea. We haven't made any serious efforts towards this direction in the past. Perhaps we can try to organise some meetups/hackathons to help people implement new models and store them in Turing-Examples? Please feel free to make suggestions!

@DominiqueMakowski Some people are talking about a Turing hackathon on Saturday. Perhaps we can discuss more there?

[2018-08-09 19:14] DominiqueMakowski commented on #460
@yebai Unfortunately I'm not physically attending the conference, but I'll follow what happened there :)

[2018-08-09 20:07] lucasfreitas1988 opened #461 "Turing.plot is not work"
When testing the gdemo example, I can not plot the generated chains.

When I call Turing.plot the message - UndefVarError: plot not defined.

The Gadfly package looks good, what could be happening?
(I tested several plots and everything seems to work...)

Thanks!

[2018-08-09 20:52] yebai commented on #461
@lucasfreitas1988 Turing is using `Mamba` for plotting and MCMC diagnostics.  Try

[code]

[2018-08-10 07:19] yebai commented on #461
Perhaps try to run `Mamba.plot` from Julia terminal directly first. The following code runs correctly on my Julia terminal

[code]

[2018-08-10 08:05] xukai92 opened #462 "Support Julia 0.7/1.0"
There is a guide of what current packages should do to support the new package manager?

[2018-08-10 09:42] lucasfreitas1988 commented on #461
Running in the terminal seems like a good idea!

But, now, Julia shows me the message: Press ENTER to draw next plot - and the plot does not appear. Not even in the language folder.  I tried to change pdf to svg and nothing happened.

Sorry for the many questions!

Thanks!!

[2018-08-10 14:08] yebai commented on #462
Not sure yet, there is a talk on Pkg3 from JuliaCon:

https://m.youtube.com/watch?v=GBi__3nF-rM

[2018-08-10 18:30] yebai commented on #461
The plot will only be saved after you press the `ENTER` key.

[2018-08-10 19:48] lucasfreitas1988 commented on #461
This is my point. After pressing enter, I can not find the saved file.
Is weird.

[2018-08-10 19:49] xukai92 commented on #461
What's your Julia version and Turing.jl version?

[2018-08-10 20:18] xukai92 commented on #461
I just tried with Julia 0.6.4 and master branch of Turing.jl - it works for me. My code is

[code]

The `.pdf` file should appear in the same folder where you start your julia. Otherwise please use an absolute path for it. If you use the same code as me but still get problem, maybe try use the master branch of Turing.jl by `Pkg.checkout("Turing")`.

[2018-08-10 20:26] lucasfreitas1988 commented on #461
Pkg.checkout("Turing")  worked fine, the PDF was generated in the folder Julia!

Thank you very much!!!!

[2018-08-10 20:28] xukai92 commented on #461
Great! Feel free to post more issues and we're here to help :D

[2018-08-10 20:28] #461 closed

[2018-08-11 00:34] xukai92 commented on #462
So basically many things fail. Below are what I know so far
- ReverseDiff doesn't support 0.7 (https://github.com/JuliaDiff/ForwardDiff.jl/issues/345)
  - I can work around this by using Requires
- Mamba has a dependency which doesn't support 0.7
  - I will probably remove it anyway
- New coroutine interface - we didn't fix the warning in 0.6
 - I guess we should fix it first

[2018-08-11 00:35] xukai92 commented on #462
@yebai Can you take care of updating the coroutine thing?

[2018-08-11 00:47] xukai92 commented on #462
Oh I actually manage to hack it.

[2018-08-11 01:05] xukai92 commented on #462
After fixing things mentioned above, I meet a problem in out compiler. I guess there is some change which makes our implementation doesn't work any more. I pushed my branch (https://github.com/TuringLang/Turing.jl/tree/github.com/TuringLang/Turing.jl/issues/462) with temp-fixes described above which makes `using Turing` work. Now below fails and I haven't figured out why

[code]
with error
[code]

[2018-08-11 15:35] xukai92 commented on #462
Thanks @yebai and @trappmartin !

[2018-08-11 15:41] xukai92 commented on #462
I just pushed some commits to add Markdown to REQUIRE and resolve one syntax warning.

[2018-08-13 10:35] trappmartin commented on #462
I resolved some syntax errors in the test. The compiler tests currently fail on my machine, and other tests probably too.

[2018-08-13 12:16] emilemathieu commented on #427
@mlomeli1 How this eventually went through ?

[2018-08-13 15:05] trappmartin opened #463 "PMMH tests fail"
The `PMMH` tests currently fail on the master branch.

[code]

@emilemathieu do you have an idea why that is happening? Is this related to #369 ?

Thanks!
Martin

[2018-08-13 15:11] emilemathieu commented on #463
Hi !
I do remember running in weird issues once merged in master, whereas things were working fine on my branch...
Does increasing the number of iterations/particles solve the issue ?

Cheers,
Emile

[2018-08-13 15:58] trappmartin commented on #463
Unfortunately, not. In fact, the difference between the expected value and the computed estimate increasing differs if I increase the number of iterations. See below. Actually, when looking at the test at hand, it seems to me that the test is maybe missing a `sqrt`? Also, 10^3 iterations seems a lot for the problem to me?!?

See below:

[code]
results in:
[code]
, and
[code]
results in:
[code]
, a

[2018-08-13 21:31] gulgit commented on #462
Is Turing Julia 1.0 ready?

[2018-08-13 21:38] trappmartin commented on #462
We are working on it. Stay tuned.

[2018-08-14 00:46] #458 closed

[2018-08-14 02:01] xukai92 commented on #462
I fixed the compiler issue. Please check my last two commits: 64b956b95499ccd1d81e1631983daf6ab1156991 and 24ba6cabd996530f4f560664b6622d86e7c86f9a

[2018-08-14 02:07] xukai92 commented on #462
Until now we can do the following
[code]

But when I call `mf()` I still get an error:

[code]

[2018-08-14 02:13] xukai92 commented on #462
This may be related to my hack in 64b956b95499ccd1d81e1631983daf6ab1156991.

[2018-08-14 07:51] yebai commented on #462
For better readability and maintainability,  I think we should split the compiler into more small functions and add tests to them.

[2018-08-14 08:48] mlomeli1 commented on #427
Hi @emilemathieu , it went well, thank you! I managed to submit and I will be presenting a poster about it at ProbProg :) Are you going?

[2018-08-14 09:06] trappmartin commented on #427
Congrats!
Would you be willing to contribute a DPM example in form of a notebook?

As I’ll prepare some new tutorials for Turing, it would be great if I could ask you (via email)  about possible pitfalls you encountered while using Turing.

[2018-08-14 09:08] mlomeli1 commented on #427
Yes, definitely @trappmartin  ! I will be working on my poster and one of the experiments I want to do is compare the MFM (mixture of finite mixtures) vs the DPM. I will spend some time doing this in the next few weeks so will keep you posted and can create a notebook for both.

[2018-08-14 10:10] hessammehr commented on #462
@yebai, @xukai92 I just pushed a few quick fixes to this branch, one to get around the mutability error that @xukai92 is reporting. Feel free to cherry-pick or ignore altogether if not useful.

[2018-08-14 10:29] hessammehr commented on #462
@yebai No problem! I really hope so, and that we can do a clean refactor to make Turing more maintainable as well.

[2018-08-14 10:47] hessammehr commented on #462
Presently, I get the following confusing internal error message with @xukai92's code snippet.

[code]

[code]

Seems to me like an issue with the task.c shim.

[2018-08-14 11:34] yebai commented on #462
Did you recompile `task.c`?

[2018-08-14 12:34] trappmartin commented on #65
The code on branch https://github.com/TuringLang/Turing.jl/tree/multithreaded-PG now implements a multi-threaded version of the ParticleContainer and an adaptation of the code in https://github.com/emilemathieu/Turing.jl/blob/7c72a238b4d278720409d845880738d5d2c44ed3/src/samplers/ipmcmc.jl#L70 for Julia 0.6. A test for the distributed IPMCMC is currently failing, see below.

As far as I understand

[2018-08-14 12:40] emilemathieu commented on #65
Great work !
I'm not sure to completely understand what you mean by `inner callback functions, *_model`.
I did not encounter such an issue.  The only "tricky" part I had was that within `@parallel`, objects defined outside the scope of the loop couldn't be updated. Thus I had to explicitly return the objects needed to be updated within the loop.

[2018-08-14 13:04] trappmartin commented on #65
If I'm running a simple example to test the parallel implementation, e.g.

[code]
, I get an error that `###gdemo_model#700` is not defined on the second worker. Am I'm doing something wrong here?

Thanks!

[2018-08-14 13:42] yebai commented on #65
@trappmartin You need to use `@everywhere` in all places, i.e.

[code]

Supporting paralliesm using processes is a pain since it involves data transfer. It's probably better to stick with threads for now until we have a cleaner and more organised code base.

[2018-08-14 15:31] trappmartin commented on #65
Right, thanks for the tip!

I wanted to have both supported so that one can use multi-threading locally and also distributed computation if necessary. Unfortuanitelly, I'm currently having a broken test for the distributed code and see a similar problem as in #463 even though the non-distributed code works fine. Working on it...

[2018-08-14 18:49] xukai92 commented on #462
I also get that error but still manage to initialise `vi` by calling `mf()`.

Also, after making `Chain` mutable, we are in the stage where we are kind of blocked by `Mamba.Chain`. As I mentioned in the very beginning of this issue, I disabled `Mamba.Chain`. I simply did this by commenting out `Mamba.Chain` and defining a dummy `AbstractChain` type (see https://github.com/TuringLang/Turing.jl/blob

[2018-08-14 19:32] yebai opened #466 "Julia Task: replace `consume`/`produce` with `Channel`"
The use of `consume`/`produce` on tasks have been depreciated. The new mechanism is to use `Channel` to communite between tasks. See e.g.

https://docs.julialang.org/en/stable/base/parallel/

Ref. https://github.com/TuringLang/Turing.jl/issues/462

[2018-08-14 21:27] yebai commented on #466
I made some progresses on this. At the moment,  function `task_clone` in  `task.c` is working fine. There is a remaning issue related to `Channel` which still needs to be investigated.

[2018-08-16 19:43] yebai commented on #462
Blocking issues for Julia 1.0

- AD: change to Flux.Tracked #457
- Mamba.Chain #413
- Task communication #466

[2018-08-18 11:54] alstat commented on #462
Waiting for this, thanks for the hard work.

[2018-08-18 17:05] yebai commented on #466
@trappmartin @xukai92 @hessammehr This should be working fine now.

[2018-08-18 19:58] trappmartin commented on #466
This is amazing! Thanks a lot @yebai!

[2018-08-18 22:44] xukai92 opened #470 "Update syntax for Requires"
See https://github.com/MikeInnes/Requires.jl/blob/master/README.md#note-changes-in-v07

[2018-08-20 12:16] yebai commented on #470
Thanks @trappmartin!

[2018-08-20 12:16] #470 closed

[2018-08-22 12:39] xukai92 opened #471 "Remove customised `dprintln` logging function"

[2018-08-22 12:41] willtebbutt commented on #471
So that it doesn't get lost, I suggested in #469 that we should use [Memento.jl](https://github.com/invenia/Memento.jl) for our logging, as it is substantially more feature-ful than the stdlib logging, and Invenia are committed to supporting it.

[2018-08-22 14:07] willtebbutt commented on #471
Not sure. @omus @iamed2 is there a canonical reference for @xukai92 's question above?

[2018-08-24 09:31] awellis commented on #426
Hi Emile,

sorry to keep bothering you about this, but I'm having problems with modifying the SMC code so that the weights of all particles are returned for each iteration. Currently, the `value2` attribute returned after sampling has a weight for each trajectory, i.e. the log evidence for each particle summed over all iterations. Is that correct? I need at least the sum of the log weights for eac

[2018-08-24 11:42] emilemathieu commented on #426
Hi Andrew,

Something seems weird indeed.

In `SMC` things are happening at [`consume(particles)`](https://github.com/TuringLang/Turing.jl/blob/master/src/samplers/smc.jl#L79).

Then at each iterations the weights are computed by [`_, z2      = weights(pc)`](https://github.com/TuringLang/Turing.jl/blob/master/src/core/container.jl#L106). So you want to replace that line by `Ws, z2      = weights(p

[2018-08-24 11:59] awellis commented on #426
ok, thanks, I'll try it tonight and let you know.

[2018-08-24 18:39] iamed2 commented on #471
There isn't yet, but I should write one. The only thing that stdlib logging offers is *zero*-overhead *debug* logging. In Memento if you log something but filter it out, there is a small cost for checking the levels. In stdlib logging, you pay a similar cost except for debug logs, which are compiled out by default.

[2018-08-24 20:26] xukai92 commented on #471
We decided to use the stdlib for now - mostly because of the simplicity + we don't need one more dependency for Turing.jl.

We can always change it to Memento.jl later if needed.

[2018-08-24 21:16] xukai92 commented on #471
Commits from f2dba79 to 3d1ea43 resolve this issue. We shall close it after the whole PR is merged.

[2018-08-24 22:39] trappmartin opened #474 "Clean up IO interface"

[2018-08-27 13:41] awellis commented on #426
ok, so far, adding `Ws, z2 = weights(pc)` works, and I can print the vector of weights to the console at each iteration, but saving the weights in the ParticleContainer is beyond me at the moments. I'd really appreciate any help.

[2018-08-27 14:33] emilemathieu commented on #426
You could update [ParticleContainer](https://github.com/TuringLang/Turing.jl/blob/master/src/core/container.jl#L10), [Consume](https://github.com/TuringLang/Turing.jl/blob/master/src/core/container.jl#L77) and [sample](https://github.com/TuringLang/Turing.jl/blob/master/src/samplers/smc.jl#L73)  with the code below.

In _**src/core/container.jl**_
[code]

In _**src/samplers/smc.j**_
[code]

Then r

[2018-08-27 15:10] awellis commented on #426
Thank you! I guess these are the unnormalised weights, right? The output (logWst) is a vector of vectors, but the length is equal to n_iterations + 1, with the final weights vector consisting of zeros.

[2018-08-27 15:14] emilemathieu commented on #426
They are unnormalised indeed.
Update `consume` with the version below, you shouldn't have the extra vector or zeros.

[code]

[2018-08-27 20:05] awellis commented on #426
Thank you very much!

[2018-08-28 17:23] yebai opened #475 "Compiler: move `model_f(;data=Dict())` from compiler to utilities"
The current compiler generates a sugar syntax that allows passing all data to a model using a dictionary. This feature is similar with the interface used by the Stan.jl. Implementing this feature at a compiler level is probably not necessary. Perhaps we should move this to utility functions, e.g.

[code]

This requires implementing a macro named `@data` which will act similarly as `(x...)`.

[2018-08-28 17:28] trappmartin opened #476 "Change broadcasting for ~ macro"
Currently the `~` macro automatically uses broadcasting if the left-hand side is a vector and the right-hand side a univariate distribution. It would be more convenient for testing and for the user to change it to an explicit syntax, i.e.`.~`, which would also better match the standard Julia syntax.

@yebai What happens in the case of multivariate distributions?

[2018-08-28 17:38] yebai commented on #476
I think `~` will check whether the dimensionality of left-side is a matrix or a vector of vectors. If so, it will treat left-side as a vector of draws from multivariate distributions.

[2018-08-29 17:31] DominiqueMakowski opened #477 "Turing faster than stan?"
Hey guys, sorry for this very general and naive question, but I've seen that there are some attempts at making Turing more efficient; do you hope / is it possible that Turing provides the faster sampler someday? Anyway, great work :)

[2018-08-29 18:31] DominiqueMakowski commented on #477
Nothing to add, thanks a lot 👍

[2018-08-29 18:31] #477 closed

[2018-08-30 07:34] DominiqueMakowski opened #478 "Implementing a matlab / JAGS algorithm in turing?"
I would be interested in implementing [this](https://github.com/metacoglab/HMeta-d/blob/master/fit_meta_d_mcmc.m) algorithm in Julia.

However, my expertise with matlab, JAGS, Turing and even Julia remains quite limited. Therefore, I would like to have your opinion and advice on the feasibility and difficulty of such task, *i.e.,* translating this algorithm from Matlab/JAGS to Julia. Thanks!

[2018-08-30 10:37] awellis commented on #478
The actual Jags model is in the file "Bayes_metad_rc.txt". This is the model that you want to implement in Turing, right?

[2018-08-30 11:01] DominiqueMakowski commented on #478
@awellis Yes, as well as the wrapper around I believe...

[2018-08-30 11:30] awellis commented on #478
@DominiqueMakowski
I have a hunch that this could be pretty straightforward to implement as an ordinal (profit) regression model using [brms](https://github.com/paul-buerkner/brms/tree/master/R), although I haven't really thought about it much.

[2018-08-30 11:37] DominiqueMakowski commented on #478
@awellis you mean for R? but what about Julia? I am wondering if we could bypass the need for applied modelling tools (provided in R by brms or rstanarm) or if it's better to wait for such tools

[2018-08-30 11:42] awellis commented on #478
@DominiqueMakowski
Sure you can implement it in Turing/Julia, and it would be much nicer than doing the same in Stan/R or Jags, or whatever. I think Turing already is much nicer to use for hand-coded models.

On the other hand, the ordinal regression model isn't straightforward to code, and making it multilevel makes it even more tedious. This work has already been done in brms. My idea (this was

[2018-08-30 11:50] DominiqueMakowski commented on #478
@awellis haha that's possible, I haven't try deciphering the code in details (yet), I was looking for some general opinion to start :)

[2018-08-30 12:04] DominiqueMakowski commented on #478
alright, so the first step for me is to find out how to write a probit (would logistic work?) model in Turing 😄

[2018-08-30 15:19] yebai opened #479 "Refactoring: better organisation of tests"
I think we need better organisation tests. It's a bit difficult to run tests from individual folders at the moment. Perhaps we can have a `runtests` file in each test sub-folder, e.g.

[code]

This allows us to run tests for specific categories, i.e. we can run

[code]

@xukai92 @wesselb @trappmartin

[2018-08-30 23:40] xukai92 commented on #479
Good idea. Let's make this change in Friday's hackathon

[2018-08-31 11:02] trappmartin commented on #479
Excluding only a group of tests is now more convenient. To skip a test in a test group folder one has to add a `skip_tests` file in the folder and list all files that should be skipped. See `test/compiler.jl/skip_tests` for an example.

[2018-08-31 15:56] yebai opened #480 "`test/vectorisation.jl/vec_assume_mv.jl` test fails"

[2018-08-31 16:23] yebai opened #481 "`test/io.jl/chain_utility.jl` test fails."

[2018-08-31 16:49] hessammehr commented on #480
Seems to be an AD issue as it work fine with `PG`.  Any workarounds in the mean time?

[2018-08-31 17:18] trappmartin commented on #478
@DominiqueMakowski did you manage to implement the model you were interested in?

[2018-08-31 17:19] trappmartin commented on #471
It's all set for the #469 to be merged soon. Therefore, closing this issue.

[2018-08-31 17:19] #471 closed

[2018-08-31 17:31] DominiqueMakowski commented on #478
Not at all, but I'll try in the future. I'll close this issue and will reopen it if every needed, thanks

[2018-08-31 17:31] #478 closed

[2018-08-31 18:19] trappmartin opened #482 "Add additional keyword arguments to the sample function"
Currently, the sample function does not provide additional keyword arguments such as the number if burnin (warmup) iterations, thinning or random seed. I think it would be good to allow the user to specify these parameters either using additional keyword arguments of the sample function or by instantiating the sampler with these parameters. As these are all rather generic parameters, I would favou

[2018-09-01 11:54] yebai opened #483 "Compiler: remove `return vi::VarInfo`."
The current compiler replaces all `return` statements with `return vi::VarInfo` as a mechanism for allowing a user to specify which parameter needs to be stored in `Chain`.

[code]

This design is a bit obsolete now since we can nicely store all parameters (using the proposed indexing scheme #484).

[2018-09-01 12:19] yebai opened #484 "Refactoring VarName: new indexing scheme"
At the moment, Turing internally stores and index parameters using two different naming schemes

[code]

This causes a lot of issues, e.g.

- `Chain` can't handle dynamic dimentionality #370 #386
- `VarInfo` ==> `Chain` is not reversible  #269

These issues can be resolved together with a consistent naming scheme used by all data structures such as `Chain`, `VarInfo` and inference algorithms. One

[2018-09-01 12:30] yebai commented on #484
For sanity checks, we might want to store the domain constraints of each parameter and verify them during replaying.

[2018-09-01 12:42] yebai commented on #483
@xukai92 are you aware of any dependencies on this feature?

[2018-09-01 13:15] xukai92 commented on #483
Internally we sometimes do `vi = model()`. But this could be changed by initialising `vi` manually and always assume the model will amend it in-place, i.e. `vi = VarInfo(); model(vi)`.

PS: maybe we should call it `model!(vi)` then?

[2018-09-01 13:45] yebai commented on #483
sounds good!

[2018-09-02 16:04] emilemathieu commented on #426
Hey ! Did you eventually succeeded @awellis ?

[2018-09-03 11:34] xukai92 commented on #448
Sorry about our bad documentation. There are actually ways to pass it. Either
- Constructing samplers with additional arguments by `HMCDA(5000, 2000, ...)` (the second integer is considered as warmup size), or
- Passing `sa::Stan.Adapt` to `sample` by `sample(...; adapt_conf=sa)`

[2018-09-03 11:51] trappmartin commented on #448
Thanks for the clarification.

But I guess this will only work for Hamiltonian subtyped methods. Is this correct?

If so we could maybe find a common interface for this purpose. If not we should maybe think about a more convenient interface or kw argument?

[2018-09-03 13:40] Vaibhavdixit02 commented on #448
Thanks for the clarification @xukai92. I think having kwarg for this would be a nice feature to have.

[2018-09-03 13:50] trappmartin commented on #482
See issue #448.

[2018-09-03 16:38] mohamed82008 opened #486 "HMC is type unstable"
https://github.com/TuringLang/Turing.jl/blob/e6782521706f8343ea7e364cb87537461b6cc13b/src/samplers/hmc.jl#L31

Is there any reasonable default choice for the `space` set element? And can it change during the life of the object? If it can't change, then only the second constructor is problematic since the type of `space` is not known.

[2018-09-03 16:44] mohamed82008 commented on #486
A search through the package shows 0 instances of modifying the `space` after object creation, it is a read-only. I assume this means we can just use an empty set `Set{Nothing}` as the default.

[2018-09-03 16:46] mohamed82008 commented on #486
This is a common problem for other algorithms as well causing a performance hit.

[2018-09-03 22:16] willtebbutt opened #488 "Style"
Please feel free to shut me down if this isn't a discussion we want to have right now, but there are a number of inconsistent / unusual conventions that we're following throughout the codebase. Given that we're about to embark on rather a lot of work, and there are a number of new people coming on board, it might be an opportune time to decide on some rules that we enforce (in a meticulous manner)

[2018-09-03 23:05] willtebbutt commented on #476
@trappmartin I agree with your point regarding Julia-ness, but we're quite closely tied in to the `Distributions.jl` conventions, and they make very specific assumptions regarding what multiple samples from a distribution look like depending upon whether it's a `UnivariateDistribution`, `MultivarateDistribution`, or a `MatrixDistribution` (see the `Distributions.jl` documentation for more info). C

[2018-09-04 00:29] mohamed82008 commented on #488
Recent style guidelines of JuMP: http://www.juliaopt.org/JuMP.jl/latest/style.html. With the exception of their ! convention, the rest seem reasonable.

[2018-09-04 00:32] willtebbutt commented on #488
What's there looks good. @omus is Invenia's style guide public?

[2018-09-04 00:35] willtebbutt commented on #488
The basic [Julia style guide ](https://docs.julialang.org/en/v1.0.0/manual/style-guide/) is something we should be following anyway, but it's not as specific as we require to be honest.

[2018-09-04 02:36] mohamed82008 opened #489 "Should not close over non-constant globals"
I observed a pattern around the code base which is causing type instability.
In a lot of places, we are using non-constant globals and closing over them in functions e.g. https://github.com/TuringLang/Turing.jl/blob/e6782521706f8343ea7e364cb87537461b6cc13b/src/samplers/hmc.jl#L95 and https://github.com/TuringLang/Turing.jl/blob/e6782521706f8343ea7e364cb87537461b6cc13b/src/samplers/hmc.jl#L131 to n

[2018-09-04 07:30] yebai opened #490 "Refactoring: move `trace/tarray.jl` and `taskcopy.jl` to `TuringLang/Libtask`"

[2018-09-04 07:41] yebai commented on #490
For code organisation purpose, I think we can

- turn `TuringLang:Libtask` into a Julia package
- move move `trace/tarray.jl` and `taskcopy.jl` to `TuringLang/Libtask`
- clean up code in `trace/tarray.jl` and `taskcopy.jl`
- move related tests from Turing to Libtask
- make Turing depend on Libtask (e.g. install Libtask via `deps/build.jl`)

This allows `Libtask` to be maintained as a separate pack

[2018-09-04 07:56] awellis commented on #426
@emilemathieu
Hi, I did get it to work, thanks. I am currently trying to get it work in Julia 1.0

[2018-09-04 09:06] xukai92 opened #491 "Better adaptation configuration interface"
Related:
https://github.com/TuringLang/Turing.jl/issues/448
https://github.com/TuringLang/Turing.jl/pull/485#issuecomment-418275625

[2018-09-04 09:36] #479 closed

[2018-09-04 09:38] yebai commented on #491
Another related issue: #447

[2018-09-04 09:41] yebai commented on #491
@mohamed82008 can you give this a try?

[2018-09-04 09:51] trappmartin commented on #491
This might also be related #482

[2018-09-04 09:59] yebai commented on #491
Perhaps @xukai92 can post a set of design goals for this issue.

[2018-09-04 11:39] mohamed82008 commented on #491
The current signature of `sample` is:
[code]
from https://github.com/TuringLang/Turing.jl/blob/7cb84a5a12dd604fae6b4b0e983b499d4dabb5ac/src/samplers/hmc.jl#L87.

The parameter `adapt_conf` is passed as the second argument to `Sampler` so that's the warmup sample size according to https://github.com/TuringLang/Turing.jl/issues/448#issuecomment-418088533. This is already available as a kwarg but the

[2018-09-04 13:08] yebai commented on #491
Hi @mohamed82008, thanks for looking into this. The main goals of this issue are

- Implement our own `Adapt` and `Hmc` related types. Turing currently re-uses the ones from `Stan.jl`, which can be found [here](https://github.com/goedman/Stan.jl/blob/master/src/types/sampletype.jl)

- Cleanup the `WarnUpManager` type. Perhaps merge with `Adapt`

- Cleanup the `sample` function so that they have co

[2018-09-04 13:45] trappmartin commented on #476
Thanks, @willtebbutt! The convention of the `Distributions` package is quite unfortunate. I understand that with this convention, we cannot generically broadcast.

Let's keep this issue open and see if we can find a more transparent solution to this. I feel that the implicit broadcasting solution we currently have is sub-optimal.

[2018-09-04 13:56] willtebbutt commented on #476
Agreed regarding the convention. FWIW, I had the same problem in [Stheno.jl](https://github.com/willtebbutt/Stheno.jl) with regards to data sets. The inputs to a GP (or any other model for that matter) might be a vector of scalars, a matrix of for which each row or column should be interpreted as an observation, etc.

My solution is to require that _all_ data sets subtype `AbstractVector` and defi

[2018-09-04 13:57] trappmartin commented on #488
I think this discussion is very important. It would probably be a good idea to develop a policy and include it in the repo so that contributors can easily follow the policy.

[2018-09-04 14:41] trappmartin commented on #481
This test runs through even after multiple executions. @yebai could you elaborate what the problem was?

However, the `save_resume_chain.jl` test breaks.
[code]

@xukai92 This seems related to the last PR merge. Do you have any insights on this?

[2018-09-04 14:43] yebai commented on #481
The issue was from syntax errors from `describe` which I think is already fixed.

[2018-09-04 15:15] awellis commented on #426
@emilemathieu got it working in Julia 1.0 as well. I [forked](https://github.com/awellis/Turing.jl) the Turing.jl repository.

I guess there must be a more elegant way of saving the weights, though, without hacking the `sample` method.

[2018-09-04 15:28] trappmartin commented on #426
@awellis would it be sufficient to store statistics on the weights?

We could try to provide these in the resulting Chain object for particle-based methods by default. Storing all particle weights for each iteration, however, sounds rather costly.

[2018-09-04 15:29] emilemathieu commented on #426
@trappmartin could be optional and set to False by default ?

[2018-09-04 15:35] trappmartin commented on #426
If it's not necessary, I would prefer to only store statistics on the particle weights. Are there cases, apart from debugging, where it would be necessary to return the particles and their weights for each iteration?

[2018-09-04 15:36] awellis commented on #426
@trappmartin @emilemathieu I think the history of the log evidence ( i.e. the sum of the log weights for each iteration) would actually be sufficient.

[2018-09-04 15:36] emilemathieu commented on #426
@awellis's case ?
it would be a huge tool for debugging indeed !

[2018-09-04 15:36] awellis commented on #426
I am using the weights so that I can visualize the SMC performance

[2018-09-04 15:45] trappmartin commented on #426
I can see the benefit but I'm still not convinced as storing weights for a few thousand particles over a reasonable number of iterations would easily generate a large memory overhead. Even with 16bit precision. And if I understand it right, visualizing statistics on the weights would actually be already quite informative. @awellis is this correct?

I'll make a new issue for this as it seems to be

[2018-09-04 15:48] awellis commented on #426
@emilemathieu @trappmartin  visualizing statistics on the weights would be fine for me.

[2018-09-04 15:55] trappmartin opened #493 "Storing statistics on the particle weights"
As discussed in #426, it would be good if Turing would be able to store statistics on the particle weights for all particle-filtering based methods. These statistics could be stored in the `ParticleContainer` and exposed to the user through new fields in the `Chain` type.

[2018-09-04 19:26] cpfiffer opened #494 "Documentation Overhaul"
Make the documentation more thorough, cohesive, and helpful. Here are a handful of the big steps I see

- [x] Gather and update/polish existing tutorials so they are easily searched for and clearly labeled
- [ ] Add additional tutorials to help showcase a variety of things possible with Turing (see [Edward](http://edwardlib.org/tutorials/))
- [x] Move over to a [Documenter.jl](https://github.com/J

[2018-09-04 19:38] willtebbutt commented on #494
Looks good to me.

Documenter makes it really straightforward to achieve. This would also be a really good opportunity to assess where our docstrings could do with some more work. It would be very helpful if we could establish some ground rules for docstring formatting (related to #488), and make sure that they are followed.

[2018-09-04 19:46] cpfiffer commented on #494
I agree completely. I haven't yet done a survey of all the docstrings we have in place yet, but I imagine once I have them all more or less assembled some of them will be of varying degrees of usefulness. I'll throw that on the list too.

[2018-09-04 22:31] #457 closed

[2018-09-05 11:12] willtebbutt opened #495 "AD Implementations"
I was skimming through the AD implementations and am a bit confused by the ForwardDiff implementation, so could use some help understanding it.

If I was to implement a function to compute the gradient of the log joint of a model using ForwardDiff in the current version of Turing, the first thing I would think to do would be along the lines of the following:
[code]
A minimal working example might

[2018-09-05 11:36] yebai commented on #495
Hi @willtebbutt, the code you're referring to is a bit obsolete now. I think back in time we weren't super decided on how to handle dynamic dimentionality using `ForwardDiff`, therefore Kai implemented a version of `gradient` using the low level of `ForwardDiff` APIs.  This allows HMC to handle dynamic dimensionality, e.g. dimensionality of `ForwardDiff.Dual` could be manipulated during AD.

Later

[2018-09-05 11:40] yebai commented on #495
Ps. the following line of code pre-allocate memory required by AD. This is slow and ideally, we should share this config across multiple `gradient` calls. However, we need to monitor dimensionality of `theta`. If it changes, we need to create a new configuration.

[code]

[2018-09-05 13:10] willtebbutt commented on #495
Excellent, I'll make a PR this evening.

FWIW, some preliminary benchmarking I've done makes it look like the thing that takes the time isn't actually constructing `GradientConfig`, it's constructing the `Chunk` that is passed into it.

[2018-09-05 16:35] xukai92 commented on #495
Yes you are right. It's the construction of partials in Chunk which is slow.

[2018-09-05 18:41] willtebbutt commented on #475
Specifically on the manipulation of kwargs, look at [MacroTools.jl](https://github.com/MikeInnes/MacroTools.jl). Specifically the stuff towards the bottom on function-expression de-structuring. I've found this package indispensable when doing any metaprogramming.

[2018-09-05 19:08] trappmartin commented on #475
Thanks, @willtebbutt I'll have a look at it. I'm sure there is a better way then how I do it currently.

[2018-09-05 20:12] yebai opened #498 "HMC for models with dynamic dimentionality"
Excerpt from https://github.com/TuringLang/Turing.jl/issues/495

Later, we made a design decision that during an HMC step, the dimensionality of parameters assigned to HMC shouldn't change. However, the dimensionality of parameters assigned to HMC can still change for different HMC steps. For example, if a new parameter is created during an HMC iteration and is assigned to HMC, then before the cur

[2018-09-05 23:31] willtebbutt commented on #488
Here's Invenia's style guide, which they have kindly allowed me to provide. It's fairly exhaustive, and I think it's the level of detail that we aught to be going for.
[style_guide.txt](https://github.com/TuringLang/Turing.jl/files/2354904/style_guide.txt)

(It's a markdown file, not a text file, so bear that in mind when trying to view it)

[2018-09-06 00:50] xukai92 commented on #498
I think the current code doesn't do what you described. This is because during one refactoring, we decide to assume the model is static during the whole HMC and, and we removed the code to **check whether a `VarName` is in `VarInfo`; if not, sample one** in `assume` (https://github.com/TuringLang/Turing.jl/blob/master/src/samplers/hmc.jl#L178-L188), but always fetch one from `VarInfo`.

I could cr

[2018-09-06 02:59] mohamed82008 commented on #498
Could be relevant: https://github.com/tpapp/DynamicHMC.jl

[2018-09-06 05:05] mohamed82008 commented on #495
Another reason why this is slow is the type instability, for which there are 2 reasons, the first is described in #489. The second is that even if the type of `chunksize` is known, that's not enough, its value must also be known.

I think this is a great use case for function barriers and value types. So one can add `::Type{Val{chunksize}}=Val{CHUNKSIZE}` to the arguments to make `chunksize` known

[2018-09-06 10:18] willtebbutt commented on #495
While I agree that this will remove a type instability, the issue of having to dynamically dispatch to the correct version of `gradient_forward` will remain, along with the corresponding overhead. I'm not convinced that it's even possible in principle to get rid of this while `CHUNKSIZE` is mutable. Do you have any thoughts on this?

[2018-09-06 13:11] mohamed82008 opened #500 "logsum -> logsumexp"
https://github.com/TuringLang/Turing.jl/blob/70640d35805bb46a54c04d9ff25e5a90f22eee2b/src/core/util.jl#L23

I believe this is the famous log-sum-exp function.

[2018-09-06 13:13] mohamed82008 commented on #500
Can also use a `mapreduce` there to avoid allocating `ys`.

[2018-09-06 13:34] willtebbutt commented on #500
Huh. We should probably be using a standard implementation for this stuff eg. that in [StatsFuns.jl](https://github.com/JuliaStats/StatsFuns.jl)
This probably also applies to `logit` and `invlogit` / `logistic`.

[2018-09-06 15:15] trappmartin commented on #488
@willtebbutt this looks like a very reasonable style guide. To which extent are we allowed to reuse parts of the style guide?

[2018-09-06 16:19] trappmartin opened #501 "Clean up the compiler code"
The current compiler code is a bit messy and hard to unit test. I'll try to separate function out of the code to allow for better unit testing and add more tests.

[2018-09-06 16:48] #462 closed

[2018-09-06 16:52] yebai commented on #501
Some known  incomplete/inconsistent implementations of the compiler

- Return keyword https://github.com/TuringLang/Turing.jl/issues/483 (related issues #83 #81)
- `sample(gdemo([0, 1]), alg)` is implemented instead of `sample(gdemo(y=[0, 1]), alg)`

[2018-09-06 17:04] yebai commented on #501
Ps. some further notes

[code]

I'm not sure whether interface 2 has been implemented (probably not).

[2018-09-06 17:29] trappmartin commented on #501
I agree, for #475 to work with interface 1, which is the one we want, we need to get access to the function definition or at least the arguments list of the function to pass the arguments in the correct order. I'll check how to do that.

[2018-09-06 18:03] yebai commented on #501
Perhaps we can do:
[code]

[2018-09-07 09:48] willtebbutt commented on #495
Closed by #499

[2018-09-07 09:48] #495 closed

[2018-09-07 11:06] trappmartin commented on #501
The downside with this approach is that we would overwrite the values of all variables in the global scope that occur as a key in the dict. This might lead to unexpected behaviour.

I'll invest a bit of time to see if we can get the function signature and argument names somehow instead.

[2018-09-07 11:14] yebai commented on #501
How about
[code]

This removes the complexity of extracting function argument names..

[2018-09-07 11:20] trappmartin commented on #501
Sounds good to me.

The macro would do something like this:
[code]
What do you think?

[2018-09-07 11:33] yebai commented on #501
Looks good except that we have many models written without default values, something like:
[code]

[2018-09-07 11:34] trappmartin commented on #501
This should still be fine, I'll check.

[2018-09-07 12:20] trappmartin opened #504 "observe and assume"
I think the following points regarding the current code might be problematic and changing them could improve our codebase.

1. Assume and observe dispatch on the sampler type (which is fine) but also on `Nothing`. This forces us to pass `nothing` to the functions if no sampler is defined and have a `Union{Nothing, Sampler}` for the model functions. I think we can circumvent this by having differen

[2018-09-07 15:36] hessammehr opened #507 "Assume in loops and array type"
The following code seems to work fine:

[code]

However, changing `Real` to `Float64` seems to make it break.

[code]

`ERROR: MethodError: no method matching Float64(::Flux.Tracker.TrackedReal{Float64})`

There seems to be an easy fix:
[code]

A few thoughts/questions:
- Is there a reason we use an abstract type `Real` instead of, e.g., `Float64`?
- Are we interested in adding the above shim?
- W

[2018-09-07 15:41] hessammehr opened #508 "Precompilation broken/disabled"
I have noticed that Julia does not cache the .ji file for Turing (or MCMCChain, for that matter), so it needs to recompile every time. Any insight into what might be causing this?

[2018-09-07 15:55] willtebbutt commented on #494
[style_guide.txt](https://github.com/TuringLang/Turing.jl/files/2361690/style_guide.txt)

@cpfiffer here's the style guide that @yebai @trappmartin and went through today and agreed on. Would it please be possible to work it into the documentation somehow?

[2018-09-07 16:03] willtebbutt commented on #488
This issue is superseded by #494.

[2018-09-07 16:03] #488 closed

[2018-09-07 16:04] yebai commented on #507
This is required to make AD work. `Flux.Tracked` is a subtype of `Real`.

I'm not sure cause it might cause incorrect gradients.

[2018-09-07 16:04] yebai commented on #507
@xukai92 might be able to elaborate on this.

[2018-09-07 16:06] yebai opened #509 "Refactoring: remove `cleandual!` and `realpart!`"
Shall we remove the function `cleandual!` since our AD is using standard `ForwardDiff` and `Flux` interface now? We can always do

[code]
after each AD iteration to ensure `vi` has the right types.

[2018-09-07 16:26] yebai opened #510 "Refactoring: remove `VarInfo.pred`?"
`VarInfo.pred` is supposed to store which random variables need to be returned. Since we are storing all random variables now, the `Varinfo.pred` is no longer necessary. The following lines can be safely removed without affecting other parts of Turing:

- https://github.com/TuringLang/Turing.jl/blob/3180da998b47d31555bb579db5d49e9cce04027d/src/core/VarReplay.jl#L76

- https://github.com/TuringLang

[2018-09-07 17:03] cpfiffer commented on #494
Yep, I'll set up a newer "Contributing" section with the style guide in there.

[2018-09-07 17:59] willtebbutt commented on #509
I agree we should remove it, but this actually highlights a bug that I hadn't realised would exist in the AD code. We're not ensuring that the `logp` field of `VarInfo` isn't a `Dual` or `Tracked`. I'll tack that onto my soon-to-be-opened AD-related PR, and remove `cleandual!`.

[2018-09-07 18:08] yebai opened #511 "Flux based AD is slow"
[code]

ForwardDiff AD
[code]

Flux AD
[code]

[2018-09-07 18:10] yebai commented on #511
Ps. these runtimes are using the master branch.

@willtebbutt @xukai92

[2018-09-07 18:15] willtebbutt commented on #511
In this particular case, this is likely due to the way Flux's AD currently interacts with `cholesky` and such like. It's reasonable to expect that this poor performance won't be universal. To get an idea of how general this problem is, we really need a large suite of benchmarks that range from large models through the models like the one you've constructed there that only use a single component di

[2018-09-07 18:55] willtebbutt commented on #509
We might also be able to get rid of `realpart` if we're not contaminating things with `Dual`s anymore. Will look into it.

[2018-09-07 19:57] yebai commented on #511
Thanks @willtebbutt. Here are a few more test/benchmarking examples for AD. These examples are relatively simple, but hopefully will be useful to catch issues of our current AD and HMC implementations.

[code]

[2018-09-07 20:02] #486 closed

[2018-09-07 22:07] yebai commented on #434
`redirect_stderr` has been fixed on the master branch.

[2018-09-07 22:07] #434 closed

[2018-09-07 22:08] #283 closed

[2018-09-07 22:08] #110 closed

[2018-09-07 22:14] #285 closed

[2018-09-07 22:15] #234 closed

[2018-09-07 22:15] yebai commented on #234
Closed by #485

[2018-09-07 22:17] yebai commented on #252
Should be fixed now.

[2018-09-07 22:17] #252 closed

[2018-09-07 22:19] yebai commented on #323
Closed in favour of https://github.com/TuringLang/Turing.jl/issues/483

[2018-09-07 22:19] #323 closed

[2018-09-07 22:21] #148 closed, assigned to nobody

[2018-09-07 22:28] yebai commented on #413
Closed by new `MCMCChain` package.

[2018-09-07 22:28] #413 closed

[2018-09-07 22:29] yebai commented on #417
Closed by #419

[2018-09-07 22:29] #417 closed

[2018-09-07 22:30] #399 closed

[2018-09-08 02:41] mohamed82008 commented on #511
Last I checked, Flux AD was not type stable. Not sure if that's a huge performance issue or not since Mike Innes should be aware of that but I found that the only 2 AD options that give type stable gradient functions are ReverseDiff and Zygote. Making a benchmark suite for all AD options for HMC seems like an interesting (research?) idea. My understanding is that Zygote, Capstan or a hybrid will r

[2018-09-08 10:39] #480 closed

[2018-09-09 17:51] cpfiffer commented on #494
Hey everyone, the new documentation formatting has been completed and set up to work with Travis, so that the docs will be rebuilt with every push to the master. You can see an example of the new docs [here](http://cameron.pfiffer.org/Turing.jl/latest/). I'll be following up sometime today or tomorrow with a pull request to merge this over to current branch. It also has our first official tutorial

[2018-09-09 18:42] yebai commented on #511
@MikeInnes is this a known issue?

[2018-09-09 18:42] yebai commented on #508
@mohamed82008 any idea how to fix this?

[2018-09-09 19:26] mohamed82008 commented on #508
For a package to be precompiled, all its deps have to be precompiled. Plots.jl is not. StatPlots.jl depends on Plots.jl and MCMCChain.jl depends on Plots.jl and StatPlots.jl. If you separate out the plotting functionality to MCMCPlots or something, the rest may precompile nicely.

[2018-09-09 19:27] mohamed82008 commented on #508
I will experiment with it when I can.

[2018-09-09 21:32] trappmartin commented on #508
The version on the master of MCMCChain should not require Plots anymore!

[2018-09-09 21:35] hessammehr commented on #508
@trappmartin Sadly, StatPlot still depends on Plots. :( The good news is that there are talks of addressing this (see above issue).

[2018-09-10 01:57] mohamed82008 commented on #65
For shared-memory parallelism, I suggest making use of KissThreading.jl https://github.com/bkamins/KissThreading.jl which is shared-memory parallelism free of the closure bug hassle. That package is not registered yet, but I can work on getting it registered if it turns out to be useful here. GPU support is probably also worth considering at some point, but that's a much larger commitment.

[2018-09-10 17:20] willtebbutt opened #514 "@VarName can be replaced with a function"
This issue pertains to the `@VarName` macro in `compiler.jl`, which I don't believe needs to be a macro. This issue was previously discussed on #513, but it was felt that it should be dealt with in a separate PR.

In particular, replacing `@VarName` with a function `make_varname`, defined as follows:
[code]
and changing the `@~` macro method that handles expressions on the lhs to
[code]
appears to

[2018-09-10 17:48] yebai commented on #514
With a combination of the `~` macro and `make_varname`, this might work. Feel free to create a PR, probably after #513 is in.

[2018-09-10 21:28] xukai92 commented on #507
I agree with @yebai on the first two answers. + I think doing `Float64(f::Flux.Tracker.TrackedReal{Float64}) = f.data` is against type piracy (https://docs.julialang.org/en/v1.0.0/manual/style-guide/#Avoid-type-piracy-1)?

I don't think it's necessary to use broadcast here.

[2018-09-10 21:33] willtebbutt commented on #507
Adding
[code]
will almost certainly cause AD to fail silently, so we should _definitely_ not do this.

[2018-09-10 21:37] willtebbutt commented on #507
If the above `sqrt` broadcasting is something that is in one of our examples, then @hessammehr it would be good if you could make a PR to fix it. Otherwise we should close this issue.

[2018-09-10 21:52] willtebbutt commented on #504
I don't know how straightforward it will be to move towards immutability using the current `VarInfo` design, which is entirely formulated entirely around mutation. I do not believe that the current mutating design is a good choice for a number of reasons, however, it will be a substantial amount of work to move away from it. Consequently, the only viable resolution to your concern at the minute is

[2018-09-11 02:16] willtebbutt opened #516 "SGLD / SGHMC implementations"
Both the SGLD and SGHMC implementations contains lines similar to the following in their `step` functions:
[code]
It's not clear to me why we're indexing into `old_θ`, ` θ`, and `grad` using `[k, :]`. It's my understanding that all of these variables are `Vector`s, so their kth rows will always have length one. Is it possible for this not to be the case? Otherwise we should probably move to using

[2018-09-11 02:28] cpfiffer opened #517 "Reporting Functionality (Weave.jl and Literate.jl)"
This is continued from pull #512. I thought it might be wise to pull this particular conversation into a separate issue in the event that I'm missing something fairly obvious.

There's a problem I have with using both [Weave](https://github.com/mpastell/Weave.jl/) and [Literate](https://github.com/fredrikekre/Literate.jl). `@model` and/or `~` do not play nicely with other Julia code that tries to

[2018-09-11 05:09] mohamed82008 opened #518 "Reexport Distributions"
I noticed that most usage example go like:
[code]
So I think it would be nice to just use [Reexport.jl](https://github.com/simonster/Reexport.jl) and reexport `Distributions.jl` to make Turing self-sufficient. The same thing can be done for `MCMCChain.jl` I suppose. What do you think?

[2018-09-11 07:16] yebai commented on #518
Since it’s just a macro, can we just copy the code and its license instead of adding one more decency..

[2018-09-11 07:29] yebai commented on #516
Hi @emilemathieu, will is refactoring your sghmc code. Can you help him out? Thanks!

[2018-09-11 08:39] hessammehr commented on #507
@willtebbutt Will do.

@willtebbutt @xukai92 If you will indulge me, I was hoping to ask why the AD seems to handle `Real` just fine but chokes on `Float64`/`Float32`. Also wondering whether using an abstract type here has any performance implications.

[2018-09-11 09:11] emilemathieu commented on #516
Hi !

`θ` are the parameters of the model - `v` and `grad` have the same dimension.
I believe `for k in 1:size(old_θ, 1)` loops though each parameters of the model, which can be a vector. I can't remind how the parameters are saved in memory though (concatenated vector? matrix?).
In any case you're right using `[k]` is better.

Cheers,
Emile

[2018-09-11 09:53] willtebbutt commented on #518
Is there any particular reason that you're concerned about the extra dependency? I don't see what we lose by doing so, particularly given the new package manager, and it avoids adding yet _more_ code that isn't really central to what we do to Turing

[2018-09-11 10:05] mohamed82008 commented on #518
It's a 20 line macro, but let's keep as much code as we can out of Turing, 20 lines at a time. If it gets abandoned, we can pull it in, but it seems actively maintained and watched by some solid programmers. PR coming.

[2018-09-11 10:07] willtebbutt commented on #507
Ah, of course, happy to explain. It results from the way AD is currently implemented in Julia generally, as opposed to being something fundamental to AD, and has strong negative performance implications.

Say we're computing the gradient of a function `f(x)`, then (reverse-mode) AD fundamentally needs to keep track of every operation that happens during programme execution that involves `x`. The w

[2018-09-11 10:13] willtebbutt commented on #516
Thanks @emilemathieu . This was my suspicion, I just wanted to ensure that there's nothing strange going on with the stochastic gradient stuff. Will close this when my current PR is merged.

[2018-09-11 14:05] #518 closed

[2018-09-11 15:02] hessammehr commented on #507
@willtebbutt Thank you very much for the explanation. I think I understand the situation a lot better now. The `sqrt` issue has been fixed, so I am going to close this issue.

[2018-09-11 15:02] #507 closed

[2018-09-11 15:32] mohamed82008 commented on #517
Literate seems to work fine. You just need to define a file like this https://github.com/mohamed82008/Turing.jl/blob/literate/docs/example.jl or https://github.com/fredrikekre/Literate.jl/blob/master/examples/README.jl and then call
[code]
in the directory of the file to generate the md file like in https://github.com/mohamed82008/Turing.jl/blob/literate/docs/example.md. Not sure if you tried that

[2018-09-11 15:57] cpfiffer commented on #517
Literate works by itself because it only copies the code over and formats it to markdown. If I set `documenter = true` and try to execute those blocks via Documenter, that's when the issues occur.

I can convert the _inputs_ to markdown pretty easily, but I can't actually get the code to execute from within any of the literate programming tools the Julia has.

[2018-09-11 17:58] MikeInnes commented on #511
I don't know Turing well, so it would be useful if you could break this down to plain-Julia example and I can take a closer look. Reverse mode certainly has more overhead than forward for problems with a very small input dimension, so if that's the case and you're calling `gradient` millions of times, then those numbers could be reasonable. Other than that, I've generally found Tracker to be faste

[2018-09-11 21:04] mohamed82008 commented on #517
Relevant issue: https://github.com/fredrikekre/Literate.jl/issues/9. If you post your attempt there, you might get better help.

[2018-09-11 21:19] mohamed82008 commented on #517
With master Documenter, I am getting the same error as you.

[2018-09-11 21:59] mohamed82008 commented on #517
Most likely some scoping or parsing bug in Documenter.

[2018-09-11 22:06] cpfiffer commented on #517
I'll take this over to the Weave people.

[2018-09-12 07:49] mpastell commented on #517
Both Weave and Documenter (https://github.com/JuliaDocs/Documenter.jl/blob/c58e7e0fc0d62dc4ce631487002930813e4c51b3/src/DocTests.jl#L186) use a sandbox module to evaluate code blocks, which seems to be the problem here. I posted a solution for Weave in https://github.com/mpastell/Weave.jl/issues/145 .

[2018-09-12 10:21] revendrat opened #521 "Failed to Precompile"
Have tried it on Mac as well as on Windows 10, failing to precompile at both while using Turing for the first time. Was using packages in first cell in this notebook: https://github.com/TuringLang/TuringExamples/blob/master/notebooks/Workflow.ipynb
Here is the message. Could you please suggest what to do?

┌ Info: Precompiling Turing [fce5fe82-541a-59a6-adf8-730c64b5f9a0]
└ @ Base loading.jl:1186

[2018-09-12 10:44] trappmartin commented on #521
Are you using the master branch of Turing? It seems you are using Julia 1.0. For Turing to work on Julia 1.0 you have to add the master. To do so, run
[code]
in the Julia package manager REPL.

[2018-09-12 11:07] revendrat commented on #521
Thank you @trappmartin!  Now, I got a few warnings. Hope these won't pose any problem while using Turing
WARNING: could not import LinearAlgebra.gradient into Interpolations
WARNING: could not import Base.showcompact into Stan
┌ Warning: Environment variable CMDSTAN_HOME not found. Use set_cmdstan_home!.
└ @ Stan /Users/rev/.julia/packages/Stan/a6xnA/src/Stan.jl:18
WARNING: could not import NNlib.

[2018-09-12 11:12] trappmartin commented on #521
Please note that the example you linked to is slightly outdated if you use the master branch. It is probably better to try the example shown in the README or the [this](https://github.com/TuringLang/TuringTutorials/blob/master/0_Introduction.ipynb) one. We are currently working on improving the tutorials and documentation. So if you run into problems or need some help, feel free to ask.

cc @cpfif

[2018-09-12 12:11] revendrat commented on #521
Thank you @trappmartin! The tutorial has executed flawlessly, except for the animation plot. Thank you @cpfiffer for an elaborate tutorial.

[2018-09-12 12:11] #521 closed

[2018-09-12 12:32] yebai commented on #476
Related discussion from `Soss.jl`:

https://github.com/cscherrer/Soss.jl/issues/14

[2018-09-12 12:44] yebai opened #522 "Transformations of constrained parameters"
At the moment we have homemade transformations for HMC.  The following package seems like a better solution for domain transformations:

https://github.com/tpapp/ContinuousTransformations.jl

[2018-09-12 12:55] willtebbutt commented on #522
Might be an idea to keep an eye on [TransformVariables.jl](https://github.com/tpapp/TransformVariables.jl) as well, which appears to be under active development.

[2018-09-12 13:32] cpfiffer commented on #517
Closed [Weave #145](https://github.com/mpastell/Weave.jl/issues/145). Thank you for your help!

[2018-09-12 13:32] #517 closed

[2018-09-12 16:14] trappmartin commented on #446
The refactored compiler allows you to draw samples from the prior more directly.

Given the following model:
[code]
If we call:
[code]
all symbol at the left-hand side of ~ will be handled as parameter.

Calling:
[code]
will return a sample `x` drawn from the prior.
Calling `gdemo([5.0, 4.0])` instead, will behave as usual and handle `x` as an observation.

[2018-09-12 16:35] yebai commented on #446
@cpfiffer can we document this interface?

[2018-09-13 09:59] emilemathieu commented on #370
Hi guys !
Is there some progress concerning the handling of BNP models ?

It'd be cool for Turing to be the first PPL to handle a non ridiculous sub-class of BNP models in an efficient manner. I feel it's not that far from being readily usable :)

Cheers,
Emile

[2018-09-13 10:05] yebai opened #524 "Refactoring: remove `_lp` from generated model functions"
At the moment, we have 2 variables for tracking log joint probability, namely

- `VarInfo.logp`
- `_lp` inserted into generated model functions

This seems unnecessary and introduces an extra requirement for keeping them synchronised. Perhaps we should consider to remove `_lp` and use `VarInfo.logp` everywhere.

Related: https://github.com/TuringLang/Turing.jl/pull/513#issuecomment-420952515

[2018-09-13 10:18] trappmartin commented on #524
This sounds good as it would further simplify the compiler code.

[2018-09-13 10:33] #189 closed

[2018-09-13 10:35] #309 closed

[2018-09-13 10:41] emilemathieu commented on #370
Cool ! :)
Don't hesitate at that point if you have questions on the work I did.

[2018-09-13 10:48] mlomeli1 commented on #370
On my side, I am not working on how to improve the efficiency but will resume my poster work from next week and contribute with a notebook as @trappmartin :)

[2018-09-13 11:05] trappmartin commented on #370
Thanks, Maria!

@cpfiffer is currently working on improving the tutorials and documentation of Turing. It would probably be the best if @cpfiffer takes over the finished notebook once we can run BNP models using the master branch of Turing.

[2018-09-13 11:07] emilemathieu commented on #370
I'd be willing to write a blog post about that once it can be ran using the master branch of Turing :)

[2018-09-13 11:29] mohamed82008 opened #525 "Compiler performance"
I just finished reading the amusingly complicated and very dynamic compiler code. I am sure a lot of thought has gone into the current compiler design but I have a few concerns and questions. So I am opening this issue to start a discussion on ways to improve the performance of Turing starting from its core, the compiler.

So firstly I am going to explain how I think the compiler is doing things.

[2018-09-13 11:36] trappmartin commented on #525
I'm currently working on a major refactoring of the compiler, see PR #513.

I have some ideas on how to improve the current design but which would go much further than the current refactoring. Therefore, I think we should have further discussions after #513 is finished and merged into the master. The refactored compiler allows us to do changes and unit tests more easily.

[2018-09-13 12:14] xukai92 commented on #324
DynamicHMC.jl has a good adaptation design: https://github.com/tpapp/DynamicHMC.jl/blob/master/src/sampler.jl

[2018-09-13 12:22] willtebbutt opened #526 "Debug statements etc"
We have quite a lot of `@debug` statements floating around the code base, and I wonder how much additional value a lot of them provide. Debug messages like `@debug "run model..."` in a function called `runmodel` really don't provide any additional information over and above what a stack trace already provides, while cluttering the code.

I would be keen to understand whether
1. anyone feels that t

[2018-09-13 12:31] mohamed82008 commented on #525
Yes, I took a very brief look at that PR, but I think it doesn't tackle the main performance issues in relation to defining global variables, defining the inner function using `eval` and the other things mentioned above. So I think most of the points here are relevant even after #513 lands. I can do an experimental Compiler 2.0 after you finish your PR and see how much speed we can gain by just ap

[2018-09-13 12:39] yebai commented on #526
@willtebbutt That's a good point - many of these code are written when Julia's debugging environment isn't so mature.  Indeed, some `@debug` messages are a bit redundant and can be safely removed.

[2018-09-13 12:42] willtebbutt commented on #514
`getvsym` is very closely related to this functionality. Possibly rewrite in terms of this to prevent duplicate code.

[2018-09-13 12:43] willtebbutt commented on #526
Great. I'll do this once #513 is merged.

[2018-09-13 12:44] trappmartin commented on #525
I completely agree!

[2018-09-13 12:55] yebai opened #527 "Support DynamicHMC in Turing"
Excerpt from https://github.com/TuringLang/Turing.jl/issues/324#issuecomment-420995014

https://github.com/tpapp/DynamicHMC.jl/

[2018-09-13 15:04] trappmartin commented on #475
We can now do the following:

[code]
which is a cheap solution to the problem. Note that the ordering of the symbols in the second argument of `Turing.data` is deciding the ordering of the entries in the tuple, see last lines.

[2018-09-13 15:38] yebai commented on #475
This looks good!

[2018-09-13 21:22] ChrisRackauckas opened #528 "No v0.7 release?"
https://github.com/TuringLang/Turing.jl/compare/v0.4.4...master#diff-58476995b642435595799e856c5d2a74R1

v0.7 is used for updating packages, so there should be a working v0.7 release to help downstream packages upgrade.

[2018-09-14 05:28] mohamed82008 opened #529 "rand() and broadcast question"
Just checking, is this intended?
https://github.com/TuringLang/Turing.jl/blob/cba33402b3d71e95aa5cee9c043db5698b9f3b8c/src/samplers/support/resample.jl#L86
Using `rand()` like this will add the same random variable to all entries. To broadcast `rand` as well, we need `rand.()`.

[2018-09-14 09:16] yebai commented on #529
Sharing rand is the correct behaviour here - this resembling function is specifically designed for minismising Monte Carlo variance by reducing total amount of randomness.

[2018-09-14 09:17] mohamed82008 commented on #529
This `rand()` thing is a common mistake so I was double checking. Thanks.

[2018-09-14 09:17] #529 closed

[2018-09-14 09:19] yebai commented on #529
You raised a good point - there might be other places in Turing where we should broadcast rand.

[2018-09-14 09:36] yebai commented on #528
@ChrisRackauckas we’ll make a beta release over the weekend. we planned to release 0.5 after current refactoring is complete, but a beta should be fine.

[2018-09-14 10:10] mohamed82008 commented on #500
Apparently, `StatsFuns` is not registered so I am just renaming `logsum` to `logsumexp` in Turing.

[2018-09-14 10:40] trappmartin commented on #500
Maybe we could do the performance improvement you proposed while renaming? Log-sum-exp can be quite a performance bottleneck for certain types of models, e.g. deep mixtures.

[2018-09-14 10:49] yebai commented on #500
Seems the following command works on my computer:
[code]

[2018-09-14 10:51] mohamed82008 commented on #500
hmm that's weird, it doesn't work on mine. I will upgrade everything and try again.

[2018-09-14 10:53] mohamed82008 commented on #500
Actually now it works no idea what changed. Anyways, back to plan A then.

[2018-09-14 12:55] mohamed82008 opened #530 "Win32 tests are very slow on AppVeyor"
The Win64 tests usually take around 15 min but the Win32 ones take around 35 min. Is it a good idea to remove the Win32 tests to speed up the CI process?

[2018-09-14 13:20] willtebbutt opened #531 "Move style comments to style guide"
There is currently at least one style-related comment in the [source](https://github.com/TuringLang/Turing.jl/blob/cba33402b3d71e95aa5cee9c043db5698b9f3b8c/src/Turing.jl#L4). This should probably be moved to the style guide once #512 is merged. There might be more, so would be good to review this.

[2018-09-14 14:47] trappmartin opened #532 "Compiler does not pass on the sampler"
The `sampler` argument in generated alias `fname_model(sampler::Turing.Sampler)` is currently dropped. This might be a bug or unwanted behaviour.

[2018-09-14 14:55] trappmartin opened #533 "Compiler generated aliases"
Check which of the generated alias functions are necessary.

[2018-09-14 14:58] xukai92 opened #534 "LineNumberNode(-1) when constructing @~ macro"
Current we have

[code]

where the new required LineNumberNode is set to -1. I don't know how it is used and whether it will cause any problem or not.

[2018-09-14 15:00] mohamed82008 commented on #534
Should probably replace `-1` with `@__LINE__`. This is used for debugging AFAIK to give correct line info in a stacktrace.

[2018-09-14 15:01] mohamed82008 commented on #533
May you elaborate?

[2018-09-14 15:08] trappmartin commented on #533
The compiler currently generates alias functions for the closure function (model function). We should check after merging #513 which of those alias functions are actually required.

[2018-09-14 15:17] wesselb opened #535 "Link to Git Workflow"
In `docs/src/contributing/guide.md`, it might be better to link to a well-maintained guide. Options:

* https://guides.github.com/introduction/flow/
* https://github.com/JuliaLang/julia/blob/master/CONTRIBUTING.md

[2018-09-14 15:26] xukai92 opened #536 "Split "Advanced usages" in documentation"
We'd better put advanced usages for users and developers in separate place in the doc

[2018-09-14 16:12] #475 closed

[2018-09-14 16:12] #501 closed

[2018-09-14 16:12] #483 closed

[2018-09-14 16:13] #524 closed

[2018-09-14 16:30] trappmartin opened #537 "Remove spl = nothing"
We currently have `assume(nothing, ...)` calls in the tests, e.g. in `test/ad.jl/ad1.jl`. These calls should be adjusted such that we can remove `Nothing` from the type union in assume.

[2018-09-14 18:07] willtebbutt commented on #516
Closed by #515

[2018-09-14 18:07] #516 closed

[2018-09-14 18:07] willtebbutt commented on #509
Closed by #515

[2018-09-14 18:07] #509 closed

[2018-09-14 18:07] willtebbutt commented on #450
Closed by #515

[2018-09-14 18:07] #450 closed

[2018-09-14 19:02] #500 closed

[2018-09-14 19:09] attobot opened #538 "Error tagging new release"
The tag name "v0.5.0-beta1" is not of the appropriate SemVer form (vX.Y.Z).
cc: @yebai

[2018-09-14 19:10] #538 closed

[2018-09-14 19:13] attobot opened #539 "Error tagging new release"
The tag name "0.5.0" is not of the appropriate SemVer form (vX.Y.Z).
cc: @yebai

[2018-09-14 19:13] #539 closed

[2018-09-14 19:15] yebai commented on #528
New release tagged: https://github.com/JuliaLang/METADATA.jl/pull/18024

[2018-09-14 19:46] yebai opened #540 "Refactoring: move `transform.jl` into a separate package: `Bijectors.jl`"
Perhaps we can separate out `utilities/transform.jl` and related tests into a standalone package, for several reasons:

- it can be shared by other packages (e.g. Mamba, DynamicHMC)
- its tests are not very stable which causes Turing tests to fail

Related files

- https://github.com/TuringLang/Turing.jl/tree/master/test/transform.jl
- https://github.com/TuringLang/Turing.jl/blob/master/src/utilit

[2018-09-14 19:47] #490 closed

[2018-09-14 19:48] yebai commented on #430
Closed by #515

[2018-09-14 19:48] #430 closed

[2018-09-14 19:48] yebai commented on #423
`@suppress_err` is fixed now.

[2018-09-14 19:48] #423 closed

[2018-09-14 19:49] yebai commented on #415
This should be fixed now #515

[2018-09-14 19:49] #415 closed

[2018-09-14 19:49] yebai commented on #414
Fixed by #515

[2018-09-14 19:49] #414 closed

[2018-09-14 19:52] yebai commented on #239
Fixed by #513

[2018-09-14 19:52] #239 closed

[2018-09-14 22:09] xukai92 opened #541 "Wrap returns of gradient using DiffResults.DiffResult"
Initial proposed in https://github.com/TuringLang/Turing.jl/pull/515#discussion_r217775283

[2018-09-15 09:05] yebai opened #542 "Add numerical tests to transformations"
The current test file for `transform.jl` only test the functionality of `logpdf_with_trans`

https://github.com/TuringLang/Turing.jl/blob/ce780b87fa7ac64a4a516c8bfa1e32fe8152f55d/test/transform.jl/transform.jl#L11

We need to add correctness tests for `logpdf`, e.g.

[code]

[2018-09-15 09:08] yebai commented on #540
Related: #542 #522 #368

[2018-09-15 09:10] willtebbutt commented on #542
Good catch. I completely forgot to sort that out when I was refactoring. Will sort it out now.

[2018-09-15 12:52] yebai opened #544 "Running model without data returns error"
[code]

Here is the error message:
[code]

@trappmartin

[2018-09-15 13:02] trappmartin commented on #544
I’ll have a look. Does it work if x is a scalar?

[2018-09-15 13:06] yebai commented on #544
Probably not, since we are indexing `x` (i.e. `x[1] ~ Normal`).

[2018-09-15 15:35] #528 closed

[2018-09-15 15:35] ChrisRackauckas commented on #528
Thanks!

[2018-09-15 15:56] yebai opened #545 "Scope question"
Is anyone aware a package/way for extracting scoping structure of a Julia function? For a special reason, I need to implement a macro that can rename variables in child scopes so that variables that exist in both parent scope and child scopes are renamed to different names.

@mohamed82008 @ChrisRackauckas @mikeinnes @StefanKarpinski

[2018-09-15 22:06] cpfiffer commented on #446
I'm getting an error trying to replicate this functionality when I call `xprior = model()`:

[code]

[2018-09-15 22:32] yebai commented on #446
This is a known issue. See #544.

[2018-09-15 23:02] cpfiffer commented on #446
Man, I'm a dummy. I watched that issue come in the other day and obviously did not internalize it.

[2018-09-15 23:53] mohamed82008 commented on #545
Why not just replace every symbol in the body of every function by a unique `gensym()` keeping track of the mapping of which symbol became which other symbol? This should be possible with `@capture` and `postwalk` of `MacroTools.jl`. To make the global-only variables visible and not error, you will need to replace the variables on the LHS of an assignment first. Then whatever was replaced from the

[2018-09-17 11:15] trappmartin commented on #544
This problem is related to the fact that we do not know the dimensions and type of `x` if we draw `x` from the prior.

Running the code as:
[code]
works fine with the current version of Turing.
@cpfiffer Could you please add the scalar version into the documentation?

However, idealy the user should be able to do something in the lines of
[code]
or alternativelly something like:
[code]
in which th

[2018-09-17 11:27] trappmartin commented on #534
Changed to `@__LINE__` as proposed.

[2018-09-17 11:27] #534 closed

[2018-09-17 11:43] willtebbutt commented on #544
Potentially controversial opinion: I think that @yebai 's example _should_ break. As @trappmartin says, nothing about `x` is known when the function is invoked, other than that we're assigning to it. More fundamentally, `x` is an input to that model, and I really don't think that we should be able to run a model that requires arguments without providing them (it's just inconsistent with what one g